In [1]:
from market.fred import fetcher
import pandas as pd
from pathlib import Path

In [ ]:
fred = fetcher.FREDFetcher()
fred.load_presets()
categories = fred.get_preset_categories()
series_treasury = fred.get_preset_symbols('Treasury Yields')
display(series_treasury)

['DGS1MO',
 'DGS3MO',
 'DGS6MO',
 'DGS1',
 'DGS2',
 'DGS3',
 'DGS5',
 'DGS7',
 'DGS10',
 'DGS20',
 'DGS30']

In [ ]:
data = fred.fetch_preset('Treasury Yields')
display(data)

[MarketDataResult(symbol='DGS1MO', data=            value
 2001-07-31   3.67
 2001-08-01   3.65
 2001-08-02   3.65
 2001-08-03   3.63
 2001-08-06   3.62
 ...           ...
 2026-01-21   3.75
 2026-01-22   3.79
 2026-01-23   3.78
 2026-01-26   3.77
 2026-01-27   3.77

 [6391 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 5, 289888), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS1MO'}),
 MarketDataResult(symbol='DGS3MO', data=            value
 1981-09-01  17.01
 1981-09-02  16.65
 1981-09-03  16.96
 1981-09-04  16.64
 1981-09-07    NaN
 ...           ...
 2026-01-21   3.70
 2026-01-22   3.71
 2026-01-23   3.70
 2026-01-26   3.67
 2026-01-27   3.67

 [11586 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 5, 987525), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS3MO'}),
 MarketDataResult(symbol='DGS6MO', data=            value
 1981-09-01  17.17
 1981-09-02  17.32
 1981-09-03  17.42
 1981-09-04  17.37
 1981-09-07    NaN
 ...           ...
 2026-01-21   3.62
 2026-01-22   3.61
 2026-01-23   3.61
 2026-01-26   3.62
 2026-01-27   3.61

 [11586 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 6, 825689), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS6MO'}),
 MarketDataResult(symbol='DGS1', data=            value
 1962-01-02   3.22
 1962-01-03   3.24
 1962-01-04   3.24
 1962-01-05   3.26
 1962-01-08   3.31
 ...           ...
 2026-01-21   3.53
 2026-01-22   3.53
 2026-01-23   3.53
 2026-01-26   3.52
 2026-01-27   3.50

 [16716 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 7, 776705), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS1'}),
 MarketDataResult(symbol='DGS2', data=            value
 1976-06-01   7.26
 1976-06-02   7.23
 1976-06-03   7.22
 1976-06-04   7.12
 1976-06-07   7.09
 ...           ...
 2026-01-21   3.60
 2026-01-22   3.61
 2026-01-23   3.60
 2026-01-26   3.56
 2026-01-27   3.53

 [12956 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 8, 602713), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS2'}),
 MarketDataResult(symbol='DGS3', data=            value
 1962-01-02   3.70
 1962-01-03   3.70
 1962-01-04   3.69
 1962-01-05   3.71
 1962-01-08   3.71
 ...           ...
 2026-01-21   3.66
 2026-01-22   3.68
 2026-01-23   3.67
 2026-01-26   3.66
 2026-01-27   3.65

 [16716 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 9, 586145), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS3'}),
 MarketDataResult(symbol='DGS5', data=            value
 1962-01-02   3.88
 1962-01-03   3.87
 1962-01-04   3.86
 1962-01-05   3.89
 1962-01-08   3.91
 ...           ...
 2026-01-21   3.83
 2026-01-22   3.85
 2026-01-23   3.84
 2026-01-26   3.82
 2026-01-27   3.81

 [16716 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 10, 607984), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS5'}),
 MarketDataResult(symbol='DGS7', data=            value
 1969-07-01   6.88
 1969-07-02   6.89
 1969-07-03   6.85
 1969-07-04    NaN
 1969-07-07   6.86
 ...           ...
 2026-01-21   4.04
 2026-01-22   4.05
 2026-01-23   4.03
 2026-01-26   4.02
 2026-01-27   4.03

 [14761 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 11, 471744), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS7'}),
 MarketDataResult(symbol='DGS10', data=            value
 1962-01-02   4.06
 1962-01-03   4.03
 1962-01-04   3.99
 1962-01-05   4.02
 1962-01-08   4.03
 ...           ...
 2026-01-21   4.26
 2026-01-22   4.26
 2026-01-23   4.24
 2026-01-26   4.22
 2026-01-27   4.24

 [16716 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 12, 369833), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS10'}),
 MarketDataResult(symbol='DGS20', data=            value
 1962-01-02   4.07
 1962-01-03   4.07
 1962-01-04   4.06
 1962-01-05   4.07
 1962-01-08   4.08
 ...           ...
 2026-01-21   4.82
 2026-01-22   4.79
 2026-01-23   4.78
 2026-01-26   4.75
 2026-01-27   4.79

 [16716 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 13, 186842), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS20'}),
 MarketDataResult(symbol='DGS30', data=            value
 1977-02-15   7.70
 1977-02-16   7.67
 1977-02-17   7.67
 1977-02-18   7.76
 1977-02-21    NaN
 ...           ...
 2026-01-21   4.87
 2026-01-22   4.84
 2026-01-23   4.82
 2026-01-26   4.80
 2026-01-27   4.83

 [12771 rows x 1 columns], source=<DataSource.FRED: 'fred'>, fetched_at=datetime.datetime(2026, 1, 29, 16, 17, 14, 158189), from_cache=False, metadata={'source': 'fred', 'series_id': 'DGS30'})]

In [ ]:
display(data[0].data.assign(symbol=data[0].symbol))

            value  symbol
2001-07-31   3.67  DGS1MO
2001-08-01   3.65  DGS1MO
2001-08-02   3.65  DGS1MO
2001-08-03   3.63  DGS1MO
2001-08-06   3.62  DGS1MO
...           ...     ...
2026-01-21   3.75  DGS1MO
2026-01-22   3.79  DGS1MO
2026-01-23   3.78  DGS1MO
2026-01-26   3.77  DGS1MO
2026-01-27   3.77  DGS1MO

[6391 rows x 2 columns]