# ROIC Analysis ver5

-   ver4 のマイナーチェンジ版

In [31]:
%load_ext autoreload
%autoreload 2

import pandas as pd
from pathlib import Path
import numpy as np
import datetime
import itertools
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import matplotlib.ticker as mtick
from pprint import pprint
import yaml
import sqlite3
from database_utils import get_table_names, append_diff_to_sqlite
import factset_downloaded_data_utils as f_db_utils
import ROIC_make_data_files_ver2 as roic_utils
import warnings

warnings.simplefilter("ignore")

UNIVERSE_CODE = "MSXJPN_AD"

ROOT_DIR = Path().cwd().parent
DATA_DIR = ROOT_DIR / "data"
FACTSET_DIR = DATA_DIR / "Factset"
BPM_DIR = DATA_DIR / "BPM"
INDEX_DIR = FACTSET_DIR / f"Financials/{UNIVERSE_CODE}"
INDEX_CONSTITUENTS_DIR = FACTSET_DIR / "Index_Constituents"


db_path = INDEX_DIR / "Financials_and_Price.db"
factset_index_db_path = INDEX_CONSTITUENTS_DIR / "Index_Constituents.db"
bpm_db_path = BPM_DIR / "Index_Constituents.db"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## BPM と Factset からダウンロードしたデータを sqlite3 に保存

-   インデックス別にテーブルを作成する
-   元データは"Index_Constituents_with_Factset_code-compressed-\*.paruqet" -> 圧縮して送信した
-   BPM から取得した構成比や銘柄 ID などのデータと、Factset でダウンロードした seol, cusip, isin, code_jp にそれぞれ対応する P_SYMBOL および FG_COMPANY_NAME を格納したデータ。

In [ ]:
compressed_files = list(
    INDEX_CONSTITUENTS_DIR.glob(
        "Index_Constituents_with_Factset_code-compressed-*.parquet"
    )
)

dfs = [pd.read_parquet(f) for f in compressed_files]
df = (
    pd.concat(dfs)
    .assign(
        date=lambda x: pd.to_datetime(x["date"]),
        SEDOL=lambda x: x["SEDOL"].astype(str),
    )
    .replace("N/A", np.nan)
)
df[["Holdings", "Weight (%)", "Mkt Value"]] = df[
    ["Holdings", "Weight (%)", "Mkt Value"]
].astype(float)

head_cols = ["Universe", "Universe_code_BPM", "date"]
other_cols = [col for col in df.columns if col not in head_cols]
df = df.reindex(columns=head_cols + other_cols).sort_values(
    ["Universe", "date", "Name"], ignore_index=True
)

for universe_code in df["Universe_code_BPM"].unique():
    df_slice = df.loc[df["Universe_code_BPM"] == universe_code].reset_index(drop=True)
    f_db_utils.store_to_database(
        df=df_slice,
        db_path=factset_index_db_path,
        table_name=universe_code,
        unique_cols=["date", "Name", "Asset ID"],
    )

table_names = get_table_names(db_path=factset_index_db_path)
display(table_names)

テーブル 'MSSUD' は存在しません。新しいテーブルとして、すべての 47072 行を追加します。
データの書き込みが完了しました。
テーブル 'MSASD' は存在しません。新しいテーブルとして、すべての 319851 行を追加します。
データの書き込みが完了しました。
テーブル 'MSACAPFAD' は存在しません。新しいテーブルとして、すべての 344002 行を追加します。
データの書き込みが完了しました。
テーブル 'MSAPFXJ_AD' は存在しません。新しいテーブルとして、すべての 247340 行を追加します。
データの書き込みが完了しました。
テーブル 'MSCAFXJAD' は存在しません。新しいテーブルとして、すべての 223596 行を追加します。
データの書き込みが完了しました。
テーブル 'MSAWIF_AD' は存在しません。新しいテーブルとして、すべての 788150 行を追加します。
データの書き込みが完了しました。
テーブル 'MSCIHKGD' は存在しません。新しいテーブルとして、すべての 11887 行を追加します。
データの書き込みが完了しました。
テーブル 'MSCIINDD' は存在しません。新しいテーブルとして、すべての 23987 行を追加します。
データの書き込みが完了しました。
テーブル 'MSFIDND' は存在しません。新しいテーブルとして、すべての 7701 行を追加します。
データの書き込みが完了しました。
テーブル 'MSXJPN_AD' は存在しません。新しいテーブルとして、すべての 399723 行を追加します。
データの書き込みが完了しました。
テーブル 'MSFKORD' は存在しません。新しいテーブルとして、すべての 29542 行を追加します。
データの書き込みが完了しました。
テーブル 'MSFMALD' は存在しません。新しいテーブルとして、すべての 15061 行を追加します。
データの書き込みが完了しました。
テーブル 'MSFPHID' は存在しません。新しいテーブルとして、すべての 5510 行を追加します。
データの書き込みが完了しました。
テーブル 'MSCISIND' は存在しません。新しいテーブルとして、すべての 8856 行を追加します。
データの書き込みが完了しました。
テーブル 'MSFTAID' は存在しません。新しいテーブルとして、すべての 29723 行を追加します。
データの書き込みが完了しました。
テーブル 'MSFTHAD' は存在しません。新しいテーブルとして、すべての 10304 行を追加します。
データの書き込みが完了しました。

['MSSUD',
 'MSASD',
 'MSACAPFAD',
 'MSAPFXJ_AD',
 'MSCAFXJAD',
 'MSAWIF_AD',
 'MSCIHKGD',
 'MSCIINDD',
 'MSFIDND',
 'MSXJPN_AD',
 'MSFKORD',
 'MSFMALD',
 'MSFPHID',
 'MSCISIND',
 'MSFTAID',
 'MSFTHAD']

In [ ]:
conn = sqlite3.connect(factset_index_db_path)
df = pd.read_sql("SELECT * FROM MSXJPN_AD", con=conn)
df["P_SYMBOL_missing"] = df["P_SYMBOL"].isna()
display(df)

g = df.groupby(["date", "P_SYMBOL_missing"])["Weight (%)"].agg(["count", "sum"])
display(g)

,Universe,Universe_code_BPM,date,Name,Bloomberg Ticker,BloombergID,Asset ID,Asset ID Type,SEDOL,Country,...,P_SYMBOL_CUSIP,ISIN,FG_COMPANY_NAME_ISIN,P_SYMBOL_ISIN,CODE_JP,FG_COMPANY_NAME_CODE_JP,P_SYMBOL_CODE_JP,P_SYMBOL,FG_COMPANY_NAME,P_SYMBOL_missing
0,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,21ST CENTURY FOX,None,None,AUSBIN2,BARRAID,662075,AUS,...,None,None,None,None,None,None,None,FOXLV-AU,Twenty-First Century Fox Inc. Class A CDI,False
1,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,21ST CENTURY FOX,None,None,AUSBIN1,BARRAID,688692,AUS,...,None,None,None,None,None,None,None,FOX-AU,Twenty-First Century Fox Inc. Class B CDI,False
2,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,3I GROUP PLC,None,None,UKIENL1,BARRAID,0888693,GBR,...,TGOPF-US,GB0008886938,スリーアイ・グループ,III-GB,None,None,None,III-GB,スリーアイ・グループ,False
3,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,3M CO,None,None,USAJ8P1,BARRAID,2595708,USA,...,MMM-US,US6040591058,3Mカンパニー,MMM-US,None,None,None,MMM-US,3Mカンパニー,False
4,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,ABB LTD,None,None,SWIAAN1,BARRAID,5661190,CHE,...,None,CH0003846620,ABB,ABBN-CH,None,None,None,ABBN-CH,ABB,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399718,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZIMMER BIOMET HOLDINGS INC,None,None,USA4JT1,BARRAID,2783815,USA,...,ZBH-US,US98956P1021,ジンマー・バイオメット・ホールディングス,ZBH-US,None,None,None,ZBH-US,ジンマー・バイオメット・ホールディングス,False
399719,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZOETIS INC,None,None,USBANZ1,BARRAID,B95WG16,USA,...,ZTS-US,US98978V1035,ゾエティス Class A,ZTS-US,None,None,None,ZTS-US,ゾエティス Class A,False
399720,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZOOM COMMUNICATIONS INC,None,None,USBEOV1,BARRAID,BGSP7M9,USA,...,ZM-US,US98980L1017,ズーム・ビデオ・コミュニケーションズ Class A,ZM-US,None,None,None,ZM-US,ズーム・ビデオ・コミュニケーションズ Class A,False
399721,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZSCALER INC,None,None,USBDYI1,BARRAID,BZ00V34,USA,...,ZS-US,US98980G1022,ゼットスケイラー,ZS-US,None,None,None,ZS-US,ゼットスケイラー,False
399722,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZURICH INSURANCE GROUP AG,None,None,SWIAFM2,BARRAID,5983816,CHE,...,ZFSVF-US,CH0011075394,チューリッヒ・インシュアランス・グループ,ZURN-CH,None,None,None,ZURN-CH,チューリッヒ・インシュアランス・グループ,False

                                      count         sum
date                P_SYMBOL_missing
2000-01-31 00:00:00 False               991   97.959673
                    True                 74    2.040327
2000-02-29 00:00:00 False               989   97.900800
                    True                 73    2.099194
2000-03-31 00:00:00 False               989   98.129503
...                                     ...         ...
2025-05-31 00:00:00 True                  1    0.000228
2025-06-30 00:00:00 False              1142   99.999989
2025-07-31 00:00:00 False              1139  100.000012
2025-08-31 00:00:00 False              1140  100.000009
2025-09-30 00:00:00 False              1140   99.999991

[400 rows x 2 columns]

## Factset からダウンロードしたデータをまとめる

1. まず Financials および Price のデータをデータベースに格納

In [ ]:
file_list = list(INDEX_DIR.glob("Financials_and_Price-compressed-*.parquet"))
dfs = [pd.read_parquet(f) for f in file_list]
df = (
    pd.concat(dfs)
    .sort_values(["variable", "P_SYMBOL", "date"], ignore_index=True)
    .assign(value=lambda x: x["value"].astype(float))
)

for variable in df["variable"].unique():
    df_slice = df.loc[df["variable"] == variable]
    f_db_utils.store_to_database(
        df=df_slice,
        db_path=db_path,
        table_name=variable,
        unique_cols=["date", "P_SYMBOL"],
    )

table_names = get_table_names(db_path=db_path)
display(table_names)

テーブル 'FF_ASSETS' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_BPS' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_BPS_TANG' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_CAPEX' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_CASH_ST' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_COGS' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_COM_EQ' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_CURR_RATIO' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DEBT' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DEBT_ENTRPR_VAL' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DEBT_EQ' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DEBT_LT' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DEBT_ST' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DEP_AMORT_EXP' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DIV_YLD' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_DPS' は存在しません。新しいテーブルとして、すべての 509349 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_EBITDA_OPER' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_EBITDA_OPER_MGN' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_EBIT_OPER' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_EBIT_OPER_MGN' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ENTRPR_VAL_EBITDA_OPER' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ENTRPR_VAL_EBIT_OPER' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ENTRPR_VAL_SALES' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_EPS' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_EPS_DIL' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_FREE_CF' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_FREE_PS_CF' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_GROSS_INC' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_GROSS_MGN' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_INC_TAX' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_INT_EXP_NET' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_LIABS' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_LIABS_SHLDRS_EQ' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_MIN_INT_ACCUM' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_NET_DEBT' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_NET_INC' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_NET_MGN' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_OPER_CF' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_OPER_INC' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_OPER_MGN' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_OPER_PS_NET_CF' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PAY_OUT_RATIO' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PBK' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PE' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PFD_STK' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PPE_NET' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PSALES' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PTX_INC' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_PTX_MGN' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_QUICK_RATIO' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ROA' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ROE' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ROIC' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_ROTC' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_SALES' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_SALES_PS' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_SGA' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_SHLDRS_EQ' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_STK_OPT_EXP' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_STK_PURCH_CF' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_TAX_RATE' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FF_WKCAP' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'FG_PRICE' は存在しません。新しいテーブルとして、すべての 515864 行を追加します。
  -> データの書き込みが完了しました。

['Financials',
 'Price',
 'FF_ASSETS',
 'FF_BPS',
 'FF_BPS_TANG',
 'FF_CAPEX',
 'FF_CASH_ST',
 'FF_COGS',
 'FF_COM_EQ',
 'FF_CURR_RATIO',
 'FF_DEBT',
 'FF_DEBT_ENTRPR_VAL',
 'FF_DEBT_EQ',
 'FF_DEBT_LT',
 'FF_DEBT_ST',
 'FF_DEP_AMORT_EXP',
 'FF_DIV_YLD',
 'FF_DPS',
 'FF_EBITDA_OPER',
 'FF_EBITDA_OPER_MGN',
 'FF_EBIT_OPER',
 'FF_EBIT_OPER_MGN',
 'FF_ENTRPR_VAL_EBITDA_OPER',
 'FF_ENTRPR_VAL_EBIT_OPER',
 'FF_ENTRPR_VAL_SALES',
 'FF_EPS',
 'FF_EPS_DIL',
 'FF_FREE_CF',
 'FF_FREE_PS_CF',
 'FF_GROSS_INC',
 'FF_GROSS_MGN',
 'FF_INC_TAX',
 'FF_INT_EXP_NET',
 'FF_LIABS',
 'FF_LIABS_SHLDRS_EQ',
 'FF_MIN_INT_ACCUM',
 'FF_NET_DEBT',
 'FF_NET_INC',
 'FF_NET_MGN',
 'FF_OPER_CF',
 'FF_OPER_INC',
 'FF_OPER_MGN',
 'FF_OPER_PS_NET_CF',
 'FF_PAY_OUT_RATIO',
 'FF_PBK',
 'FF_PE',
 'FF_PFD_STK',
 'FF_PPE_NET',
 'FF_PSALES',
 'FF_PTX_INC',
 'FF_PTX_MGN',
 'FF_QUICK_RATIO',
 'FF_ROA',
 'FF_ROE',
 'FF_ROIC',
 'FF_ROTC',
 'FF_SALES',
 'FF_SALES_PS',
 'FF_SGA',
 'FF_SHLDRS_EQ',
 'FF_STK_OPT_EXP',
 'FF_STK_PURCH_CF',
 'FF_TAX_RATE',
 'FF_WKCAP',
 'FG_PRICE']

### リターンのテーブルを作成

In [ ]:
conn = sqlite3.connect(db_path)
df = pd.read_sql(
    "SELECT date, P_SYMBOL, value FROM FG_PRICE",
    con=conn,
    parse_dates=["date"],  # read_sql側で日付型に変換
    index_col="date",  # 同時にインデックスに設定
)
# value の型変換とリネーム
df["FG_PRICE"] = df["value"].astype(float)
df = df.drop(columns=["value"]).sort_index()

# 1. 元のdfをP_SYMBOLとdateを列に戻す
df_reset = df.reset_index()

# 2. 全銘柄リストと全日付リストを取得
all_symbols = df_reset["P_SYMBOL"].unique()
all_dates = df_reset["date"].unique()

# 3. 全銘柄×全日付の組み合わせ(MultiIndex)を作成
new_index = pd.MultiIndex.from_product(
    [all_symbols, all_dates], names=["P_SYMBOL", "date"]
)

# 4. 元のデータをMultiIndexにセットし直し、存在しない組み合わせをNaNで埋める
#    これが「整然化」されたデータ
df_regular = df_reset.set_index(["P_SYMBOL", "date"]).reindex(new_index)

# 5. この整然化されたデータに対してリターンを計算する
#    dateでソートする必要がある
df_regular = df_regular.sort_index(level="date")

for period_month in [1, 3, 6, 12, 36, 60]:
    period_name = (
        f"{int(period_month//12)}Y" if period_month >= 36 else f"{period_month}M"
    )

    # 通常のリターンとforwardリターンを計算
    df_regular[f"Return_{period_name}"] = df_regular.groupby("P_SYMBOL")[
        "FG_PRICE"
    ].pct_change(period_month)
    df_regular[f"Forward_Return_{period_name}"] = df_regular.groupby("P_SYMBOL")[
        f"Return_{period_name}"
    ].shift(-period_month)

    # 年率化したカラムを追加
    if period_month > 12:
        df_regular[f"Return_{period_name}_annlzd"] = df_regular[
            f"Return_{period_name}"
        ].div(int(period_month // 12))
        df_regular[f"Forward_Return_{period_name}_annlzd"] = df_regular[
            f"Forward_Return_{period_name}"
        ].div(int(period_month // 12))
    else:
        df_regular[f"Return_{period_name}_annlzd"] = df_regular[
            f"Return_{period_name}"
        ].div(int(12 // period_month))
        df_regular[f"Forward_Return_{period_name}_annlzd"] = df_regular[
            f"Forward_Return_{period_name}"
        ].div(int(12 // period_month))


# --------------
# データチェック
# 銘柄によってはdateが1カ月ずつ連続でデータがあるとは限らない
# FG_PRICEがない場合にpct_changeを素直に実行するとリターンの期間が他の銘柄とずれる
# そのため、全dateの長さと銘柄ごとのdateの長さを比較する
# --------------

df_check = df_regular.reset_index()
symbol_date_counts = df_check.groupby("P_SYMBOL")["date"].nunique()
all_date_len = len(df_check["date"].unique())
not_enough_len_symbols = symbol_date_counts[symbol_date_counts != all_date_len].index
if len(not_enough_len_symbols) > 0:
    display(not_enough_len_symbols)
else:  # 問題なければデータベースに保存
    print("問題なし")
    df_regular.reset_index(inplace=True)
    display(df_regular.head(5))
    for col in [
        s
        for s in df_regular.columns
        if s.startswith("Return") or s.startswith("Forward_Return")
    ]:
        df_slice = (
            df_regular[["date", "P_SYMBOL", col]]
            .rename(columns={col: "value"})
            .assign(variable=col)
        )
        df_slice["value"] = df_slice["value"].astype(float)
        df_slice["date"] = pd.to_datetime(df_slice["date"])
        f_db_utils.store_to_database(df=df_slice, db_path=db_path, table_name=col)

問題なし

,P_SYMBOL,date,FG_PRICE,Return_1M,Forward_Return_1M,Return_1M_annlzd,Forward_Return_1M_annlzd,Return_3M,Forward_Return_3M,Return_3M_annlzd,...,Return_12M_annlzd,Forward_Return_12M_annlzd,Return_3Y,Forward_Return_3Y,Return_3Y_annlzd,Forward_Return_3Y_annlzd,Return_5Y,Forward_Return_5Y,Return_5Y_annlzd,Forward_Return_5Y_annlzd
0,0HSW-GB,2005-08-31,3.225569,NaN,0.127660,NaN,0.010638,NaN,0.342199,NaN,...,NaN,0.511361,NaN,0.847736,NaN,0.282579,NaN,0.847736,NaN,0.169547
1,0II3.XX1-GB,2005-08-31,4.166256,NaN,0.014796,NaN,0.001233,NaN,0.060419,NaN,...,NaN,0.093151,NaN,0.115485,NaN,0.038495,NaN,0.115485,NaN,0.023097
2,0MDJ-GB,2005-08-31,6.092351,NaN,0.045704,NaN,0.003809,NaN,0.015539,NaN,...,NaN,0.071298,NaN,0.416530,NaN,0.138843,NaN,0.416530,NaN,0.083306
3,0N1N-GB,2005-08-31,5.655000,NaN,0.038904,NaN,0.003242,NaN,0.015031,NaN,...,NaN,0.337754,NaN,0.366932,NaN,0.122311,NaN,0.366932,NaN,0.073386
4,0N3I-GB,2005-08-31,2.810000,NaN,0.028470,NaN,0.002372,NaN,0.025801,NaN,...,NaN,-0.150356,NaN,0.153025,NaN,0.051008,NaN,0.154448,NaN,0.030890

テーブル 'Return_1M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Forward_Return_1M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Return_1M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Forward_Return_1M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Return_3M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Forward_Return_3M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Return_3M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Forward_Return_3M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Return_6M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Forward_Return_6M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Return_6M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Forward_Return_6M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Return_12M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Forward_Return_12M' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Return_12M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Forward_Return_12M_annlzd' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Return_3Y' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Forward_Return_3Y' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Return_3Y_annlzd' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Forward_Return_3Y_annlzd' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Return_5Y' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Forward_Return_5Y' は存在しません。新しいテーブルとして、すべての 516818 行を追加します。
  -> データの書き込みが完了しました。
テーブル 'Return_5Y_annlzd' に追加すべき新しいデータはありませんでした。スキップします。
テーブル 'Forward_Return_5Y_annlzd' に追加すべき新しいデータはありませんでした。スキップします。

In [ ]:
## Make Return Date(Store to database)

db_path = DATA_DIR / "MSCI_KOKUSAI_Price_Daily.db"
conn = sqlite3.connect(db_path)
query = """
    SELECT
        *
    FROM
        FG_PRICE_Daily
    WHERE
        date IN(
                SELECT
                    MAX(date)
                FROM
                    FG_PRICE_Daily
                GROUP BY
                    strftime('%Y-%m', date)
            )
    ORDER BY
        date
"""
df = (
    pd.read_sql(query, con=conn, parse_dates=["date"])
    .drop(columns=["variable"])
    .rename(columns={"P_SYMBOL": "Symbol", "value": "FG_PRICE"})
)
conn.close()

# Symbolごとに、日付が最大となる行のインデックスを取得
# ->　最後の日付が中途半端(2025-8-25など)となっている場合があるため、そのような日付を削除する
idx_to_drop = df.groupby("Symbol")["date"].idxmax()
df = df.drop(idx_to_drop)
display(df)


df_return = df.copy()

if roic_utils.check_all_months_exist(df_return):
    df_return["Return_Ann_1M"] = df_return.groupby(["Symbol"])["FG_PRICE"].transform(
        lambda x: 12 * np.log(x / x.shift(1))
    )
    df_return["Return_Ann_3M"] = df_return.groupby(["Symbol"])["FG_PRICE"].transform(
        lambda x: 4 * np.log(x / x.shift(3))
    )
    df_return["Return_Ann_6M"] = df_return.groupby(["Symbol"])["FG_PRICE"].transform(
        lambda x: 2 * np.log(x / x.shift(6))
    )
    df_return["Return_Ann_1Y"] = df_return.groupby(["Symbol"])["FG_PRICE"].transform(
        lambda x: np.log(x / x.shift(12))
    )
    df_return["Return_Ann_3Y"] = df_return.groupby(["Symbol"])["FG_PRICE"].transform(
        lambda x: np.log(x / x.shift(36)) / 3
    )
    df_return["Return_Ann_5Y"] = df_return.groupby(["Symbol"])["FG_PRICE"].transform(
        lambda x: np.log(x / x.shift(60)) / 5
    )

    df_return = pd.melt(
        df_return.drop(columns=["FG_PRICE"]),
        id_vars=["date", "Symbol"],
        value_vars=[
            col for col in df_return.columns.tolist() if col.startswith("Return_")
        ],
        var_name="variable",
    )

    # export
    db_path = DATA_DIR / "MSCI_KOKUSAI_Return.db"
    conn = sqlite3.connect(db_path)
    df_return.to_sql("Annualized_Return", con=conn, index=False, if_exists="replace")
    # append_diff_to_sqlite(
    #     db_path=db_path, table_name="Annualized_Return", df_new=df_return
    # )
    conn.close()
    display(df_return)
    del df_return, df
else:
    raise

## データベース内容確認

In [ ]:
table_names = get_table_names(db_path=db_path)
display(table_names)

['Financials', 'Price']

In [ ]:
conn = sqlite3.connect(bpm_db_path)
df = pd.read_sql("SELECT * FROM MSXJPN_AD", con=conn)
display(df)

,Universe,Universe_code_BPM,date,Name,Bloomberg Ticker,BloombergID,Asset ID,Asset ID Type,CODE_JP,CUSIP,SEDOL,ISIN,Country,GICS Sector,GICS Industry,GICS Industry Group,GICS Sub-Industry,Holdings,Weight (%),Mkt Value
0,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,21ST CENTURY FOX,None,None,AUSBIN1,BARRAID,None,None,688692,None,AUS,Consumer Discretionary,Media,Media,Movies & Entertainment,2.022644e+09,0.141024,2.547608e+12
1,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,21ST CENTURY FOX,None,None,AUSBIN2,BARRAID,None,None,662075,None,AUS,Consumer Discretionary,Media,Media,Movies & Entertainment,2.134869e+09,0.130405,2.355792e+12
2,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,3I GROUP PLC,None,None,UKIENL1,BARRAID,None,G4708P104,0888693,GB0008886938,GBR,Financials,Financial Services,Financial Services,Diversified Financial Services,5.954320e+08,0.058274,1.052726e+12
3,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,3M CO,None,None,USAJ8P1,BARRAID,None,604059105,2595708,US6040591058,USA,Industrials,Industrial Conglomerates,Capital Goods,Industrial Conglomerates,4.013340e+08,0.222650,4.022205e+12
4,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31 00:00:00,ABB LTD,None,None,SWIAAN1,BARRAID,None,H7303M102,5661190,CH0003846620,CHE,Industrials,Electrical Equipment,Capital Goods,Heavy Electrical Equipment,3.000024e+08,0.197368,3.565481e+12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
399718,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZIMMER BIOMET HOLDINGS INC,None,None,USA4JT1,BARRAID,None,98956P102,2783815,US98956P1021,USA,Health Care,Health Care Equipment & Supplies,Health Care Equipment & Services,Health Care Equipment,1.978479e+08,0.025576,2.878088e+12
399719,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZOETIS INC,None,None,USBANZ1,BARRAID,None,98978V103,B95WG16,US98978V1035,USA,Health Care,Pharmaceuticals,Pharmaceuticals Biotechnology & Life Sciences,Pharmaceuticals,4.452081e+08,0.085493,9.620621e+12
399720,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZOOM COMMUNICATIONS INC,None,None,USBEOV1,BARRAID,None,98980L101,BGSP7M9,US98980L1017,USA,Information Technology,Software,Software & Services,Application Software,2.472661e+08,0.026772,3.012693e+12
399721,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZSCALER INC,None,None,USBDYI1,BARRAID,None,98980G102,BZ00V34,US98980G1022,USA,Information Technology,Software,Software & Services,Systems Software,1.012022e+08,0.039800,4.478732e+12
399722,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-09-30 00:00:00,ZURICH INSURANCE GROUP AG,None,None,SWIAFM2,BARRAID,None,H9870Y105,5983816,CH0011075394,CHE,Financials,Insurance,Insurance,Multi-line Insurance,1.463558e+08,0.136782,1.539220e+13

## ROIC(ROE) + Security Code

-   セクター中立
-   金融セクターのみ ROIC の代わりに ROE を使用（ただしデータフレームのカラム名は ROIC で表記）

In [ ]:
# --- get ROIC and ROE data ---
conn = sqlite3.connect(db_path)
df_roic = (
    (pd.read_sql(sql="SELECT * FROM FF_ROIC", con=conn))
    .assign(date=lambda row: pd.to_datetime(row["date"]))
    .drop(columns=["variable"])
    .rename(columns={"P_SYMBOL": "Symbol", "value": "FF_ROIC"})
)
df_roe = (
    (pd.read_sql("SELECT * FROM FF_ROE", con=conn))
    .assign(date=lambda row: pd.to_datetime(row["date"]))
    .drop(columns=["variable"])
    .rename(columns={"P_SYMBOL": "Symbol", "value": "FF_ROE"})
)
df_roic = pd.merge(df_roic, df_roe, on=["date", "Symbol"], how="left").assign(
    date=lambda row: pd.to_datetime(row["date"]) + pd.tseries.offsets.MonthEnd(0)
)
del df_roe

# --- get security info data ---
conn = sqlite3.connect(factset_index_db_path)
query = f"""
    SELECT
        `date`, `P_SYMBOL`, `FG_COMPANY_NAME`, `GICS Sector`, `GICS Industry`, `Weight (%)`, `Mkt Value`
    FROM
        {UNIVERSE_CODE}
"""
security_info = (
    pd.read_sql(query, con=conn)
    .rename(columns={"P_SYMBOL": "Symbol"})
    .assign(
        date=lambda row: pd.to_datetime(row["date"]),
    )
)


# --- merge ---

df_roic_merged = (
    pd.merge(df_roic, security_info, on=["date", "Symbol"], how="left")
    .assign(
        ROIC=lambda x: np.where(
            x["GICS Sector"] == "Financials", x["FF_ROE"], x["FF_ROIC"]
        )
    )
    .dropna(subset=["Weight (%)", "ROIC"], how="any")
    .drop(columns=["FF_ROIC", "FF_ROE"])
)

# sector中立でROICをランキング
df_roic_merged = roic_utils.add_factor_rank_cols(df_roic_merged, factor_name="ROIC")
df_roic_merged = roic_utils.add_shifted_factor_cols_month(
    df_roic_merged,
    factor_name="ROIC_Rank",
    shift_month=list(range(1, 61)),
    shift_direction="Past",
)

# ROICラベルを付与
year_period = 5
df_roic_merged[f"ROIC_label_Past{year_period}Y"] = df_roic_merged.apply(
    lambda row: roic_utils.test_assign_roic_label(
        row=row,
        freq="annual",
        shift_direction="Past",
        year_period=year_period,
        judge_by_slope=False,
    ),
    axis=1,
)

df = (
    df_roic_merged.copy()[["date", "Symbol", "ROIC_label_Past5Y"]]
    .rename(columns={"ROIC_label_Past5Y": "value", "Symbol": "P_SYMBOL"})
    .dropna(subset=["value"], ignore_index=True)
    .assign(variable="ROIC_label_Past5Y", date=lambda row: pd.to_datetime(row["date"]))
)
display(df)


# データベース保存
f_db_utils.store_to_database(df=df, db_path=db_path, table_name="ROIC_label_Past5Y")

            date P_SYMBOL         value           variable
0     2011-07-31   MRK-US  move to high  ROIC_label_Past5Y
1     2011-08-31   MRK-US  move to high  ROIC_label_Past5Y
2     2011-09-30   MRK-US  move to high  ROIC_label_Past5Y
3     2011-10-31   MRK-US  move to high  ROIC_label_Past5Y
4     2011-11-30   MRK-US  move to high  ROIC_label_Past5Y
...          ...      ...           ...                ...
83120 2025-09-30   WOW-AU        others  ROIC_label_Past5Y
83121 2025-09-30   WPP-GB        others  ROIC_label_Past5Y
83122 2025-09-30   WTB-GB        others  ROIC_label_Past5Y
83123 2025-09-30   YAR-NO   drop to low  ROIC_label_Past5Y
83124 2025-09-30  ZURN-CH   drop to low  ROIC_label_Past5Y

[83125 rows x 4 columns]

テーブル 'ROIC_label_Past5Y' は存在しません。新しいテーブルとして、すべての 83125 行を追加します。
  -> データの書き込みが完了しました。

In [ ]:
# --- label count ---
roic_count = pd.pivot(
    pd.DataFrame(
        df.groupby(["date", "GICS Sector", "ROIC_label_Past5Y"])["Symbol"].count()
    ).reset_index(),
    index=["date", "GICS Sector"],
    columns="ROIC_label_Past5Y",
).reset_index()
display(roic_count.loc[roic_count["GICS Sector"] == "Information Technology"])

roic_count = pd.pivot(
    pd.DataFrame(
        df.groupby(["date", "GICS Sector", "ROIC_Rank"])["Symbol"].count()
    ).reset_index(),
    index=["date", "GICS Sector"],
    columns="ROIC_Rank",
).reset_index()
display(roic_count.loc[roic_count["GICS Sector"] == "Information Technology"])

# --- weight check ---
weight_total_count = (
    df.groupby(["date"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()

weight_sector_count = (
    df.groupby(["date", "GICS Sector"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
display(weight_total_count)
display(weight_sector_count)

roic_label_count = (
    df.groupby(["date", "ROIC_label_Past5Y"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
display(roic_label_count)

                        date             GICS Sector      Symbol               \
ROIC_label_Past5Y                                    drop to low move to high
20                2013-08-31  Information Technology         3.0         10.0
30                2013-09-30  Information Technology         3.0         10.0
40                2013-10-31  Information Technology         2.0         10.0
50                2013-11-30  Information Technology         3.0         11.0
60                2013-12-31  Information Technology         5.0         10.0
...                      ...                     ...         ...          ...
1018              2025-05-31  Information Technology        11.0          9.0
1029              2025-06-30  Information Technology        10.0          7.0
1040              2025-07-31  Information Technology        11.0          7.0
1051              2025-08-31  Information Technology        13.0          7.0
1062              2025-09-30  Information Technology         5.0          1.0


ROIC_label_Past5Y others remain high remain low
20                  24.0        10.0        3.0
30                  24.0        11.0        4.0
40                  25.0        10.0        5.0
50                  24.0        10.0        5.0
60                  21.0        11.0        6.0
...                  ...         ...        ...
1018                32.0        13.0        2.0
1029                33.0        15.0        2.0
1040                31.0        16.0        1.0
1051                30.0        16.0        1.0
1062                 9.0         7.0        1.0

[98 rows x 7 columns]

                date             GICS Sector Symbol
ROIC_Rank                                     rank1 rank2 rank3 rank4 rank5
7         2005-08-31  Information Technology     25    25    24    25    25
17        2005-09-30  Information Technology     25    25    25    25    25
27        2005-10-31  Information Technology     25    25    25    25    26
37        2005-11-30  Information Technology     25    25    25    25    26
47        2005-12-31  Information Technology     25    25    25    25    25
...              ...                     ...    ...   ...   ...   ...   ...
1605      2025-05-31  Information Technology     24    23    24    23    24
1616      2025-06-30  Information Technology     23    22    23    22    23
1627      2025-07-31  Information Technology     23    22    22    22    23
1638      2025-08-31  Information Technology     23    22    22    22    23
1648      2025-09-30  Information Technology      8     7     7     7     8

[158 rows x 7 columns]

            Num of Securities  Total Weight (%)
date
2005-08-31               1296         91.341262
2005-09-30               1291         91.723118
2005-10-31               1290         91.461135
2005-11-30               1284         91.742185
2005-12-31               1318         95.426320
...                       ...               ...
2025-05-31               1160         99.764161
2025-06-30               1129         99.163967
2025-07-31               1127         99.286490
2025-08-31               1124         99.259065
2025-09-30                385         30.527551

[158 rows x 2 columns]

                                   Num of Securities  Total Weight (%)
date       GICS Sector
2005-08-31 Communication Services                 40          4.554126
           Consumer Discretionary                231         10.119443
           Consumer Staples                       91          8.564437
           Energy                                 73         10.562697
           Financials                            280         21.092156
...                                              ...               ...
2025-09-30 Industrials                            68          2.657545
           Information Technology                 37         12.303719
           Materials                              25          1.015295
           Real Estate                            20          0.264640
           Utilities                              18          0.251028

[1653 rows x 2 columns]

                              Num of Securities  Total Weight (%)
date       ROIC_label_Past5Y
2011-07-31 move to high                       1          0.466623
2011-08-31 move to high                       1          0.487915
2011-09-30 move to high                       1          0.533305
2011-10-31 move to high                       1          0.505093
2011-11-30 move to high                       1          0.537068
...                                         ...               ...
2025-09-30 drop to low                       35          3.672414
           move to high                      64          2.705728
           others                           117          9.559750
           remain high                       54         11.495302
           remain low                        29          1.265848

[503 rows x 2 columns]

In [ ]:
# --- add ROIC Rank cols ---
df_roic_merged = roic_utils.add_shifted_roic_cols_month(
    df_roic_merged, shift_direction="Past"
)
df_roic_merged = roic_utils.add_roic_rank_cols(df_roic_merged, freq_suffix="1M")
df_roic_merged = roic_utils.add_roic_rank_cols(df_roic_merged, freq_suffix="12M")
df_roic_merged = roic_utils.add_roic_rank_cols(df_roic_merged, freq_suffix="24M")
df_roic_merged = roic_utils.add_roic_rank_cols(df_roic_merged, freq_suffix="36M")
df_roic_merged = roic_utils.add_roic_rank_cols(df_roic_merged, freq_suffix="48M")
df_roic_merged = roic_utils.add_roic_rank_cols(df_roic_merged, freq_suffix="60M")
df_roic_merged["ROIC_label_Past5Y"] = df_roic_merged.apply(
    lambda row: roic_utils.test_assign_roic_label(
        row=row,
        freq="annual",
        shift_direction="Past",
        year_period=5,
        judge_by_slope=False,
    ),
    axis=1,
)
df = df_roic_merged.copy()[
    [
        "date",
        "Symbol",
        "FG_COMPANY_NAME",
        "GICS Sector",
        "GICS Industry",
        "Weight (%)",
        "Mkt Value",
        "ROIC_label_Past5Y",
    ]
]

# --- 作成したROIC特徴量をデータベースに保存 ---
df_to_store = (
    df[["date", "Symbol", "ROIC_label_Past5Y"]]
    .rename(columns={"Symbol": "P_SYMBOL", "ROIC_label_Past5Y": "value"})
    .assign(variable="ROIC_label_Past5Y")
)
f_db_utils.store_to_database(
    df=df_to_store,
    db_path=db_path,
    table_name="ROIC_label_Past5Y",
    unique_cols=["date", "P_SYMBOL"],
)
del df_roic_merged, df_to_store


# --- label count ---
roic_count = pd.pivot(
    pd.DataFrame(
        df.groupby(["date", "GICS Sector", "ROIC_label_Past5Y"])["Symbol"].count()
    ).reset_index(),
    index=["date", "GICS Sector"],
    columns="ROIC_label_Past5Y",
)
display(roic_count)
weight_total_count = (
    df.groupby(["date"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
weight_sector_count = (
    df.groupby(["date", "GICS Sector"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
display(weight_total_count)
display(weight_sector_count)

roic_label_count = (
    df.groupby(["date", "ROIC_label_Past5Y"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
display(roic_label_count)

既存の 144706 行との重複をチェックしました。55963 行を新たに追加します。
  -> データの書き込みが完了しました。

                                       Symbol                                  \
ROIC_label_Past5Y                 drop to low move to high others remain high
date       GICS Sector
2013-08-31 Communication Services         2.0          NaN    7.0         NaN
           Consumer Discretionary        28.0          8.0   20.0        13.0
           Consumer Staples               5.0          6.0   19.0        10.0
           Energy                         3.0          9.0   14.0         4.0
           Financials                    18.0         29.0   56.0        16.0
...                                       ...          ...    ...         ...
2025-09-30 Industrials                    7.0          8.0   17.0        11.0
           Information Technology         6.0          NaN    9.0         7.0
           Materials                      4.0          4.0    9.0         2.0
           Real Estate                    NaN          3.0    7.0         NaN
           Utilities                      1.0          NaN    9.0         NaN


ROIC_label_Past5Y                 remain low
date       GICS Sector
2013-08-31 Communication Services        3.0
           Consumer Discretionary        8.0
           Consumer Staples              5.0
           Energy                        6.0
           Financials                    6.0
...                                      ...
2025-09-30 Industrials                  10.0
           Information Technology        1.0
           Materials                     1.0
           Real Estate                   7.0
           Utilities                     6.0

[1053 rows x 5 columns]

            Num of Securities  Total Weight (%)
date
2005-08-31               1296         91.341262
2005-09-30               1291         91.723118
2005-10-31               1290         91.461135
2005-11-30               1284         91.742185
2005-12-31               1318         95.426320
...                       ...               ...
2025-05-31               1160         99.764161
2025-06-30               1129         99.163967
2025-07-31               1127         99.286490
2025-08-31               1124         99.259065
2025-09-30                385         30.527551

[158 rows x 2 columns]

                                   Num of Securities  Total Weight (%)
date       GICS Sector
2005-08-31 Communication Services                 40          4.554126
           Consumer Discretionary                231         10.119443
           Consumer Staples                       91          8.564437
           Energy                                 73         10.562697
           Financials                            280         21.092156
...                                              ...               ...
2025-09-30 Industrials                            68          2.657545
           Information Technology                 37         12.303719
           Materials                              25          1.015295
           Real Estate                            20          0.264640
           Utilities                              18          0.251028

[1653 rows x 2 columns]

                              Num of Securities  Total Weight (%)
date       ROIC_label_Past5Y
2013-08-31 drop to low                       99          9.008378
           move to high                      95         10.276710
           others                           208         20.954615
           remain high                       78         15.244679
           remain low                        76          5.360637
...                                         ...               ...
2025-09-30 drop to low                       41          4.949732
           move to high                      45          1.852377
           others                           130          9.670608
           remain high                       49         11.410937
           remain low                        34          0.815388

[490 rows x 2 columns]

## ROIC label: (Factor) Performance

In [ ]:
table_names = get_table_names(db_path=db_path)
display(sorted([s for s in table_names if "annlzd" in s]))

['Forward_Return_12M_annlzd',
 'Forward_Return_1M_annlzd',
 'Forward_Return_3M_annlzd',
 'Forward_Return_3Y_annlzd',
 'Forward_Return_5Y_annlzd',
 'Forward_Return_6M_annlzd',
 'Return_12M_annlzd',
 'Return_1M_annlzd',
 'Return_3M_annlzd',
 'Return_3Y_annlzd',
 'Return_5Y_annlzd',
 'Return_6M_annlzd']

In [ ]:
# 構成銘柄情報
conn = sqlite3.connect(factset_index_db_path)
query = f"""
    SELECT
        `date`, `Universe`, `Universe_code_BPM`, `P_SYMBOL`, `Name`, `FG_COMPANY_NAME`, `Asset ID`, `Asset ID Type`, `Country`,
        `GICS Sector`, `GICS Industry`, `GICS Industry Group`, `GICS Sub-Industry`, `Holdings`, `Weight (%)`, `Mkt Value`
    FROM
        {UNIVERSE_CODE}
"""
df_weight = pd.read_sql(query, con=conn)

# ROIC label and Return
conn = sqlite3.connect(db_path)
union_queries = ["SELECT * FROM ROIC_label_Past5Y"] + [
    f"SELECT * FROM '{table}'"
    for table in get_table_names(db_path=db_path)
    if "annlzd" in table
]
query = " UNION ALL ".join(union_queries)
data = pd.pivot(
    pd.read_sql(query, con=conn),
    index=["date", "P_SYMBOL"],
    columns="variable",
    values="value",
).reset_index()

df = (
    pd.merge(df_weight, data, on=["date", "P_SYMBOL"], how="outer")
    .dropna(subset=["Weight (%)"])
    .fillna(np.nan)
)
display(df)

,date,Universe,Universe_code_BPM,P_SYMBOL,Name,FG_COMPANY_NAME,Asset ID,Asset ID Type,Country,GICS Sector,...,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd,Forward_Return_6M_annlzd,ROIC_label_Past5Y,Return_12M_annlzd,Return_1M_annlzd,Return_3M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Return_6M_annlzd
0,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0HSW-GB,TELENT PLC,Telent PLC,UKIGDP1,BARRAID,GBR,Information Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0MDJ-GB,CADBURY PLC,Cadbury PLC,UKIBBF1,BARRAID,GBR,Consumer Staples,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0O2E-GB,SSL INTERNATIONAL,SSL International PLC,UKIDQY1,BARRAID,GBR,Health Care,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0P7J-GB,AMEC FOSTER WHEELER PLC,Amec Foster Wheeler plc,UKIAPY1,BARRAID,GBR,Industrials,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0UAN-GB,INVESCO,Invesco Ltd.,UKIAYK1,BARRAID,GBR,Financials,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765239,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZBRA-US,ZEBRA TECHNOLOGIES CORP,ゼブラ・テクノロジーズ・コーポレーション Class A,USAP8H1,BARRAID,USA,Information Technology,...,NaN,NaN,NaN,NaN,0.256331,-0.005238,-0.009080,0.059019,0.347357,0.025835
765248,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZM-US,ZOOM COMMUNICATIONS INC,ズーム・ビデオ・コミュニケーションズ Class A,USBEOV1,BARRAID,USA,Information Technology,...,NaN,NaN,NaN,NaN,0.179582,0.001105,0.014491,-0.274836,NaN,0.059170
765250,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZS-US,ZSCALER INC,ゼットスケイラー,USBDYI1,BARRAID,USA,Information Technology,...,NaN,NaN,NaN,NaN,0.925959,0.006801,-0.011372,0.376644,NaN,0.255115
765251,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZTS-US,ZOETIS INC,ゾエティス Class A,USBANZ1,BARRAID,USA,Health Care,...,NaN,NaN,NaN,NaN,-0.158984,-0.005371,-0.015438,-0.038399,0.258971,-0.055664
765252,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZURN-CH,ZURICH INSURANCE GROUP AG,チューリッヒ・インシュアランス・グループ,SWIAFM2,BARRAID,CHE,Financials,...,NaN,NaN,NaN,drop to low,0.348726,-0.002538,0.005409,0.255587,0.183615,-0.039350

In [ ]:
for sector in df["GICS Sector"].unique():
    df_slice = df.loc[(df["date"] >= "2015-01-01") & (df["GICS Sector"] == sector)]
    return_cols = [
        "Return_1M_annlzd",
        "Return_3M_annlzd",
        "Return_6M_annlzd",
        "Return_12M_annlzd",
        "Return_3Y_annlzd",
        "Return_5Y_annlzd",
        "Forward_Return_1M_annlzd",
        "Forward_Return_3M_annlzd",
        "Forward_Return_6M_annlzd",
        "Forward_Return_12M_annlzd",
        "Forward_Return_3Y_annlzd",
        "Forward_Return_5Y_annlzd",
    ]

    g = (
        df_slice.groupby(["ROIC_label_Past5Y"])[return_cols]
        .apply(roic_utils.clipped_mean, 1.0)
        .mul(100)
    )

    print(sector)
    display(g)

Information Technology

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.253018,2.335428,8.905890,38.511964,55.717033,73.231783,0.152806,1.544811,6.736669,26.366057,31.235906,47.579582
move to high,0.181172,1.112797,4.212618,15.351183,24.676909,40.392492,0.082462,1.016050,5.160434,24.077907,27.467701,24.875539
others,0.232910,1.723549,6.020415,23.506943,31.984008,42.671657,0.118501,1.463480,6.065615,23.623332,28.785395,46.147494
remain high,0.219641,1.797148,6.828118,28.330577,44.307316,61.267066,0.128394,1.570361,7.151273,28.575051,33.845922,38.503804
remain low,0.141965,0.976652,4.040416,14.758101,17.853101,28.371514,0.081900,0.578209,2.919081,16.048036,13.349521,17.334162

Consumer Staples

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.007840,0.356150,2.200993,9.872868,19.273542,27.413831,0.018151,-0.031994,0.431251,0.220613,3.718368,3.188102
move to high,0.059512,0.474997,1.212309,2.290911,5.304678,10.116299,0.066369,0.412636,1.589676,6.466918,7.329964,8.747571
others,0.039271,0.435983,1.899532,8.043796,12.878518,18.074684,0.066990,0.277416,1.536338,5.580566,7.360045,8.078684
remain high,0.048077,0.629032,2.802637,11.377647,17.508136,24.773914,0.079038,0.346333,1.715135,7.104920,9.956115,7.446351
remain low,0.037205,0.496826,1.801975,5.165888,6.849906,7.705112,0.064362,0.377968,2.093184,7.273457,5.074320,4.110849

Health Care

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.088824,1.034148,3.499455,16.315826,26.191815,36.713475,0.113859,0.531831,2.384145,8.276694,12.355472,8.077505
move to high,0.066376,0.549576,1.995496,7.719734,14.270961,21.286698,0.079282,0.523725,2.137371,8.156460,14.449539,17.833220
others,0.066459,0.643913,2.734041,12.035731,20.369870,27.255054,0.108165,0.764935,3.349316,13.969293,15.531956,14.963825
remain high,0.102403,1.215378,4.752187,18.847368,28.691430,37.265581,0.137422,0.901750,3.596965,17.582712,18.858622,23.340595
remain low,0.006454,0.629513,1.377664,4.420608,8.626028,15.187215,0.015794,0.153999,0.755904,2.869054,8.756200,15.799440

Industrials

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.147039,1.698141,6.783709,28.420811,32.335264,33.253079,0.136284,1.182594,4.836372,17.910558,18.153857,21.382634
move to high,0.081278,0.749270,2.317332,6.982743,8.941714,12.820865,0.115367,0.763941,3.284485,13.455267,13.373261,11.105444
others,0.139408,1.227185,4.241742,15.413903,20.243758,22.914076,0.127940,1.102787,4.232355,15.342697,15.693488,16.713748
remain high,0.115476,0.982463,3.788929,14.606101,18.868016,24.391691,0.113739,0.752337,3.306192,13.159175,13.533342,16.201460
remain low,0.070328,0.876766,3.014497,10.674722,12.683509,14.605677,0.112845,0.763832,3.803916,15.327879,11.795867,9.363392

Financials

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.201440,1.610078,5.519508,19.456596,20.382018,18.446067,0.146556,1.363773,5.711679,16.814169,9.864976,11.973484
move to high,0.098646,1.099712,3.167442,8.541042,8.736452,10.283101,0.080474,0.641722,3.041008,9.207313,9.532985,10.169531
others,0.136762,1.277441,4.104236,12.820525,13.857833,14.384130,0.092890,0.978592,4.058596,15.419134,10.966169,9.367064
remain high,0.123828,0.989077,3.226598,12.545961,15.863902,20.772004,0.082855,0.720119,3.417750,12.609565,10.860040,12.989326
remain low,0.122766,1.440395,4.062676,11.284138,7.714177,3.621897,0.085016,1.155884,5.056423,19.626068,19.341716,12.244110

Consumer Discretionary

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.093601,1.224379,4.532404,21.200998,31.870164,42.055524,0.127143,0.458677,1.776953,3.411700,2.959944,0.538609
move to high,0.036069,0.218496,0.346542,-0.248882,4.233897,11.756198,0.057693,0.205329,1.040562,2.117496,4.007556,3.881178
others,0.070338,0.645432,2.498742,9.469241,15.997767,23.421466,0.092761,0.547560,2.342336,8.944209,5.576399,6.128114
remain high,0.102351,1.116881,4.587015,18.858436,26.442443,39.016752,0.122419,0.846141,4.151303,16.486921,16.840745,17.857614
remain low,0.046878,0.532883,1.824286,7.417594,8.933747,13.918071,0.117739,0.576297,3.520311,12.737299,5.058074,4.853470

Utilities

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.110348,0.846359,4.050344,14.128921,15.775003,17.732695,0.079780,0.557295,1.865214,8.288920,9.017038,5.680323
move to high,0.033872,0.169765,0.402823,-0.607426,2.653079,2.481168,0.046736,0.492309,2.452690,10.476658,7.510185,10.700279
others,0.089104,0.635074,2.390976,8.498152,10.983531,11.239751,0.074682,0.480347,2.147885,7.304507,6.338710,4.812746
remain high,0.060097,0.307904,1.131783,3.129355,5.944755,9.597941,0.010086,0.102406,0.679143,1.855791,-3.007560,-5.173761
remain low,0.167434,0.438982,1.139252,3.893060,9.405733,10.448666,0.126011,0.919110,3.943941,13.135196,10.858307,9.878246

Materials

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.135535,1.662236,6.971965,27.607423,23.335649,24.774206,0.142830,0.928409,3.191724,7.904752,12.543586,10.165927
move to high,0.146162,0.706302,2.293085,7.144384,3.701893,5.566938,0.175502,1.147335,5.066395,20.941383,16.430191,16.725230
others,0.085577,0.823425,2.801962,14.441431,14.901975,14.538295,0.128769,0.885227,3.692331,13.846926,11.669205,10.592723
remain high,0.054826,0.665887,2.319586,8.549426,19.543769,27.461383,0.111133,0.472412,1.972858,8.466667,7.804432,7.985955
remain low,0.079677,1.212464,4.256136,13.761680,7.934767,5.964494,0.081539,0.133343,1.821760,4.483970,3.991626,3.697366

Energy

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.104748,0.847181,3.274174,14.157183,16.502403,10.930310,0.131868,0.914193,4.404246,21.390876,15.579958,9.355908
move to high,0.217030,1.168932,0.870757,-0.226989,0.538146,0.128577,0.174914,1.260166,6.263730,21.995467,10.043608,1.455857
others,0.073696,0.817016,3.671377,22.466433,8.754933,5.806701,0.119829,0.445182,1.167621,10.134337,10.535147,6.535800
remain high,-0.023849,0.442338,1.244386,1.677902,6.967709,8.352246,0.140954,0.755914,2.622717,15.570860,12.809431,8.122271
remain low,-0.016795,-0.064542,-3.815094,-13.764915,-0.200134,1.718938,0.137502,-0.983577,-4.429213,-22.303404,-8.719177,-3.451955

Communication Services

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.081415,0.734673,2.155834,6.386549,10.060857,21.342145,-0.004566,0.105867,0.566320,3.199140,7.423908,2.742381
move to high,0.017875,0.224220,0.686896,-0.629108,-0.086498,1.951882,0.017001,0.067316,0.239127,0.205224,-2.056679,-2.058609
others,0.047325,0.438831,1.058007,1.471335,4.124637,9.094759,0.024205,0.125120,1.174564,1.951504,0.237457,-0.736672
remain high,0.035337,0.329827,1.532434,6.948491,12.002146,17.024239,-0.003450,-0.031105,0.672540,2.214950,-2.206091,-4.307523
remain low,0.006013,-0.318117,-0.896365,-4.701775,-2.753702,0.546070,-0.004959,-0.112752,-0.383640,-9.537188,-6.376657,1.612821

nan

Empty DataFrame
Columns: [Return_1M_annlzd, Return_3M_annlzd, Return_6M_annlzd, Return_12M_annlzd, Return_3Y_annlzd, Return_5Y_annlzd, Forward_Return_1M_annlzd, Forward_Return_3M_annlzd, Forward_Return_6M_annlzd, Forward_Return_12M_annlzd, Forward_Return_3Y_annlzd, Forward_Return_5Y_annlzd]
Index: []

Real Estate

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.024169,0.286013,0.491021,4.994689,8.474113,12.857907,0.063042,0.213532,1.661823,5.634995,4.907708,1.881710
move to high,0.027388,0.273338,0.097093,-2.484286,-1.395301,1.706393,0.017852,0.147704,0.971242,-3.909749,-7.577874,-6.360446
others,-0.008922,-0.004421,-0.119785,-1.167440,2.019207,5.495177,0.019636,-0.139111,-0.754053,-2.848897,-2.250782,-3.122870
remain high,0.102316,1.450499,4.570651,14.589760,17.327475,23.348868,0.166315,1.229060,5.728898,19.781809,16.795296,28.046929
remain low,0.104402,1.071138,3.483587,14.134613,14.953645,25.151238,0.109475,0.492194,3.150322,12.460569,6.638372,8.311310

## Growth factor

### Calculate Growth Factor

-   まず QoQ, YoY, 3Yr CAGR, 5Yr CAGR の値を計算し、データベースに保存する

In [ ]:
table_names = get_table_names(db_path=db_path)
# display(table_names)

conn = sqlite3.connect(db_path)
data_list = [
    "FF_SALES",
    "FF_EBITDA_OPER",
    "FF_EBIT_OPER",
    "FF_EPS",
    "FF_OPER_CF",
    "FF_ASSETS",
    "FF_COM_EQ",
    "FF_DEBT",
    "FF_DEBT_LT",
    "FF_DEBT_ST",
]

for data in data_list:
    df = pd.read_sql(
        f"SELECT * FROM `{data}`", con=conn, parse_dates="date"
    ).sort_values("date", ignore_index=True)
    for growth in ["QoQ", "YoY", "CAGR_3Y", "CAGR_5Y"]:
        df_growth = df.copy()
        new_variable = f"{data}_{growth}"
        f_db_utils.delete_table_from_database(db_path=db_path, table_name=new_variable)

        if growth in ["QoQ", "YoY"]:
            periods = 3 if growth == "QoQ" else 12
            df_growth[new_variable] = df_growth.groupby(["P_SYMBOL"])[
                "value"
            ].pct_change(periods=periods)
        elif growth in ["CAGR_3Y", "CAGR_5Y"]:
            years = int(growth.replace("CAGR_", "").replace("Y", ""))

            df_growth[new_variable] = df_growth.groupby(["P_SYMBOL"])[
                "value"
            ].transform(lambda x: roic_utils.calculate_cagr(x, years=years))

        df_growth = df_growth.drop(columns=["value", "variable"]).dropna(
            subset=[new_variable], ignore_index=True
        )
        df_growth = df_growth.rename(columns={new_variable: "value"}).assign(
            variable=new_variable
        )

        f_db_utils.store_to_database(
            df=df_growth, db_path=db_path, table_name=new_variable
        )

データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_QoQ' は存在しません。新しいテーブルとして、すべての 439898 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_YoY' は存在しません。新しいテーブルとして、すべての 413224 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 254494 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 193421 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_QoQ' は存在しません。新しいテーブルとして、すべての 391672 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_YoY' は存在しません。新しいテーブルとして、すべての 367169 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 202790 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 153608 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_QoQ' は存在しません。新しいテーブルとして、すべての 395293 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_YoY' は存在しません。新しいテーブルとして、すべての 370768 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 190706 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 144374 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_QoQ' は存在しません。新しいテーブルとして、すべての 441756 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_YoY' は存在しません。新しいテーブルとして、すべての 414526 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 186127 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 141466 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_QoQ' は存在しません。新しいテーブルとして、すべての 433996 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_YoY' は存在しません。新しいテーブルとして、すべての 406892 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 191529 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 144278 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_QoQ' は存在しません。新しいテーブルとして、すべての 441318 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_YoY' は存在しません。新しいテーブルとして、すべての 413967 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 251233 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 190996 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_QoQ' は存在しません。新しいテーブルとして、すべての 441481 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_YoY' は存在しません。新しいテーブルとして、すべての 414162 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 239075 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 181384 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_QoQ' は存在しません。新しいテーブルとして、すべての 422215 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_YoY' は存在しません。新しいテーブルとして、すべての 398442 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 237743 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 179401 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_QoQ' は存在しません。新しいテーブルとして、すべての 413730 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_YoY' は存在しません。新しいテーブルとして、すべての 391462 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 232155 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 174578 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_QoQ' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_QoQ' は存在しません。新しいテーブルとして、すべての 390633 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_YoY' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_YoY' は存在しません。新しいテーブルとして、すべての 372109 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_CAGR_3Y' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_CAGR_3Y' は存在しません。新しいテーブルとして、すべての 207127 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_CAGR_5Y' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_CAGR_5Y' は存在しません。新しいテーブルとして、すべての 155202 行を追加します。
  -> データの書き込みが完了しました。

-   次に、上記ファクターのランクを計算し、データベースに保存する

In [ ]:
# 構成銘柄情報
conn = sqlite3.connect(factset_index_db_path)
query = f"""
    SELECT
        `date`, `P_SYMBOL`, `FG_COMPANY_NAME`, `Asset ID`, `GICS Sector`, `Weight (%)`
    FROM
        {UNIVERSE_CODE}
"""
df_weight = pd.read_sql(query, parse_dates="date", con=conn)

# ファクター値
conn = sqlite3.connect(db_path)
factor_list = [
    "FF_SALES",
    "FF_EBITDA_OPER",
    "FF_EBIT_OPER",
    "FF_EPS",
    "FF_OPER_CF",
    "FF_ASSETS",
    "FF_COM_EQ",
    "FF_DEBT",
    "FF_DEBT_LT",
    "FF_DEBT_ST",
]
period_list = ["QoQ", "YoY", "CAGR_3Y", "CAGR_5Y"]

for factor, periods in itertools.product(factor_list, period_list):
    factor_growth = f"{factor}_{periods}"
    # f_db_utils.delete_table_from_database(db_path=db_path, table_name=f"{factor_growth}_Rank")

    # データベースから呼び出し
    df = (
        pd.read_sql(
            f"SELECT `date`, `P_SYMBOL`, `value` FROM `{factor_growth}`",
            con=conn,
            parse_dates="date",
        )
        .assign(
            date=lambda row: pd.to_datetime(row["date"])
            + pd.tseries.offsets.MonthEnd(0)
        )
        .sort_values("date", ignore_index=True)
        .rename(columns={"value": factor_growth})
    )

    # display(df)

    # merge: 構成銘柄情報とファクター
    df_rank = (
        pd.merge(df_weight, df, on=["date", "P_SYMBOL"], how="outer")
        .drop_duplicates(subset=["date", "P_SYMBOL"])
        .dropna(
            subset=["Weight (%)", factor_growth], how="any", axis=0, ignore_index=True
        )
    )
    # g = df_rank.groupby(["date"])["Weight (%)"].agg(["count", "sum"])

    # ランク計算（セクターニュートラル）
    df_rank = roic_utils.add_factor_rank_cols(df=df_rank, factor_name=factor_growth)
    df_rank = (
        df_rank[["date", "P_SYMBOL", f"{factor_growth}_Rank"]]
        .rename(columns={f"{factor_growth}_Rank": "value"})
        .assign(variable=f"{factor_growth}_Rank")
    )

    # display(df_rank)

    # store to database
    f_db_utils.store_to_database(
        df=df_rank, db_path=db_path, table_name=f"{factor_growth}_Rank"
    )

データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 204159 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_YoY_Rank' は存在しません。新しいテーブルとして、すべての 190128 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 149391 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_SALES_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_SALES_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 114512 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 177539 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_YoY_Rank' は存在しません。新しいテーブルとして、すべての 165174 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 122076 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBITDA_OPER_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBITDA_OPER_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 93248 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 178809 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_YoY_Rank' は存在しません。新しいテーブルとして、すべての 166384 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 118601 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EBIT_OPER_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EBIT_OPER_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 90518 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 204636 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_YoY_Rank' は存在しません。新しいテーブルとして、すべての 190438 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 122870 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_EPS_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_EPS_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 93827 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 202246 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_YoY_Rank' は存在しません。新しいテーブルとして、すべての 188069 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 121109 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_OPER_CF_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_OPER_CF_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 91942 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 204509 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_YoY_Rank' は存在しません。新しいテーブルとして、すべての 190039 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 146944 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_ASSETS_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_ASSETS_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 112538 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 204551 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_YoY_Rank' は存在しません。新しいテーブルとして、すべての 190092 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 141625 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_COM_EQ_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_COM_EQ_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 108077 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 200240 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_YoY_Rank' は存在しません。新しいテーブルとして、すべての 186811 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 141101 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 107078 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 198547 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_YoY_Rank' は存在しません。新しいテーブルとして、すべての 185484 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 139007 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_LT_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_LT_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 105277 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_QoQ_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_QoQ_Rank' は存在しません。新しいテーブルとして、すべての 185664 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_YoY_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_YoY_Rank' は存在しません。新しいテーブルとして、すべての 175030 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_CAGR_3Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_CAGR_3Y_Rank' は存在しません。新しいテーブルとして、すべての 123170 行を追加します。
  -> データの書き込みが完了しました。
データベース 'Financials_and_Price.db' からテーブル 'FF_DEBT_ST_CAGR_5Y_Rank' を削除しました（または存在しませんでした）。
テーブル 'FF_DEBT_ST_CAGR_5Y_Rank' は存在しません。新しいテーブルとして、すべての 92897 行を追加します。
  -> データの書き込みが完了しました。

In [ ]:
# 構成銘柄情報
conn = sqlite3.connect(factset_index_db_path)
query = f"""
    SELECT
        `date`, `Universe`, `Universe_code_BPM`, `P_SYMBOL`, `Name`, `FG_COMPANY_NAME`, `Asset ID`, `Asset ID Type`, `Country`,
        `GICS Sector`, `GICS Industry`, `GICS Industry Group`, `GICS Sub-Industry`, `Holdings`, `Weight (%)`, `Mkt Value`
    FROM
        {UNIVERSE_CODE}
"""
df_weight = pd.read_sql(query, con=conn)

# ROIC label and Return
conn = sqlite3.connect(db_path)
union_queries = (
    ["SELECT * FROM ROIC_label_Past5Y"]
    + ["SELECT * FROM FF_SALES_QoQ_Rank"]
    + ["SELECT * FROM FF_SALES_YoY_Rank"]
    + ["SELECT * FROM FF_SALES_CAGR_3Y_Rank"]
    + ["SELECT * FROM FF_EBITDA_OPER_QoQ_Rank"]
    + ["SELECT * FROM FF_EBITDA_OPER_YoY_Rank"]
    + ["SELECT * FROM FF_EBITDA_OPER_CAGR_3Y_Rank"]
    + [
        f"SELECT * FROM '{table}'"
        for table in get_table_names(db_path=db_path)
        if "annlzd" in table
    ]
)
query = " UNION ALL ".join(union_queries)
data = pd.pivot(
    pd.read_sql(query, con=conn),
    index=["date", "P_SYMBOL"],
    columns="variable",
    values="value",
).reset_index()

df = (
    pd.merge(df_weight, data, on=["date", "P_SYMBOL"], how="outer")
    .dropna(subset=["Weight (%)"])
    .fillna(np.nan)
)

display(df)


df_slice = df.loc[(df["date"] >= "2015-01-01")]
return_cols = [
    "Return_1M_annlzd",
    "Return_3M_annlzd",
    "Return_6M_annlzd",
    "Return_12M_annlzd",
    "Return_3Y_annlzd",
    "Return_5Y_annlzd",
    "Forward_Return_1M_annlzd",
    "Forward_Return_3M_annlzd",
    "Forward_Return_6M_annlzd",
    "Forward_Return_12M_annlzd",
    "Forward_Return_3Y_annlzd",
    "Forward_Return_5Y_annlzd",
]

pd.options.display.precision = 2
for factor in [
    "ROIC_label_Past5Y",
    "FF_SALES_QoQ_Rank",
    "FF_SALES_YoY_Rank",
    "FF_SALES_CAGR_3Y_Rank",
    "FF_EBITDA_OPER_QoQ_Rank",
    "FF_EBITDA_OPER_YoY_Rank",
    "FF_EBITDA_OPER_CAGR_3Y_Rank",
]:
    print(factor)
    g_mean = df_slice.groupby([factor])[return_cols].apply(roic_utils.clipped_mean, 1.0)
    g_std = df_slice.groupby([factor])[return_cols].apply(roic_utils.clipped_std, 1.0)

    g_eff = g_mean.div(g_std)

    display(g_eff)

,date,Universe,Universe_code_BPM,P_SYMBOL,Name,FG_COMPANY_NAME,Asset ID,Asset ID Type,Country,GICS Sector,...,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd,Forward_Return_6M_annlzd,ROIC_label_Past5Y,Return_12M_annlzd,Return_1M_annlzd,Return_3M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Return_6M_annlzd
0,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0HSW-GB,TELENT PLC,Telent PLC,UKIGDP1,BARRAID,GBR,Information Technology,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0MDJ-GB,CADBURY PLC,Cadbury PLC,UKIBBF1,BARRAID,GBR,Consumer Staples,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0O2E-GB,SSL INTERNATIONAL,SSL International PLC,UKIDQY1,BARRAID,GBR,Health Care,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0P7J-GB,AMEC FOSTER WHEELER PLC,Amec Foster Wheeler plc,UKIAPY1,BARRAID,GBR,Industrials,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2000-01-31 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,0UAN-GB,INVESCO,Invesco Ltd.,UKIAYK1,BARRAID,GBR,Financials,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
765239,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZBRA-US,ZEBRA TECHNOLOGIES CORP,ゼブラ・テクノロジーズ・コーポレーション Class A,USAP8H1,BARRAID,USA,Information Technology,...,NaN,NaN,NaN,NaN,0.256331,-0.005238,-0.009080,0.059019,0.347357,0.025835
765248,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZM-US,ZOOM COMMUNICATIONS INC,ズーム・ビデオ・コミュニケーションズ Class A,USBEOV1,BARRAID,USA,Information Technology,...,NaN,NaN,NaN,NaN,0.179582,0.001105,0.014491,-0.274836,NaN,0.059170
765250,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZS-US,ZSCALER INC,ゼットスケイラー,USBDYI1,BARRAID,USA,Information Technology,...,NaN,NaN,NaN,NaN,0.925959,0.006801,-0.011372,0.376644,NaN,0.255115
765251,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZTS-US,ZOETIS INC,ゾエティス Class A,USBANZ1,BARRAID,USA,Health Care,...,NaN,NaN,NaN,NaN,-0.158984,-0.005371,-0.015438,-0.038399,0.258971,-0.055664
765252,2025-09-30 00:00:00,MSCI KOKUSAI - Daily,MSXJPN_AD,ZURN-CH,ZURICH INSURANCE GROUP AG,チューリッヒ・インシュアランス・グループ,SWIAFM2,BARRAID,CHE,Financials,...,NaN,NaN,NaN,drop to low,0.348726,-0.002538,0.005409,0.255587,0.183615,-0.039350

ROIC_label_Past5Y

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
ROIC_label_Past5Y,,,,,,,,,,,,
drop to low,0.26,0.40,0.50,0.77,1.04,1.20,0.22,0.31,0.41,0.46,0.56,0.63
move to high,0.14,0.18,0.16,0.17,0.36,0.57,0.15,0.21,0.32,0.41,0.48,0.53
others,0.17,0.25,0.31,0.48,0.70,0.86,0.16,0.25,0.34,0.45,0.50,0.60
remain high,0.23,0.36,0.47,0.69,1.10,1.29,0.22,0.32,0.43,0.56,0.63,0.69
remain low,0.12,0.22,0.23,0.29,0.42,0.50,0.14,0.19,0.29,0.38,0.42,0.48

FF_SALES_QoQ_Rank

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
FF_SALES_QoQ_Rank,,,,,,,,,,,,
rank1,0.30,0.53,0.60,0.85,1.73,1.30,0.19,0.26,0.36,0.42,0.53,0.62
rank2,0.25,0.37,0.45,0.68,0.96,1.16,0.18,0.27,0.36,0.47,0.51,0.62
rank3,0.17,0.26,0.33,0.50,0.84,1.17,0.16,0.22,0.33,0.46,0.49,0.56
rank4,0.11,0.17,0.23,0.40,0.73,1.00,0.15,0.22,0.31,0.38,0.42,0.49
rank5,0.06,0.08,0.15,0.37,0.76,1.01,0.11,0.18,0.27,0.35,0.46,0.51

FF_SALES_YoY_Rank

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
FF_SALES_YoY_Rank,,,,,,,,,,,,
rank1,0.25,0.44,0.62,1.03,1.56,1.22,0.16,0.23,0.31,0.38,0.51,0.63
rank2,0.20,0.33,0.44,0.73,1.01,1.39,0.17,0.26,0.36,0.46,0.50,0.60
rank3,0.18,0.26,0.33,0.54,0.89,1.08,0.18,0.28,0.40,0.50,0.51,0.55
rank4,0.14,0.21,0.23,0.32,0.68,0.90,0.18,0.23,0.32,0.41,0.46,0.53
rank5,0.08,0.11,0.08,0.06,0.54,0.79,0.10,0.15,0.24,0.32,0.41,0.43

FF_SALES_CAGR_3Y_Rank

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
FF_SALES_CAGR_3Y_Rank,,,,,,,,,,,,
rank1,0.23,0.35,0.47,0.76,1.18,1.42,0.17,0.25,0.34,0.42,0.54,0.59
rank2,0.20,0.31,0.43,0.68,1.06,1.31,0.19,0.26,0.37,0.49,0.55,0.60
rank3,0.19,0.26,0.32,0.51,0.85,1.08,0.18,0.26,0.36,0.42,0.45,0.56
rank4,0.14,0.24,0.27,0.38,0.62,0.82,0.16,0.21,0.31,0.40,0.42,0.49
rank5,0.10,0.16,0.16,0.22,0.35,0.50,0.11,0.19,0.27,0.34,0.45,0.52

FF_EBITDA_OPER_QoQ_Rank

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
FF_EBITDA_OPER_QoQ_Rank,,,,,,,,,,,,
rank1,0.30,0.51,0.55,0.83,1.76,1.41,0.19,0.21,0.32,0.40,0.48,0.59
rank2,0.24,0.38,0.46,0.63,0.97,1.16,0.20,0.27,0.34,0.43,0.47,0.55
rank3,0.21,0.28,0.36,0.57,0.92,1.17,0.17,0.21,0.34,0.43,0.52,0.55
rank4,0.08,0.11,0.21,0.42,0.80,1.01,0.15,0.21,0.29,0.38,0.40,0.51
rank5,0.06,0.08,0.15,0.38,0.79,1.17,0.09,0.18,0.26,0.33,0.47,0.54

FF_EBITDA_OPER_YoY_Rank

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
FF_EBITDA_OPER_YoY_Rank,,,,,,,,,,,,
rank1,0.25,0.42,0.58,0.94,1.46,1.18,0.17,0.22,0.30,0.34,0.45,0.57
rank2,0.24,0.39,0.51,0.80,0.99,1.22,0.21,0.30,0.40,0.49,0.54,0.61
rank3,0.18,0.27,0.36,0.57,1.01,1.15,0.18,0.22,0.31,0.43,0.47,0.55
rank4,0.09,0.13,0.16,0.27,0.79,0.99,0.15,0.19,0.28,0.38,0.45,0.48
rank5,0.08,0.10,0.09,0.15,0.67,1.25,0.09,0.16,0.25,0.35,0.42,0.49

FF_EBITDA_OPER_CAGR_3Y_Rank

,Return_1M_annlzd,Return_3M_annlzd,Return_6M_annlzd,Return_12M_annlzd,Return_3Y_annlzd,Return_5Y_annlzd,Forward_Return_1M_annlzd,Forward_Return_3M_annlzd,Forward_Return_6M_annlzd,Forward_Return_12M_annlzd,Forward_Return_3Y_annlzd,Forward_Return_5Y_annlzd
FF_EBITDA_OPER_CAGR_3Y_Rank,,,,,,,,,,,,
rank1,0.23,0.36,0.51,0.77,1.16,1.27,0.19,0.24,0.33,0.41,0.52,0.57
rank2,0.23,0.35,0.46,0.71,1.12,1.40,0.21,0.28,0.35,0.43,0.51,0.59
rank3,0.18,0.27,0.34,0.51,0.91,1.11,0.18,0.22,0.32,0.43,0.46,0.52
rank4,0.11,0.17,0.20,0.33,0.60,0.86,0.13,0.17,0.25,0.34,0.41,0.51
rank5,0.06,0.07,0.05,0.06,0.22,0.50,0.11,0.16,0.23,0.31,0.39,0.50

## Merge(ROIC label + Return data)

In [ ]:
db_path = DATA_DIR / "MSCI_KOKUSAI_Return.db"
conn = sqlite3.connect(db_path)
df_return = pd.read_sql(
    "SELECT * FROM Annualized_Return", con=conn, parse_dates=["date"]
)
df_return = pd.pivot(
    df_return, index=["date", "Symbol"], columns="variable", values="value"
)
conn.close()

db_path = DATA_DIR / "MSCI_KOKUSAI_Custom_Feature.db"
conn = sqlite3.connect(db_path)
df_roic = pd.read_sql("SELECT * FROM ROIC_label_Past5Y", con=conn, parse_dates=["date"])
conn.close()

# display(df_return)
# display(df_roic)
print(f"Return dataframe shape: {df_return.shape}")
print(f"ROIC label dataframe shape: {df_roic.shape}")


df = (
    pd.merge(df_roic, df_return, on=["date", "Symbol"], how="left")
    .sort_values(["date", "Symbol"], ignore_index=True)
    .dropna(subset=["Weight (%)", "ROIC_label_Past5Y"], how="any")
)
del df_roic, df_return
print(f"Merged dataframe shape: {df.shape}")
display(df)

Return dataframe shape: (676607, 6)
ROIC label dataframe shape: (217818, 8)
Merged dataframe shape: (96159, 14)

,date,Symbol,FG_COMPANY_NAME,GICS Sector,GICS Industry,Weight (%),Mkt Value,ROIC_label_Past5Y,Return_Ann_1M,Return_Ann_1Y,Return_Ann_3M,Return_Ann_3Y,Return_Ann_5Y,Return_Ann_6M
78601,2012-08-31,0P7J-GB,Amec Foster Wheeler plc,Energy,Energy Equipment & Services,0.026104,4.570660e+11,drop to low,0.066922,0.169121,0.678064,0.256792,0.193707,-0.006009
78604,2012-08-31,1038-HK,CKインフラストラクチャー・ホールディングス,Utilities,Electric Utilities,0.012952,2.267820e+11,drop to low,-0.067819,-0.002079,0.382333,0.148123,0.102742,0.056078
78605,2012-08-31,11-HK,ハン・セン・バンク,Financials,Banks,0.048676,8.522970e+11,remain high,0.270841,-0.033913,0.386150,0.080675,0.004829,0.032736
78607,2012-08-31,12-HK,ヘンダーソン・ランド・デベロップメント,Financials,Real Estate Management & Development,0.026059,4.562850e+11,move to high,0.641988,0.052615,0.797608,0.088944,0.012567,-0.041637
78610,2012-08-31,13.XX1-HK,Hutchison Whampoa Limited,Industrials,Industrial Conglomerates,0.083389,1.460100e+12,remain low,-0.361218,-0.091214,0.245423,0.129290,-0.025497,-0.255749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
217812,2025-07-31,Z74-SG,シンガポール・テレコミュニケーションズ,Communication Services,Diversified Telecommunication Services,0.030780,3.344860e+12,others,-0.034226,0.538649,0.130107,0.184226,0.041258,0.562300
217813,2025-07-31,ZAL-DE,ザランド,Consumer Discretionary,Specialty Retail,0.009153,9.946100e+11,others,-1.301110,0.111731,-0.842763,-0.326717,-0.059330,-0.487816
217814,2025-07-31,ZBH-US,ジンマー・バイオメット・ホールディングス,Health Care,Health Care Equipment & Supplies,0.025111,2.728800e+12,remain low,0.057749,-0.194701,-0.468949,-0.099124,-0.074728,-0.355530
217816,2025-07-31,ZTS-US,ゾエティス Class A,Health Care,Pharmaceuticals,0.090062,9.786870e+12,remain high,-0.808419,-0.211012,-0.280998,-0.094628,0.031428,-0.317823
217817,2025-07-31,ZURN-CH,チューリッヒ・インシュアランス・グループ,Financials,Insurance,0.138927,1.509710e+13,others,-0.196357,0.266491,-0.133746,0.123411,0.150533,0.233561

### Check constituents

In [ ]:
g = df.groupby(["date"])["Weight (%)"].agg(["count", "sum"])
display(g.tail(10))
display(
    df.loc[
        (df["FG_COMPANY_NAME"].str.contains("NVIDIA"))
        & (df["GICS Sector"] == "Information Technology")
    ]
)

            count        sum
date
2024-07-31    918  92.119993
2024-09-30    909  91.925236
2024-10-31    909  91.803620
2024-12-31    902  91.681202
2025-01-31    904  91.444891
2025-02-28    918  92.131118
2025-03-31    897  92.223468
2025-04-30    901  91.909803
2025-06-30    797  88.918013
2025-07-31    759  76.355171

,date,Symbol,FG_COMPANY_NAME,GICS Sector,GICS Industry,Weight (%),Mkt Value,ROIC_label_Past5Y,Return_Ann_1M,Return_Ann_1Y,Return_Ann_3M,Return_Ann_3Y,Return_Ann_5Y,Return_Ann_6M
79401,2012-08-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.038312,6.708320e+11,others,0.426596,0.052682,0.484340,0.117571,-0.112797,-0.153605
80629,2012-10-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.032390,5.920480e+11,others,-1.295350,-0.211806,-0.491308,0.019635,-0.109140,-0.164256
81855,2012-11-30,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.032106,6.113730e+11,others,-0.005013,-0.266789,-0.635177,-0.025716,-0.094363,-0.075419
83100,2012-12-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.032503,6.582890e+11,others,0.287262,-0.122665,-0.337700,-0.056395,-0.116272,-0.239550
84361,2013-01-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.030846,6.930990e+11,others,0.000000,-0.186256,0.094083,-0.067902,-0.126635,-0.198613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211945,2025-01-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.301899,4.560820e+14,remain high,-1.343121,1.079883,-0.401872,0.605904,0.701776,0.051460
213137,2025-02-28,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.510090,4.617730e+14,remain high,0.475184,0.982432,-0.405560,0.573094,0.695583,0.090891
214305,2025-03-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.121013,3.969130e+14,remain high,-1.704360,0.566167,-0.857432,0.551579,0.635205,-0.227553
215464,2025-04-30,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.121320,3.804850e+14,remain high,0.059641,0.319749,-0.389845,0.401324,0.694163,-0.395859
216528,2025-06-30,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,5.411878,5.568290e+14,remain high,1.875534,0.365393,1.507553,0.621477,0.726074,0.325060

### ROIC label Performance

In [ ]:
avg_return = (
    pd.DataFrame(
        df.groupby(["date", "ROIC_label_Past5Y"]).apply(
            lambda row: roic_utils.clipped_mean(row["Return_Ann_5Y"], percentile=5)
        )
    )
    .reset_index()
    .rename(columns={0: "avg"})
)
std = pd.DataFrame(
    df.groupby(["date", "ROIC_label_Past5Y"])
    .apply(lambda row: roic_utils.clipped_std(row["Return_Ann_5Y"], percentile=5))
    .reset_index()
    .rename(columns={0: "std"})
)
df_performance = pd.merge(
    avg_return, std, on=["date", "ROIC_label_Past5Y"], how="left"
).assign(efficiency=lambda row: row["avg"].div(row["std"]))
df_performance = pd.pivot(
    df_performance, index="date", columns="ROIC_label_Past5Y"
).sort_index()
display(df_performance)

                          avg                                                \
ROIC_label_Past5Y drop to low move to high    others remain high remain low
date
2012-08-31           0.038617    -0.078085 -0.013442    0.064215  -0.047445
2012-10-31           0.033293    -0.072137 -0.014087    0.064566  -0.050651
2012-11-30           0.031163    -0.075659 -0.017843    0.058905  -0.052669
2012-12-31           0.025686    -0.074313 -0.023291    0.044640  -0.049142
2013-01-31           0.023791    -0.073737 -0.007586    0.061751  -0.048795
...                       ...          ...       ...         ...        ...
2025-02-28           0.130007     0.023283  0.061586    0.137381   0.019253
2025-03-31           0.130334     0.023350  0.062636    0.125173   0.016550
2025-04-30           0.137255     0.021089  0.067438    0.126168   0.022981
2025-06-30           0.157507     0.035203  0.090054    0.124221   0.023517
2025-07-31           0.152448     0.058672  0.080205    0.129478   0.032082

                          std                                                \
ROIC_label_Past5Y drop to low move to high    others remain high remain low
date
2012-08-31           0.079274     0.127608  0.099918    0.081558   0.108129
2012-10-31           0.071016     0.115481  0.096288    0.076514   0.104184
2012-11-30           0.064521     0.118413  0.100145    0.079537   0.100199
2012-12-31           0.062965     0.113466  0.095717    0.070713   0.093004
2013-01-31           0.059179     0.119810  0.094802    0.072411   0.097013
...                       ...          ...       ...         ...        ...
2025-02-28           0.091646     0.098077  0.096638    0.083625   0.079172
2025-03-31           0.081238     0.094644  0.093260    0.080353   0.077009
2025-04-30           0.094701     0.092541  0.095933    0.081710   0.079056
2025-06-30           0.099677     0.097340  0.090821    0.087251   0.084390
2025-07-31           0.098593     0.103705  0.095187    0.078827   0.084529

                   efficiency
ROIC_label_Past5Y drop to low move to high    others remain high remain low
date
2012-08-31           0.487136    -0.611917 -0.134533    0.787346  -0.438784
2012-10-31           0.468812    -0.624667 -0.146297    0.843846  -0.486166
2012-11-30           0.482988    -0.638942 -0.178175    0.740598  -0.525648
2012-12-31           0.407938    -0.654933 -0.243331    0.631284  -0.528388
2013-01-31           0.402018    -0.615449 -0.080019    0.852787  -0.502971
...                       ...          ...       ...         ...        ...
2025-02-28           1.418581     0.237397  0.637283    1.642818   0.243183
2025-03-31           1.604357     0.246717  0.671634    1.557788   0.214911
2025-04-30           1.449345     0.227893  0.702965    1.544097   0.290696
2025-06-30           1.580175     0.361653  0.991552    1.423716   0.278674
2025-07-31           1.546232     0.565763  0.842598    1.642561   0.379536

[111 rows x 15 columns]