# Macro-data-prepare-FRED.ipynb

FRED の日次データなどを集める

In [6]:
%load_ext autoreload
%autoreload 2

import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
import pandas as pd
import numpy as np
import io
from selenium import webdriver
from selenium.webdriver.chrome.service import Service
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import TimeoutException, NoSuchElementException
import datetime
from fred_database_utils import get_fred_ids_from_file, store_fred_database
from dateutil import relativedelta
import time
from concurrent.futures import ProcessPoolExecutor, as_completed
import sqlite3
from pathlib import Path
from etf_dot_com import get_etf_fundamentals, get_tickers_from_db, save_data_to_db
from tqdm import tqdm
import yfinance as yf
import curl_cffi

ROOT_DIR = Path().cwd().parent
FRED_DIR = ROOT_DIR / "data/FRED"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [ ]:
series_id_list = get_fred_ids_from_file(file_path=FRED_DIR / "fred_series.json")
db_path = FRED_DIR / "FRED.db"
store_fred_database(db_path=db_path, series_id_list=series_id_list)

--- FREDデータの差分更新を開始 (データベース: 'FRED.db') ---
テーブル 'SP500' の最終日: 2025-09-26 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'SP500' を取得中 (開始日: 2025-09-27)...
	シリーズ 'SP500' に更新データはありませんでした。
テーブル 'CPIAUCSL' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CPIAUCSL' を取得中 (開始日: 2025-08-02)...
	シリーズ 'CPIAUCSL' に 1 件の新規データを追加しました。
テーブル 'DFF' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DFF' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DFF' に更新データはありませんでした。
テーブル 'FEDFUNDS' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'FEDFUNDS' を取得中 (開始日: 2025-08-02)...
	シリーズ 'FEDFUNDS' に 1 件の新規データを追加しました。
テーブル 'SOFR' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'SOFR' を取得中 (開始日: 2025-09-26)...
	シリーズ 'SOFR' に更新データはありませんでした。
テーブル 'DPRIME' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DPRIME' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DPRIME' に更新データはありませんでした。
テーブル 'DTB3' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DTB3' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DTB3' に更新データはありませんでした。
テーブル 'DGS1MO' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS1MO' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS1MO' に更新データはありませんでした。
テーブル 'DGS3MO' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS3MO' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS3MO' に更新データはありませんでした。
テーブル 'DGS6MO' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS6MO' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS6MO' に更新データはありませんでした。
テーブル 'DGS1' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS1' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS1' に更新データはありませんでした。
テーブル 'DGS2' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS2' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS2' に更新データはありませんでした。
テーブル 'DGS3' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS3' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS3' に更新データはありませんでした。
テーブル 'DGS5' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS5' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS5' に更新データはありませんでした。
テーブル 'DGS7' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS7' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS7' に更新データはありませんでした。
テーブル 'DGS10' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS10' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS10' に更新データはありませんでした。
テーブル 'DGS20' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS20' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS20' に更新データはありませんでした。
テーブル 'DGS30' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DGS30' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DGS30' に更新データはありませんでした。
テーブル 'T10Y2Y' の最終日: 2025-09-26 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'T10Y2Y' を取得中 (開始日: 2025-09-27)...
	シリーズ 'T10Y2Y' に更新データはありませんでした。
テーブル 'T10Y3M' の最終日: 2025-09-26 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'T10Y3M' を取得中 (開始日: 2025-09-27)...
	シリーズ 'T10Y3M' に更新データはありませんでした。
テーブル 'T5YIE' の最終日: 2025-09-26 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'T5YIE' を取得中 (開始日: 2025-09-27)...
	シリーズ 'T5YIE' に更新データはありませんでした。
テーブル 'T10YIE' の最終日: 2025-09-26 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'T10YIE' を取得中 (開始日: 2025-09-27)...
	シリーズ 'T10YIE' に更新データはありませんでした。
テーブル 'DAAA' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DAAA' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DAAA' に更新データはありませんでした。
テーブル 'DBAA' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DBAA' を取得中 (開始日: 2025-09-26)...
	シリーズ 'DBAA' に更新データはありませんでした。
テーブル 'BAMLC0A0CM' の最終日: 2025-09-24 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'BAMLC0A0CM' を取得中 (開始日: 2025-09-25)...
	シリーズ 'BAMLC0A0CM' に更新データはありませんでした。
テーブル 'BAMLH0A0HYM2' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'BAMLH0A0HYM2' を取得中 (開始日: 2025-09-26)...
	シリーズ 'BAMLH0A0HYM2' に更新データはありませんでした。
テーブル 'MORTGAGE30US' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'MORTGAGE30US' を取得中 (開始日: 2025-09-26)...
	シリーズ 'MORTGAGE30US' に更新データはありませんでした。
テーブル 'VIXCLS' の最終日: 2025-09-25 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'VIXCLS' を取得中 (開始日: 2025-09-26)...
	シリーズ 'VIXCLS' に更新データはありませんでした。
テーブル 'PCEC' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'PCEC' を取得中 (開始日: 2025-04-02)...
	シリーズ 'PCEC' に 1 件の新規データを追加しました。
テーブル 'UNRATE' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'UNRATE' を取得中 (開始日: 2025-08-02)...
	シリーズ 'UNRATE' に 1 件の新規データを追加しました。
テーブル 'CES0500000003' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CES0500000003' を取得中 (開始日: 2025-08-02)...
	シリーズ 'CES0500000003' に 1 件の新規データを追加しました。
テーブル 'PAYEMS' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'PAYEMS' を取得中 (開始日: 2025-08-02)...
	シリーズ 'PAYEMS' に 1 件の新規データを追加しました。
テーブル 'TOTCI' の最終日: 2025-09-17 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'TOTCI' を取得中 (開始日: 2025-09-18)...
	シリーズ 'TOTCI' に更新データはありませんでした。
テーブル 'REALLN' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'REALLN' を取得中 (開始日: 2025-08-02)...
	シリーズ 'REALLN' に 1 件の新規データを追加しました。
テーブル 'CONSUMER' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CONSUMER' を取得中 (開始日: 2025-08-02)...
	シリーズ 'CONSUMER' に 1 件の新規データを追加しました。
テーブル 'DPSACBW027SBOG' の最終日: 2025-09-17 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'DPSACBW027SBOG' を取得中 (開始日: 2025-09-18)...
	シリーズ 'DPSACBW027SBOG' に更新データはありませんでした。
テーブル 'M2SL' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'M2SL' を取得中 (開始日: 2025-08-02)...
	シリーズ 'M2SL' に 1 件の新規データを追加しました。
テーブル 'M1SL' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'M1SL' を取得中 (開始日: 2025-08-02)...
	シリーズ 'M1SL' に 1 件の新規データを追加しました。
テーブル 'UMCSENT' の最終日: 2025-08-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'UMCSENT' を取得中 (開始日: 2025-08-02)...
	シリーズ 'UMCSENT' に 1 件の新規データを追加しました。
テーブル 'CSCICP03JPM665S' の最終日: 2024-01-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CSCICP03JPM665S' を取得中 (開始日: 2024-01-02)...
	シリーズ 'CSCICP03JPM665S' に 1 件の新規データを追加しました。
テーブル 'G7NAEXKP01IXOBSAQ' の最終日: 2018-01-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'G7NAEXKP01IXOBSAQ' を取得中 (開始日: 2018-01-02)...
	シリーズ 'G7NAEXKP01IXOBSAQ' に 1 件の新規データを追加しました。
テーブル 'GDPC1' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'GDPC1' を取得中 (開始日: 2025-04-02)...
	シリーズ 'GDPC1' に 1 件の新規データを追加しました。
テーブル 'JPNRGDPEXP' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'JPNRGDPEXP' を取得中 (開始日: 2025-04-02)...
	シリーズ 'JPNRGDPEXP' に 1 件の新規データを追加しました。
テーブル 'CLVMNACSCAB1GQDE' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CLVMNACSCAB1GQDE' を取得中 (開始日: 2025-04-02)...
	シリーズ 'CLVMNACSCAB1GQDE' に 1 件の新規データを追加しました。
テーブル 'NGDPRSAXDCGBQ' の最終日: 2025-01-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'NGDPRSAXDCGBQ' を取得中 (開始日: 2025-01-02)...
	シリーズ 'NGDPRSAXDCGBQ' に 1 件の新規データを追加しました。
テーブル 'CLVMNACSCAB1GQFR' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CLVMNACSCAB1GQFR' を取得中 (開始日: 2025-04-02)...
	シリーズ 'CLVMNACSCAB1GQFR' に 1 件の新規データを追加しました。
テーブル 'NGDPRSAXDCCAQ' の最終日: 2025-01-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'NGDPRSAXDCCAQ' を取得中 (開始日: 2025-01-02)...
	シリーズ 'NGDPRSAXDCCAQ' に 1 件の新規データを追加しました。
テーブル 'CLVMNACSCAB1GQIT' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CLVMNACSCAB1GQIT' を取得中 (開始日: 2025-04-02)...
	シリーズ 'CLVMNACSCAB1GQIT' に 1 件の新規データを追加しました。
テーブル 'CLVMNACSCAB1GQEA19' の最終日: 2025-04-01 00:00:00。これ以降のデータを取得します。
	FREDシリーズ 'CLVMNACSCAB1GQEA19' を取得中 (開始日: 2025-04-02)...
	シリーズ 'CLVMNACSCAB1GQEA19' に 1 件の新規データを追加しました。
テーブル 'NGDPRSAXDCIDQ' は存在しません。新規に作成します。
	FREDシリーズ 'NGDPRSAXDCIDQ' を取得中 (開始日: 全期間)...
	シリーズ 'NGDPRSAXDCIDQ' をテーブルとして新規保存しました (101 件)。
テーブル 'CLVMNACSCAB1GQTH' は存在しません。新規に作成します。
	FREDシリーズ 'CLVMNACSCAB1GQTH' を取得中 (開始日: 全期間)...
エラーが発生しました: Bad Request.  The series does not exist.

In [ ]:
conn = sqlite3.connect(db_path)
table_list = ["GDPC1", "CLVMNACSCAB1GQEA19", "JPNRGDPEXP"]
table_list = {
    "GDPC1": "Real GDP - US",
    "CLVMNACSCAB1GQEA19": "Real GDP - EUR",
    "JPNRGDPEXP": "Real GDP - Japan",
}
dfs = []
for table in table_list.keys():
    df = (
        pd.read_sql(f"SELECT * FROM `{table}`", con=conn, parse_dates="date")
        .drop_duplicates()
        .rename(columns={table: "value"})
        .assign(variable=table_list[table])
    )
    dfs.append(df)
gdp = pd.pivot(
    pd.concat(dfs, ignore_index=True), index="date", columns="variable", values="value"
)
display(gdp)
gdp_growth = gdp.pct_change(4).dropna()
gdp_growth.columns = [col + "(YoY)" for col in gdp_growth.columns]
display(gdp_growth)

variable    Real GDP - EUR  Real GDP - Japan  Real GDP - US
date
1947-01-01             NaN               NaN       2182.681
1947-04-01             NaN               NaN       2176.892
1947-07-01             NaN               NaN       2172.432
1947-10-01             NaN               NaN       2206.452
1948-01-01             NaN               NaN       2239.682
...                    ...               ...            ...
2024-04-01       2825501.9          555861.7      23286.508
2024-07-01       2836980.0          557451.2      23478.570
2024-10-01       2848207.8          560774.2      23586.542
2025-01-01       2864201.4          561550.9      23548.210
2025-04-01       2867437.3          562987.8      23770.976

[314 rows x 3 columns]

            Real GDP - EUR(YoY)  Real GDP - Japan(YoY)  Real GDP - US(YoY)
date
1996-01-01             0.014164               0.032360            0.026013
1996-04-01             0.014192               0.035530            0.040024
1996-07-01             0.016459               0.024837            0.040501
1996-10-01             0.019925               0.033699            0.044215
1997-01-01             0.021368               0.027663            0.043141
...                         ...                    ...                 ...
2024-04-01             0.004726              -0.006295            0.031266
2024-07-01             0.009207               0.006997            0.027914
2024-10-01             0.012783               0.013492            0.023998
2025-01-01             0.015682               0.017709            0.020193
2025-04-01             0.014842               0.012820            0.020805

[118 rows x 3 columns]

## Real GDP

データは[World Bank DataBank](https://databank.worldbank.org/reports.aspx?source=2&series=NY.GDP.MKTP.KD&country=#)より取得。GDP(constant 2015 US$)

In [ ]:
WORLD_BANK_DIR = ROOT_DIR / "data/World Bank"
gdp = pd.read_excel(WORLD_BANK_DIR / "world_bank-RealGDP.xlsx", sheet_name="Data")
display(gdp)

,Series Name,Series Code,Country Name,Country Code,1960 [YR1960],1961 [YR1961],1962 [YR1962],1963 [YR1963],1964 [YR1964],1965 [YR1965],...,2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019],2020 [YR2020],2021 [YR2021],2022 [YR2022],2023 [YR2023],2024 [YR2024]
0,GDP (constant 2015 US$),NY.GDP.MKTP.KD,Afghanistan,AFG,..,..,..,..,..,..,...,19134221644.732494,19566715174.163273,20084646751.495384,20323499020.363865,21118473702.347073,20621957125.207726,16345202562.548473,15325233810.138836,15672648238.100513,..
1,GDP (constant 2015 US$),NY.GDP.MKTP.KD,Albania,ALB,..,..,..,..,..,..,...,11470171826.957481,11918533446.974939,12309839868.708418,12761785703.107059,13025007474.889467,12593390460.142029,13722964212.461969,14385329993.534147,14951625324.018909,15543966722.070652
2,GDP (constant 2015 US$),NY.GDP.MKTP.KD,Algeria,DZA,27287513101.982952,23574926517.950321,18934192372.523987,25431219789.977432,26916253746.417416,28586918218.691067,...,187493855609.344635,194806115978.439453,197728207716.082001,200496402625.852692,202300870247.9198,192185826737.372894,199488888151.484772,206670488126.831696,215143978140.155029,222243729417.480896
3,GDP (constant 2015 US$),NY.GDP.MKTP.KD,American Samoa,ASM,..,..,..,..,..,..,...,673000000,661697709.923664,615461068.70229,631900763.358779,628818320.610687,656560305.343511,651422900.763359,662725190.839695,..,..
4,GDP (constant 2015 US$),NY.GDP.MKTP.KD,Andorra,AND,..,..,..,..,..,..,...,2789881258.503616,2893376871.723502,2903390035.737601,2949518094.678957,3008967036.982891,2672445970.886575,2893905656.789416,3170696511.929717,3252613194.161915,3362285466.981509
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
266,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
267,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
268,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
269,Data from database: World Development Indicators,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270,Last Updated: 07/01/2025,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN