# `ROIC-Preprocessing_ver1.ipynb`

-   ROIC 分析の前処理用 notebook
-   行うこと
    1. 取得したデータをデータベースに落とし込む
    2. ベンチマークのプライスとリターンデータ用意
    3. ファクター計算

In [2]:
%load_ext autoreload
%autoreload 2

import datetime
import itertools
import os
import sqlite3
import sys
import warnings
from concurrent.futures import ThreadPoolExecutor, as_completed
from pathlib import Path

import numpy as np
import pandas as pd
import yaml
from dotenv import load_dotenv
from tqdm import tqdm

warnings.simplefilter("ignore")
load_dotenv()

UNIVERSE_CODE = "MSXJPN_AD"
BLOOMBERG_UNIVERSE_TICKER = "MXKO Index"

QUANTS_DIR = Path(os.environ.get("QUANTS_DIR"))  # type: ignore
FACTSET_ROOT_DIR = Path(os.environ.get("FACTSET_ROOT_DIR"))  # type: ignore
FACTSET_FINANCIALS_DIR = Path(os.environ.get("FACTSET_FINANCIALS_DIR"))  # type: ignore
FACTSET_INDEX_CONSTITUENTS_DIR = Path(os.environ.get("FACTSET_INDEX_CONSTITUENTS_DIR"))  # type: ignore
INDEX_DIR = FACTSET_FINANCIALS_DIR / UNIVERSE_CODE
BPM_ROOT_DIR = Path(os.environ.get("BPM_ROOT_DIR"))  # type: ignore
BLOOMBERG_ROOT_DIR = Path(os.environ.get("BLOOMBERG_ROOT_DIR"))  # type: ignore
BLOOMBERG_DATA_DIR = Path(os.environ.get("BLOOMBERG_DATA_DIR"))  # type: ignore

sys.path.insert(0, str(QUANTS_DIR))
import src.calculate_performance_metrics as performance_metrics_utils
import src.database_utils as db_utils
import src.ROIC_make_data_files_ver2 as roic_utils

from src import bloomberg_utils, factset_utils

financials_db_path = INDEX_DIR / "Financials_and_Price.db"
factset_index_db_path = FACTSET_INDEX_CONSTITUENTS_DIR / "Index_Constituents.db"
bloomberg_index_db_path = BLOOMBERG_ROOT_DIR / "Index_Price_and_Returns.db"
bloomberg_valuation_db_path = BLOOMBERG_ROOT_DIR / "Valuation.db"
bpm_db_path = BPM_ROOT_DIR / "Index_Constituents.db"

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

## 0. 現在のデータベースチェック

In [ ]:
tables = sorted(db_utils.get_table_names(financials_db_path))
display(tables)

with sqlite3.connect(financials_db_path) as conn:
    df_tables = pd.read_sql("SELECT * FROM FF_ASSETS", con=conn, parse_dates=["date"])
    display(df_tables)

## 1. BPM と Factset からダウンロードしたデータを sqlite3 に保存

-   インデックス別にテーブルを作成する
-   元データは"Index_Constituents_with_Factset_code-compressed-\*.paruqet" -> 圧縮して送信した
-   BPM から取得した構成比や銘柄 ID などのデータと、Factset でダウンロードした seol, cusip, isin, code_jp にそれぞれ対応する P_SYMBOL および FG_COMPANY_NAME を格納したデータ。

In [ ]:
compressed_files = list(
    FACTSET_INDEX_CONSTITUENTS_DIR.glob(
        "Index_Constituents_with_Factset_code-compressed-*.parquet"
    )
)

dfs = [pd.read_parquet(f) for f in compressed_files]
df = (
    pd.concat(dfs)
    .assign(
        date=lambda x: pd.to_datetime(x["date"]),
        SEDOL=lambda x: x["SEDOL"].astype(str),
    )
    .replace("N/A", np.nan)
)
df[["Holdings", "Weight (%)", "Mkt Value"]] = df[
    ["Holdings", "Weight (%)", "Mkt Value"]
].astype(float)

head_cols = ["Universe", "Universe_code_BPM", "date"]
other_cols = [col for col in df.columns if col not in head_cols]
df = df.reindex(columns=head_cols + other_cols).sort_values(
    ["Universe", "date", "Name"], ignore_index=True
)

for universe_code in df["Universe_code_BPM"].unique():
    df_slice = df.loc[df["Universe_code_BPM"] == universe_code].reset_index(drop=True)
    factset_utils.store_to_database(
        df=df_slice,
        db_path=factset_index_db_path,
        table_name=universe_code,
        unique_cols=["date", "Name", "Asset ID"],
    )

table_names = db_utils.get_table_names(db_path=factset_index_db_path)
display(table_names)

既存の 47072 行との重複をチェックしました。92 行を新たに追加します。
  -> MSSUD: データの書き込みが完了しました。
既存の 319851 行との重複をチェックしました。1182 行を新たに追加します。
  -> MSASD: データの書き込みが完了しました。
既存の 344002 行との重複をチェックしました。1234 行を新たに追加します。
  -> MSACAPFAD: データの書き込みが完了しました。
既存の 247340 行との重複をチェックしました。1054 行を新たに追加します。
  -> MSAPFXJ_AD: データの書き込みが完了しました。
既存の 223596 行との重複をチェックしました。1002 行を新たに追加します。
  -> MSCAFXJAD: データの書き込みが完了しました。
既存の 788150 行との重複をチェックしました。2511 行を新たに追加します。
  -> MSAWIF_AD: データの書き込みが完了しました。
既存の 11887 行との重複をチェックしました。27 行を新たに追加します。
  -> MSCIHKGD: データの書き込みが完了しました。
既存の 23987 行との重複をチェックしました。161 行を新たに追加します。
  -> MSCIINDD: データの書き込みが完了しました。
既存の 7701 行との重複をチェックしました。18 行を新たに追加します。
  -> MSFIDND: データの書き込みが完了しました。
既存の 399723 行との重複をチェックしました。1141 行を新たに追加します。
  -> MSXJPN_AD: データの書き込みが完了しました。
既存の 29542 行との重複をチェックしました。81 行を新たに追加します。
  -> MSFKORD: データの書き込みが完了しました。
既存の 15061 行との重複をチェックしました。27 行を新たに追加します。
  -> MSFMALD: データの書き込みが完了しました。
既存の 5510 行との重複をチェックしました。11 行を新たに追加します。
  -> MSFPHID: データの書き込みが完了しました。
既存の 8856 行との重複をチェックしました。17 行を新たに追加します。
  -> MSCISIND: データの書き込みが完了しました。
既存の 29723 行との重複をチェックしました。87 行を新たに追加します。
  -> MSFTAID: データの書き込みが完了しました。
既存の 10304 行との重複をチェックしました。19 行を新たに追加します。
  -> MSFTHAD: データの書き込みが完了しました。

['MSSUD',
 'MSASD',
 'MSACAPFAD',
 'MSAPFXJ_AD',
 'MSCAFXJAD',
 'MSAWIF_AD',
 'MSCIHKGD',
 'MSCIINDD',
 'MSFIDND',
 'MSXJPN_AD',
 'MSFKORD',
 'MSFMALD',
 'MSFPHID',
 'MSCISIND',
 'MSFTAID',
 'MSFTHAD']

In [ ]:
with sqlite3.connect(factset_index_db_path) as conn:
    df = pd.read_sql(
        f"SELECT * FROM `{UNIVERSE_CODE}`", parse_dates=["date"], con=conn
    ).drop_duplicates()
    df["P_SYMBOL_missing"] = df["P_SYMBOL"].isna()
    display(df)

    g = df.groupby(["date", "P_SYMBOL_missing"])["Weight (%)"].agg(["count", "sum"])
    display(g)

,Universe,Universe_code_BPM,date,Name,Bloomberg Ticker,BloombergID,Asset ID,Asset ID Type,SEDOL,Country,...,P_SYMBOL_CUSIP,ISIN,FG_COMPANY_NAME_ISIN,P_SYMBOL_ISIN,CODE_JP,FG_COMPANY_NAME_CODE_JP,P_SYMBOL_CODE_JP,P_SYMBOL,FG_COMPANY_NAME,P_SYMBOL_missing
0,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,21ST CENTURY FOX,None,None,AUSBIN2,BARRAID,662075,AUS,...,None,None,None,None,None,None,None,FOXLV-AU,Twenty-First Century Fox Inc. Class A CDI,False
1,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,21ST CENTURY FOX,None,None,AUSBIN1,BARRAID,688692,AUS,...,None,None,None,None,None,None,None,FOX-AU,Twenty-First Century Fox Inc. Class B CDI,False
2,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,3I GROUP PLC,None,None,UKIENL1,BARRAID,0888693,GBR,...,TGOPF-US,GB0008886938,スリーアイ・グループ,III-GB,None,None,None,III-GB,スリーアイ・グループ,False
3,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,3M CO,None,None,USAJ8P1,BARRAID,2595708,USA,...,MMM-US,US6040591058,3Mカンパニー,MMM-US,None,None,None,MMM-US,3Mカンパニー,False
4,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,ABB LTD,None,None,SWIAAN1,BARRAID,5661190,CHE,...,None,CH0003846620,ABB,ABBN-CH,None,None,None,ABBN-CH,ABB,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
400859,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZIMMER BIOMET HOLDINGS INC,None,None,USA4JT1,BARRAID,2783815,USA,...,ZBH-US,US98956P1021,ジンマー・バイオメット・ホールディングス,ZBH-US,None,None,None,ZBH-US,ジンマー・バイオメット・ホールディングス,False
400860,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZOETIS INC,None,None,USBANZ1,BARRAID,B95WG16,USA,...,ZTS-US,US98978V1035,ゾエティス Class A,ZTS-US,None,None,None,ZTS-US,ゾエティス Class A,False
400861,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZOOM COMMUNICATIONS INC,None,None,USBEOV1,BARRAID,BGSP7M9,USA,...,ZM-US,US98980L1017,ズーム・ビデオ・コミュニケーションズ Class A,ZM-US,None,None,None,ZM-US,ズーム・ビデオ・コミュニケーションズ Class A,False
400862,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZSCALER INC,None,None,USBDYI1,BARRAID,BZ00V34,USA,...,ZS-US,US98980G1022,ゼットスケイラー,ZS-US,None,None,None,ZS-US,ゼットスケイラー,False
400863,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZURICH INSURANCE GROUP AG,None,None,SWIAFM2,BARRAID,5983816,CHE,...,ZFSVF-US,CH0011075394,チューリッヒ・インシュアランス・グループ,ZURN-CH,None,None,None,ZURN-CH,チューリッヒ・インシュアランス・グループ,False

                             count         sum
date       P_SYMBOL_missing
2000-01-31 False               991   97.959673
           True                 74    2.040327
2000-02-29 False               989   97.900800
           True                 73    2.099194
2000-03-31 False               989   98.129503
...                            ...         ...
2025-07-31 False              1139  100.000012
2025-08-31 False              1140  100.000009
2025-09-30 False              1140   99.999991
2025-10-31 False              1139   99.958187
           True                  2    0.041813

[402 rows x 2 columns]

## 2. Factset からダウンロードしたデータをまとめる

Financials および Price のデータをデータベースに格納する。

In [ ]:
file_list = list(INDEX_DIR.glob("Financials_and_Price-compressed-*.parquet"))
# file_list = [s for s in file_list if not "20241129" in s.name]
dfs = [pd.read_parquet(f) for f in tqdm(file_list, desc="loading parquet files")]
df = (
    pd.concat(dfs)
    .drop_duplicates()
    .sort_values(["variable", "P_SYMBOL", "date"], ignore_index=True)
    .assign(value=lambda x: x["value"].astype(float))
)

for variable in df["variable"].unique():
    df_slice = df.loc[df["variable"] == variable]
    factset_utils.store_to_database(
        df=df_slice,
        db_path=financials_db_path,
        table_name=variable,
        unique_cols=["date", "P_SYMBOL", "variable"],
        verbose=True,
    )

table_names = db_utils.get_table_names(db_path=financials_db_path)
display(table_names)

loading parquet files: 100%|██████████| 9/9 [00:04<00:00,  2.08it/s]

テーブル 'FF_ASSETS' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ASSETS: データの書き込みが完了しました。
テーブル 'FF_BPS' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_BPS: データの書き込みが完了しました。
テーブル 'FF_BPS_TANG' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_BPS_TANG: データの書き込みが完了しました。
テーブル 'FF_CAPEX' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_CAPEX: データの書き込みが完了しました。
テーブル 'FF_CASH_ST' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_CASH_ST: データの書き込みが完了しました。
テーブル 'FF_COGS' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_COGS: データの書き込みが完了しました。
テーブル 'FF_COM_EQ' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_COM_EQ: データの書き込みが完了しました。
テーブル 'FF_CURR_RATIO' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_CURR_RATIO: データの書き込みが完了しました。
テーブル 'FF_DEBT' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DEBT: データの書き込みが完了しました。
テーブル 'FF_DEBT_ENTRPR_VAL' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DEBT_ENTRPR_VAL: データの書き込みが完了しました。
テーブル 'FF_DEBT_EQ' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DEBT_EQ: データの書き込みが完了しました。
テーブル 'FF_DEBT_LT' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DEBT_LT: データの書き込みが完了しました。
テーブル 'FF_DEBT_ST' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DEBT_ST: データの書き込みが完了しました。
テーブル 'FF_DEP_AMORT_EXP' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DEP_AMORT_EXP: データの書き込みが完了しました。
テーブル 'FF_DIV_YLD' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_DIV_YLD: データの書き込みが完了しました。
テーブル 'FF_DPS' は存在しません。新しいテーブルとして、すべての 784741 行を追加します。
  -> FF_DPS: データの書き込みが完了しました。
テーブル 'FF_EBITDA_OPER' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_EBITDA_OPER: データの書き込みが完了しました。
テーブル 'FF_EBITDA_OPER_MGN' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_EBITDA_OPER_MGN: データの書き込みが完了しました。
テーブル 'FF_EBIT_OPER' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_EBIT_OPER: データの書き込みが完了しました。
テーブル 'FF_EBIT_OPER_MGN' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_EBIT_OPER_MGN: データの書き込みが完了しました。
テーブル 'FF_ENTRPR_VAL_EBITDA_OPER' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ENTRPR_VAL_EBITDA_OPER: データの書き込みが完了しました。
テーブル 'FF_ENTRPR_VAL_EBIT_OPER' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ENTRPR_VAL_EBIT_OPER: データの書き込みが完了しました。
テーブル 'FF_ENTRPR_VAL_SALES' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ENTRPR_VAL_SALES: データの書き込みが完了しました。
テーブル 'FF_EPS' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_EPS: データの書き込みが完了しました。
テーブル 'FF_EPS_DIL' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_EPS_DIL: データの書き込みが完了しました。
テーブル 'FF_FREE_CF' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_FREE_CF: データの書き込みが完了しました。
テーブル 'FF_FREE_PS_CF' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_FREE_PS_CF: データの書き込みが完了しました。
テーブル 'FF_GROSS_INC' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_GROSS_INC: データの書き込みが完了しました。
テーブル 'FF_GROSS_MGN' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_GROSS_MGN: データの書き込みが完了しました。
テーブル 'FF_INC_TAX' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_INC_TAX: データの書き込みが完了しました。
テーブル 'FF_INT_EXP_NET' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_INT_EXP_NET: データの書き込みが完了しました。
テーブル 'FF_LIABS' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_LIABS: データの書き込みが完了しました。
テーブル 'FF_LIABS_SHLDRS_EQ' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_LIABS_SHLDRS_EQ: データの書き込みが完了しました。
テーブル 'FF_MIN_INT_ACCUM' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_MIN_INT_ACCUM: データの書き込みが完了しました。
テーブル 'FF_NET_DEBT' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_NET_DEBT: データの書き込みが完了しました。
テーブル 'FF_NET_INC' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_NET_INC: データの書き込みが完了しました。
テーブル 'FF_NET_MGN' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_NET_MGN: データの書き込みが完了しました。
テーブル 'FF_OPER_CF' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_OPER_CF: データの書き込みが完了しました。
テーブル 'FF_OPER_INC' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_OPER_INC: データの書き込みが完了しました。
テーブル 'FF_OPER_MGN' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_OPER_MGN: データの書き込みが完了しました。
テーブル 'FF_OPER_PS_NET_CF' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_OPER_PS_NET_CF: データの書き込みが完了しました。
テーブル 'FF_PAY_OUT_RATIO' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PAY_OUT_RATIO: データの書き込みが完了しました。
テーブル 'FF_PBK' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PBK: データの書き込みが完了しました。
テーブル 'FF_PE' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PE: データの書き込みが完了しました。
テーブル 'FF_PFD_STK' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PFD_STK: データの書き込みが完了しました。
テーブル 'FF_PPE_NET' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PPE_NET: データの書き込みが完了しました。
テーブル 'FF_PSALES' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PSALES: データの書き込みが完了しました。
テーブル 'FF_PTX_INC' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PTX_INC: データの書き込みが完了しました。
テーブル 'FF_PTX_MGN' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_PTX_MGN: データの書き込みが完了しました。
テーブル 'FF_QUICK_RATIO' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_QUICK_RATIO: データの書き込みが完了しました。
テーブル 'FF_ROA' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ROA: データの書き込みが完了しました。
テーブル 'FF_ROE' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ROE: データの書き込みが完了しました。
テーブル 'FF_ROIC' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ROIC: データの書き込みが完了しました。
テーブル 'FF_ROTC' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_ROTC: データの書き込みが完了しました。
テーブル 'FF_SALES' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_SALES: データの書き込みが完了しました。
テーブル 'FF_SALES_PS' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_SALES_PS: データの書き込みが完了しました。
テーブル 'FF_SGA' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_SGA: データの書き込みが完了しました。
テーブル 'FF_SHLDRS_EQ' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_SHLDRS_EQ: データの書き込みが完了しました。
テーブル 'FF_STK_OPT_EXP' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_STK_OPT_EXP: データの書き込みが完了しました。
テーブル 'FF_STK_PURCH_CF' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_STK_PURCH_CF: データの書き込みが完了しました。
テーブル 'FF_TAX_RATE' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_TAX_RATE: データの書き込みが完了しました。
テーブル 'FF_WKCAP' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FF_WKCAP: データの書き込みが完了しました。
テーブル 'FG_PRICE' は存在しません。新しいテーブルとして、すべての 791263 行を追加します。
  -> FG_PRICE: データの書き込みが完了しました。

['FF_ASSETS',
 'FF_BPS',
 'FF_BPS_TANG',
 'FF_CAPEX',
 'FF_CASH_ST',
 'FF_COGS',
 'FF_COM_EQ',
 'FF_CURR_RATIO',
 'FF_DEBT',
 'FF_DEBT_ENTRPR_VAL',
 'FF_DEBT_EQ',
 'FF_DEBT_LT',
 'FF_DEBT_ST',
 'FF_DEP_AMORT_EXP',
 'FF_DIV_YLD',
 'FF_DPS',
 'FF_EBITDA_OPER',
 'FF_EBITDA_OPER_MGN',
 'FF_EBIT_OPER',
 'FF_EBIT_OPER_MGN',
 'FF_ENTRPR_VAL_EBITDA_OPER',
 'FF_ENTRPR_VAL_EBIT_OPER',
 'FF_ENTRPR_VAL_SALES',
 'FF_EPS',
 'FF_EPS_DIL',
 'FF_FREE_CF',
 'FF_FREE_PS_CF',
 'FF_GROSS_INC',
 'FF_GROSS_MGN',
 'FF_INC_TAX',
 'FF_INT_EXP_NET',
 'FF_LIABS',
 'FF_LIABS_SHLDRS_EQ',
 'FF_MIN_INT_ACCUM',
 'FF_NET_DEBT',
 'FF_NET_INC',
 'FF_NET_MGN',
 'FF_OPER_CF',
 'FF_OPER_INC',
 'FF_OPER_MGN',
 'FF_OPER_PS_NET_CF',
 'FF_PAY_OUT_RATIO',
 'FF_PBK',
 'FF_PE',
 'FF_PFD_STK',
 'FF_PPE_NET',
 'FF_PSALES',
 'FF_PTX_INC',
 'FF_PTX_MGN',
 'FF_QUICK_RATIO',
 'FF_ROA',
 'FF_ROE',
 'FF_ROIC',
 'FF_ROTC',
 'FF_SALES',
 'FF_SALES_PS',
 'FF_SGA',
 'FF_SHLDRS_EQ',
 'FF_STK_OPT_EXP',
 'FF_STK_PURCH_CF',
 'FF_TAX_RATE',
 'FF_WKCAP',
 'FG_PRICE']

### ⚠️1AY/新規データ項目の差分更新がある場合

In [ ]:
def update_value(row, rtol=1e-5, atol=1e-3):
    """既存値をアップデートする関数"""
    existing = row["value_existing"]
    new = row["value_new"]

    # 1. 両方NaN → NaN
    if pd.isna(existing) and pd.isna(new):
        return np.nan

    # 2. 既存がNaN → 新規値
    if pd.isna(existing):
        return new

    # 3. 新規がNaN → 既存値
    if pd.isna(new):
        return existing

    # 4. 両方有効 → 数値比較
    if np.isclose(existing, new, rtol=rtol, atol=atol):
        return existing  # 同じなら既存値
    else:
        return new  # 異なれば新規値で更新


update_file = (
    INDEX_DIR / "Financials_and_Price-compressed-20241129_20251031.parquet"
)  # ファイル名は手動指定する
df_update = pd.read_parquet(update_file)
variable_list = df_update["variable"].sort_values().unique().tolist()
date_list = df_update["date"].sort_values().unique().tolist()
start_date = min(date_list)
end_date = max(date_list)

# データベースの既存テーブル
existing_tables = db_utils.get_table_names(financials_db_path)
# 新しく追加されたデータ項目があるかチェック
added_variables = list(set(variable_list) - set(existing_tables))
if len(added_variables) > 0:
    # 新規データ項目のテーブル作成
    pass

# 1AYで取得したデータを更新するテーブル一覧
update_tables = sorted(list(set(existing_tables) & set(variable_list)))
total_updated = 0
with sqlite3.connect(financials_db_path) as conn:
    for idx, table in enumerate(update_tables, 1):
        # date_listの日付のみデータベースから読み取り、df_updateとの差分を確認
        # 既存のデータが欠損していれば更新データでfillnaする（両方欠損していればそのまま）
        # 既存データと新規データの数値が異なっていれば新規データでupdateする

        print(f"\n[{idx}/{len(update_tables)}] 処理中: {table}")

        query = f"""
            SELECT
                *
            FROM
                {table}
            WHERE
                date >= '{start_date.strftime("%Y-%m-%d")}' AND date <= '{end_date.strftime("%Y-%m-%d")}'
        """
        df_existing = (
            pd.read_sql(query, con=conn, parse_dates=["date"])
            .rename(columns={"value": "value_existing"})
            .reindex(columns=["date", "P_SYMBOL", "variable", "value_existing"])
        )
        df_update_slice = (
            df_update.loc[df_update["variable"] == table]
            .copy()
            .rename(columns={"value": "value_new"})
            .reindex(columns=["date", "P_SYMBOL", "variable", "value_new"])
        )
        df_merged = pd.merge(
            df_update_slice,
            df_existing,
            on=["date", "P_SYMBOL", "variable"],
            how="outer",
        )
        df_merged["value"] = df_merged.apply(update_value, axis=1)

        # 変更検出（ベクトル化版）
        changed_mask = (
            # 既存がNaNで新規に値がある
            (df_merged["value_existing"].isna() & ~df_merged["value_new"].isna())
            |
            # 両方有効で数値が異なる
            (
                ~df_merged["value_existing"].isna()
                & ~df_merged["value_new"].isna()
                & ~np.isclose(
                    df_merged["value_existing"],
                    df_merged["value_new"],
                    rtol=1e-5,
                    atol=1e-3,
                )
            )
        )

        df_to_update = df_merged[changed_mask].reset_index(drop=True)[
            ["date", "P_SYMBOL", "variable", "value"]
        ]

        if len(df_to_update) > 0:
            print(f"  更新対象: {len(df_to_update):,}行")

            # データベース更新
            rows_affected = factset_utils.upsert_financial_data(
                df_to_update, conn, table, method="auto"
            )

            total_updated += rows_affected
        else:
            print("  変更なし")

print(f"\n{'=' * 50}")
print("📊 更新完了")
print(f"{'=' * 50}")
print(f"総更新行数: {total_updated:,}行")

[1/63] 処理中: FF_INT_EXP_NET
  更新対象: 984行
ℹ️  SQLite 3.50.4: upsert方式を使用します
❌ エラー: near "DO": syntax error

OperationalError: near "DO": syntax error

In [ ]:
update_file = (
    INDEX_DIR / "Financials_and_Price-compressed-20241129_20251031.parquet"
)  # ファイル名は手動指定する
df_update = pd.read_parquet(update_file)
variable_list = df_update["variable"].sort_values().unique().tolist()
date_list = df_update["date"].sort_values().unique().tolist()
start_date = min(date_list)
end_date = max(date_list)

# データベースの既存テーブル
existing_tables = db_utils.get_table_names(financials_db_path)
# 新しく追加されたデータ項目があるかチェック
added_variables = list(set(variable_list) - set(existing_tables))
if len(added_variables) > 0:
    # 新規データ項目のテーブル作成
    pass

# 1AYで取得したデータを更新するテーブル一覧
update_tables = list(set(existing_tables) & set(variable_list))
total_updated = 0
with sqlite3.connect(financials_db_path) as conn:
    for idx, table in enumerate(update_tables, 1):
        # date_listの日付のみデータベースから読み取り、df_updateとの差分を確認
        # 既存のデータが欠損していれば更新データでfillnaする（両方欠損していればそのまま）
        # 既存データと新規データの数値が異なっていれば新規データでupdateする

        print(f"\n[{idx}/{len(update_tables)}] 処理中: {table}")

        query = f"""
            SELECT
                *
            FROM
                {table}
            WHERE
                date >= '{start_date.strftime("%Y-%m-%d")}' AND date <= '{end_date.strftime("%Y-%m-%d")}'
        """
        df_existing = (
            pd.read_sql(query, con=conn, parse_dates=["date"])
            .rename(columns={"value": "value_existing"})
            .reindex(columns=["date", "P_SYMBOL", "variable", "value_existing"])
        )
        df_update_slice = (
            df_update.loc[df_update["variable"] == table]
            .copy()
            .rename(columns={"value": "value_new"})
            .reindex(columns=["date", "P_SYMBOL", "variable", "value_new"])
        )
        df_merged = pd.merge(
            df_update_slice,
            df_existing,
            on=["date", "P_SYMBOL", "variable"],
            how="outer",
        )
        df_merged["value"] = df_merged.apply(update_value, axis=1)

        # 変更検出（ベクトル化版）
        changed_mask = (
            # 既存がNaNで新規に値がある
            (df_merged["value_existing"].isna() & ~df_merged["value_new"].isna())
            |
            # 両方有効で数値が異なる
            (
                ~df_merged["value_existing"].isna()
                & ~df_merged["value_new"].isna()
                & ~np.isclose(
                    df_merged["value_existing"],
                    df_merged["value_new"],
                    rtol=1e-5,
                    atol=1e-3,
                )
            )
        )

        df_to_update = df_merged[changed_mask].reset_index(drop=True)[
            ["date", "P_SYMBOL", "variable", "value"]
        ]

        if len(df_to_update) > 0:
            print(f"  更新対象: {len(df_to_update):,}行")

            # データベース更新
            rows_affected = factset_utils.upsert_financial_data(
                df_to_update,
                conn,
                table,
                method="upsert",  # または "upsert"
            )

            total_updated += rows_affected
        else:
            print("  変更なし")

print(f"\n{'=' * 50}")
print("📊 更新完了")
print(f"{'=' * 50}")
print(f"総更新行数: {total_updated:,}行")

[1/63] 処理中: FF_DEBT_ST
  更新対象: 11,175行
⚠️  テーブル 'FF_DEBT_ST' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11175行, 挿入: 11175行
✅ 11175行を処理しました

[2/63] 処理中: FF_TAX_RATE
  更新対象: 10,469行
⚠️  テーブル 'FF_TAX_RATE' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10469行, 挿入: 10469行
✅ 10469行を処理しました

[3/63] 処理中: FF_ROE
  更新対象: 10,836行
⚠️  テーブル 'FF_ROE' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10836行, 挿入: 10836行
✅ 10836行を処理しました

[4/63] 処理中: FF_PPE_NET
  更新対象: 11,147行
⚠️  テーブル 'FF_PPE_NET' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11147行, 挿入: 11147行
✅ 11147行を処理しました

[5/63] 処理中: FF_SGA
  更新対象: 9,573行
⚠️  テーブル 'FF_SGA' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9573行, 挿入: 9573行
✅ 9573行を処理しました

[6/63] 処理中: FF_WKCAP
  更新対象: 11,176行
⚠️  テーブル 'FF_WKCAP' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11176行, 挿入: 11176行
✅ 11176行を処理しました

[7/63] 処理中: FF_GROSS_INC
  更新対象: 9,699行
⚠️  テーブル 'FF_GROSS_INC' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9699行, 挿入: 9699行
✅ 9699行を処理しました

[8/63] 処理中: FF_ENTRPR_VAL_EBIT_OPER
  更新対象: 9,440行
⚠️  テーブル 'FF_ENTRPR_VAL_EBIT_OPER' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9440行, 挿入: 9440行
✅ 9440行を処理しました

[9/63] 処理中: FF_OPER_PS_NET_CF
  更新対象: 10,925行
⚠️  テーブル 'FF_OPER_PS_NET_CF' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10925行, 挿入: 10925行
✅ 10925行を処理しました

[10/63] 処理中: FF_CURR_RATIO
  更新対象: 11,131行
⚠️  テーブル 'FF_CURR_RATIO' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11131行, 挿入: 11131行
✅ 11131行を処理しました

[11/63] 処理中: FF_MIN_INT_ACCUM
  更新対象: 11,195行
⚠️  テーブル 'FF_MIN_INT_ACCUM' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11195行, 挿入: 11195行
✅ 11195行を処理しました

[12/63] 処理中: FF_PTX_INC
  更新対象: 11,220行
⚠️  テーブル 'FF_PTX_INC' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11220行, 挿入: 11220行
✅ 11220行を処理しました

[13/63] 処理中: FF_EBIT_OPER
  更新対象: 9,845行
⚠️  テーブル 'FF_EBIT_OPER' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9845行, 挿入: 9845行
✅ 9845行を処理しました

[14/63] 処理中: FF_INT_EXP_NET
  更新対象: 10,639行
⚠️  テーブル 'FF_INT_EXP_NET' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10639行, 挿入: 10639行
✅ 10639行を処理しました

[15/63] 処理中: FF_COM_EQ
  更新対象: 11,222行
⚠️  テーブル 'FF_COM_EQ' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11222行, 挿入: 11222行
✅ 11222行を処理しました

[16/63] 処理中: FF_PE
  更新対象: 10,502行
⚠️  テーブル 'FF_PE' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10502行, 挿入: 10502行
✅ 10502行を処理しました

[17/63] 処理中: FF_DPS
  更新対象: 9,611行
⚠️  テーブル 'FF_DPS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9611行, 挿入: 9611行
✅ 9611行を処理しました

[18/63] 処理中: FF_NET_MGN
  更新対象: 11,233行
⚠️  テーブル 'FF_NET_MGN' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11233行, 挿入: 11233行
✅ 11233行を処理しました

[19/63] 処理中: FF_PSALES
  更新対象: 11,177行
⚠️  テーブル 'FF_PSALES' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11177行, 挿入: 11177行
✅ 11177行を処理しました

[20/63] 処理中: FF_OPER_CF
  更新対象: 10,935行
⚠️  テーブル 'FF_OPER_CF' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10935行, 挿入: 10935行
✅ 10935行を処理しました

[21/63] 処理中: FF_SHLDRS_EQ
  更新対象: 11,222行
⚠️  テーブル 'FF_SHLDRS_EQ' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11222行, 挿入: 11222行
✅ 11222行を処理しました

[22/63] 処理中: FF_NET_INC
  更新対象: 11,233行
⚠️  テーブル 'FF_NET_INC' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11233行, 挿入: 11233行
✅ 11233行を処理しました

[23/63] 処理中: FF_PAY_OUT_RATIO
  更新対象: 8,795行
⚠️  テーブル 'FF_PAY_OUT_RATIO' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 8795行, 挿入: 8795行
✅ 8795行を処理しました

[24/63] 処理中: FF_PFD_STK
  更新対象: 11,217行
⚠️  テーブル 'FF_PFD_STK' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11217行, 挿入: 11217行
✅ 11217行を処理しました

[25/63] 処理中: FF_EBITDA_OPER_MGN
  更新対象: 9,706行
⚠️  テーブル 'FF_EBITDA_OPER_MGN' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9706行, 挿入: 9706行
✅ 9706行を処理しました

[26/63] 処理中: FF_ENTRPR_VAL_EBITDA_OPER
  更新対象: 9,509行
⚠️  テーブル 'FF_ENTRPR_VAL_EBITDA_OPER' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9509行, 挿入: 9509行
✅ 9509行を処理しました

[27/63] 処理中: FF_LIABS_SHLDRS_EQ
  更新対象: 11,216行
⚠️  テーブル 'FF_LIABS_SHLDRS_EQ' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11216行, 挿入: 11216行
✅ 11216行を処理しました

[28/63] 処理中: FF_CAPEX
  更新対象: 10,842行
⚠️  テーブル 'FF_CAPEX' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10842行, 挿入: 10842行
✅ 10842行を処理しました

[29/63] 処理中: FF_GROSS_MGN
  更新対象: 9,699行
⚠️  テーブル 'FF_GROSS_MGN' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9699行, 挿入: 9699行
✅ 9699行を処理しました

[30/63] 処理中: FF_DEP_AMORT_EXP
  更新対象: 10,911行
⚠️  テーブル 'FF_DEP_AMORT_EXP' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10911行, 挿入: 10911行
✅ 10911行を処理しました

[31/63] 処理中: FF_COGS
  更新対象: 9,699行
⚠️  テーブル 'FF_COGS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9699行, 挿入: 9699行
✅ 9699行を処理しました

[32/63] 処理中: FF_BPS
  更新対象: 11,180行
⚠️  テーブル 'FF_BPS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11180行, 挿入: 11180行
✅ 11180行を処理しました

[33/63] 処理中: FF_PBK
  更新対象: 10,800行
⚠️  テーブル 'FF_PBK' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10800行, 挿入: 10800行
✅ 10800行を処理しました

[34/63] 処理中: FF_QUICK_RATIO
  更新対象: 9,820行
⚠️  テーブル 'FF_QUICK_RATIO' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9820行, 挿入: 9820行
✅ 9820行を処理しました

[35/63] 処理中: FF_ROA
  更新対象: 11,168行
⚠️  テーブル 'FF_ROA' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11168行, 挿入: 11168行
✅ 11168行を処理しました

[36/63] 処理中: FF_DEBT_LT
  更新対象: 11,209行
⚠️  テーブル 'FF_DEBT_LT' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11209行, 挿入: 11209行
✅ 11209行を処理しました

[37/63] 処理中: FF_ASSETS
  更新対象: 11,215行
⚠️  テーブル 'FF_ASSETS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11215行, 挿入: 11215行
✅ 11215行を処理しました

[38/63] 処理中: FF_SALES
  更新対象: 11,233行
⚠️  テーブル 'FF_SALES' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11233行, 挿入: 11233行
✅ 11233行を処理しました

[39/63] 処理中: FF_EPS_DIL
  更新対象: 11,191行
⚠️  テーブル 'FF_EPS_DIL' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11191行, 挿入: 11191行
✅ 11191行を処理しました

[40/63] 処理中: FF_PTX_MGN
  更新対象: 11,220行
⚠️  テーブル 'FF_PTX_MGN' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11220行, 挿入: 11220行
✅ 11220行を処理しました

[41/63] 処理中: FF_BPS_TANG
  更新対象: 11,180行
⚠️  テーブル 'FF_BPS_TANG' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11180行, 挿入: 11180行
✅ 11180行を処理しました

[42/63] 処理中: FF_LIABS
  更新対象: 11,213行
⚠️  テーブル 'FF_LIABS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11213行, 挿入: 11213行
✅ 11213行を処理しました

[43/63] 処理中: FF_STK_PURCH_CF
  更新対象: 10,827行
⚠️  テーブル 'FF_STK_PURCH_CF' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10827行, 挿入: 10827行
✅ 10827行を処理しました

[44/63] 処理中: FF_DEBT
  更新対象: 11,209行
⚠️  テーブル 'FF_DEBT' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11209行, 挿入: 11209行
✅ 11209行を処理しました

[45/63] 処理中: FF_FREE_CF
  更新対象: 10,808行
⚠️  テーブル 'FF_FREE_CF' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10808行, 挿入: 10808行
✅ 10808行を処理しました

[46/63] 処理中: FF_EBIT_OPER_MGN
  更新対象: 9,845行
⚠️  テーブル 'FF_EBIT_OPER_MGN' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9845行, 挿入: 9845行
✅ 9845行を処理しました

[47/63] 処理中: FF_INC_TAX
  更新対象: 11,220行
⚠️  テーブル 'FF_INC_TAX' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11220行, 挿入: 11220行
✅ 11220行を処理しました

[48/63] 処理中: FF_OPER_INC
  更新対象: 11,222行
⚠️  テーブル 'FF_OPER_INC' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11222行, 挿入: 11222行
✅ 11222行を処理しました

[49/63] 処理中: FF_ROTC
  更新対象: 11,155行
⚠️  テーブル 'FF_ROTC' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11155行, 挿入: 11155行
✅ 11155行を処理しました

[50/63] 処理中: FF_FREE_PS_CF
  更新対象: 10,798行
⚠️  テーブル 'FF_FREE_PS_CF' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10798行, 挿入: 10798行
✅ 10798行を処理しました

[51/63] 処理中: FF_CASH_ST
  更新対象: 9,837行
⚠️  テーブル 'FF_CASH_ST' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9837行, 挿入: 9837行
✅ 9837行を処理しました

[52/63] 処理中: FF_DIV_YLD
  更新対象: 9,549行
⚠️  テーブル 'FF_DIV_YLD' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9549行, 挿入: 9549行
✅ 9549行を処理しました

[53/63] 処理中: FF_SALES_PS
  更新対象: 11,206行
⚠️  テーブル 'FF_SALES_PS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11206行, 挿入: 11206行
✅ 11206行を処理しました

[54/63] 処理中: FF_ENTRPR_VAL_SALES
  更新対象: 11,164行
⚠️  テーブル 'FF_ENTRPR_VAL_SALES' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11164行, 挿入: 11164行
✅ 11164行を処理しました

[55/63] 処理中: FF_ROIC
  更新対象: 11,152行
⚠️  テーブル 'FF_ROIC' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11152行, 挿入: 11152行
✅ 11152行を処理しました

[56/63] 処理中: FF_DEBT_EQ
  更新対象: 10,841行
⚠️  テーブル 'FF_DEBT_EQ' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 10841行, 挿入: 10841行
✅ 10841行を処理しました

[57/63] 処理中: FF_EBITDA_OPER
  更新対象: 9,706行
⚠️  テーブル 'FF_EBITDA_OPER' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 9706行, 挿入: 9706行
✅ 9706行を処理しました

[58/63] 処理中: FF_OPER_MGN
  更新対象: 11,222行
⚠️  テーブル 'FF_OPER_MGN' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11222行, 挿入: 11222行
✅ 11222行を処理しました

[59/63] 処理中: FF_EPS
  更新対象: 11,233行
⚠️  テーブル 'FF_EPS' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11233行, 挿入: 11233行
✅ 11233行を処理しました

[60/63] 処理中: FF_STK_OPT_EXP
  更新対象: 7,139行
⚠️  テーブル 'FF_STK_OPT_EXP' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 7139行, 挿入: 7139行
✅ 7139行を処理しました

[61/63] 処理中: FF_NET_DEBT
  更新対象: 11,209行
⚠️  テーブル 'FF_NET_DEBT' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11209行, 挿入: 11209行
✅ 11209行を処理しました

[62/63] 処理中: FG_PRICE
  更新対象: 11,385行
⚠️  テーブル 'FG_PRICE' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11385行, 挿入: 11385行
✅ 11385行を処理しました

[63/63] 処理中: FF_DEBT_ENTRPR_VAL
  更新対象: 11,186行
⚠️  テーブル 'FF_DEBT_ENTRPR_VAL' にUNIQUE制約がありません
   制約を追加するには、テーブルを再作成する必要があります
⚠️  UPSERT方式を使用できません。delete_insert方式に切り替えます
  削除: 11186行, 挿入: 11186行
✅ 11186行を処理しました

==================================================
📊 更新完了
==================================================
総更新行数: 672,541行

In [ ]:
with sqlite3.connect(financials_db_path) as conn:
    df = pd.read_sql(
        "SELECT * FROM FF_SALES",
        con=conn,
        parse_dates=["date"],
    )
    display(df.dropna(subset=["date"]))

             date P_SYMBOL         value  variable
0      2005-08-31  0HSW-GB    528.570465  FF_SALES
1      2005-09-30  0HSW-GB    556.819159  FF_SALES
2      2005-10-31  0HSW-GB    556.819159  FF_SALES
3      2005-11-30  0HSW-GB    556.819159  FF_SALES
4      2005-12-30  0HSW-GB           NaN  FF_SALES
...           ...      ...           ...       ...
791258 2025-06-30  ZURN-CH  37031.999926  FF_SALES
791259 2025-07-31  ZURN-CH  37031.999926  FF_SALES
791260 2025-08-29  ZURN-CH  37031.999926  FF_SALES
791261 2025-09-30  ZURN-CH  37031.999926  FF_SALES
791262 2025-10-31  ZURN-CH  37031.999926  FF_SALES

[791263 rows x 4 columns]

### データベースチェック

In [ ]:
# データベースの中身チェック
with sqlite3.connect(financials_db_path) as conn:
    df = pd.read_sql(
        "SELECT * FROM FF_ASSETS ORDER BY date", parse_dates=["date"], con=conn
    )
display(df)
display(df.drop_duplicates(subset=["date", "P_SYMBOL"]))
display(df["date"].unique().tolist())

             date     P_SYMBOL          value   variable
0      2005-08-31      0HSW-GB    2448.485005  FF_ASSETS
1      2005-08-31  0II3.XX1-GB    1950.065394  FF_ASSETS
2      2005-08-31      0MDJ-GB   18381.562024  FF_ASSETS
3      2005-08-31      0N1N-GB    2893.729277  FF_ASSETS
4      2005-08-31      0N3I-GB    4176.764098  FF_ASSETS
...           ...          ...            ...        ...
791258 2025-10-31      ZBRA-US    8067.000000  FF_ASSETS
791259 2025-10-31        ZM-US            NaN  FF_ASSETS
791260 2025-10-31        ZS-US            NaN  FF_ASSETS
791261 2025-10-31       ZTS-US   15159.000000  FF_ASSETS
791262 2025-10-31      ZURN-CH  392546.990267  FF_ASSETS

[791263 rows x 4 columns]

             date     P_SYMBOL          value   variable
0      2005-08-31      0HSW-GB    2448.485005  FF_ASSETS
1      2005-08-31  0II3.XX1-GB    1950.065394  FF_ASSETS
2      2005-08-31      0MDJ-GB   18381.562024  FF_ASSETS
3      2005-08-31      0N1N-GB    2893.729277  FF_ASSETS
4      2005-08-31      0N3I-GB    4176.764098  FF_ASSETS
...           ...          ...            ...        ...
791258 2025-10-31      ZBRA-US    8067.000000  FF_ASSETS
791259 2025-10-31        ZM-US            NaN  FF_ASSETS
791260 2025-10-31        ZS-US            NaN  FF_ASSETS
791261 2025-10-31       ZTS-US   15159.000000  FF_ASSETS
791262 2025-10-31      ZURN-CH  392546.990267  FF_ASSETS

[791263 rows x 4 columns]

[Timestamp('2005-08-31 00:00:00'),
 Timestamp('2005-09-30 00:00:00'),
 Timestamp('2005-10-31 00:00:00'),
 Timestamp('2005-11-30 00:00:00'),
 Timestamp('2005-12-30 00:00:00'),
 Timestamp('2006-01-31 00:00:00'),
 Timestamp('2006-02-28 00:00:00'),
 Timestamp('2006-03-31 00:00:00'),
 Timestamp('2006-04-28 00:00:00'),
 Timestamp('2006-05-31 00:00:00'),
 Timestamp('2006-06-30 00:00:00'),
 Timestamp('2006-07-31 00:00:00'),
 Timestamp('2006-08-31 00:00:00'),
 Timestamp('2006-09-29 00:00:00'),
 Timestamp('2006-10-31 00:00:00'),
 Timestamp('2006-11-30 00:00:00'),
 Timestamp('2006-12-29 00:00:00'),
 Timestamp('2007-01-31 00:00:00'),
 Timestamp('2007-02-28 00:00:00'),
 Timestamp('2007-03-30 00:00:00'),
 Timestamp('2007-04-30 00:00:00'),
 Timestamp('2007-05-31 00:00:00'),
 Timestamp('2007-06-29 00:00:00'),
 Timestamp('2007-07-31 00:00:00'),
 Timestamp('2007-08-31 00:00:00'),
 Timestamp('2007-09-28 00:00:00'),
 Timestamp('2007-10-31 00:00:00'),
 Timestamp('2007-11-30 00:00:00'),
 Timestamp('2007-12-31 00:00:00'),
 Timestamp('2008-01-31 00:00:00'),
 Timestamp('2008-02-29 00:00:00'),
 Timestamp('2008-03-31 00:00:00'),
 Timestamp('2008-04-30 00:00:00'),
 Timestamp('2008-05-30 00:00:00'),
 Timestamp('2008-06-30 00:00:00'),
 Timestamp('2008-07-31 00:00:00'),
 Timestamp('2008-08-29 00:00:00'),
 Timestamp('2008-09-30 00:00:00'),
 Timestamp('2008-10-31 00:00:00'),
 Timestamp('2008-11-28 00:00:00'),
 Timestamp('2008-12-31 00:00:00'),
 Timestamp('2009-01-30 00:00:00'),
 Timestamp('2009-02-27 00:00:00'),
 Timestamp('2009-03-31 00:00:00'),
 Timestamp('2009-04-30 00:00:00'),
 Timestamp('2009-05-29 00:00:00'),
 Timestamp('2009-06-30 00:00:00'),
 Timestamp('2009-07-31 00:00:00'),
 Timestamp('2009-08-31 00:00:00'),
 Timestamp('2009-09-30 00:00:00'),
 Timestamp('2009-10-30 00:00:00'),
 Timestamp('2009-11-30 00:00:00'),
 Timestamp('2009-12-31 00:00:00'),
 Timestamp('2010-01-29 00:00:00'),
 Timestamp('2010-02-26 00:00:00'),
 Timestamp('2010-03-31 00:00:00'),
 Timestamp('2010-04-30 00:00:00'),
 Timestamp('2010-05-28 00:00:00'),
 Timestamp('2010-06-30 00:00:00'),
 Timestamp('2010-07-30 00:00:00'),
 Timestamp('2010-08-31 00:00:00'),
 Timestamp('2010-09-30 00:00:00'),
 Timestamp('2010-10-29 00:00:00'),
 Timestamp('2010-11-30 00:00:00'),
 Timestamp('2010-12-31 00:00:00'),
 Timestamp('2011-01-31 00:00:00'),
 Timestamp('2011-02-28 00:00:00'),
 Timestamp('2011-03-31 00:00:00'),
 Timestamp('2011-04-29 00:00:00'),
 Timestamp('2011-05-31 00:00:00'),
 Timestamp('2011-06-30 00:00:00'),
 Timestamp('2011-07-29 00:00:00'),
 Timestamp('2011-08-31 00:00:00'),
 Timestamp('2011-09-30 00:00:00'),
 Timestamp('2011-10-31 00:00:00'),
 Timestamp('2011-11-30 00:00:00'),
 Timestamp('2011-12-30 00:00:00'),
 Timestamp('2012-01-31 00:00:00'),
 Timestamp('2012-02-29 00:00:00'),
 Timestamp('2012-03-30 00:00:00'),
 Timestamp('2012-04-30 00:00:00'),
 Timestamp('2012-05-31 00:00:00'),
 Timestamp('2012-06-29 00:00:00'),
 Timestamp('2012-07-31 00:00:00'),
 Timestamp('2012-08-31 00:00:00'),
 Timestamp('2012-09-28 00:00:00'),
 Timestamp('2012-10-31 00:00:00'),
 Timestamp('2012-11-30 00:00:00'),
 Timestamp('2012-12-31 00:00:00'),
 Timestamp('2013-01-31 00:00:00'),
 Timestamp('2013-02-28 00:00:00'),
 Timestamp('2013-03-28 00:00:00'),
 Timestamp('2013-04-30 00:00:00'),
 Timestamp('2013-05-31 00:00:00'),
 Timestamp('2013-06-28 00:00:00'),
 Timestamp('2013-07-31 00:00:00'),
 Timestamp('2013-08-30 00:00:00'),
 Timestamp('2013-09-30 00:00:00'),
 Timestamp('2013-10-31 00:00:00'),
 Timestamp('2013-11-29 00:00:00'),
 Timestamp('2013-12-31 00:00:00'),
 Timestamp('2014-01-31 00:00:00'),
 Timestamp('2014-02-28 00:00:00'),
 Timestamp('2014-03-31 00:00:00'),
 Timestamp('2014-04-30 00:00:00'),
 Timestamp('2014-05-30 00:00:00'),
 Timestamp('2014-06-30 00:00:00'),
 Timestamp('2014-07-31 00:00:00'),
 Timestamp('2014-08-29 00:00:00'),
 Timestamp('2014-09-30 00:00:00'),
 Timestamp('2014-10-31 00:00:00'),
 Timestamp('2014-11-28 00:00:00'),
 Timestamp('2014-12-31 00:00:00'),
 Timestamp('2015-01-30 00:00:00'),
 Timestamp('2015-02-27 00:00:00'),
 Timestamp('2015-03-31 00:00:00'),
 Timestamp('2015-04-30 00:00:00'),
 Timestamp('2015-05-29 00:00:00'),
 Timestamp('2015-06-30 00:00:00'),
 Timestamp('2015-07-31 00:00:00'),
 Timestamp('2015-08-31 00:00:00'),
 Timestamp('2015-09-30 00:00:00'),
 Timestamp('2015-10-30 00:00:00'),
 Timestamp('2015-11-30 00:00:00'),
 Timestamp('2015-12-31 00:00:00'),
 Timestamp('2016-01-29 00:00:00'),
 Timestamp('2016-02-29 00:00:00'),
 Timestamp('2016-03-31 00:00:00'),
 Timestamp('2016-04-29 00:00:00'),
 Timestamp('2016-05-31 00:00:00'),
 Timestamp('2016-06-30 00:00:00'),
 Timestamp('2016-07-29 00:00:00'),
 Timestamp('2016-08-31 00:00:00'),
 Timestamp('2016-09-30 00:00:00'),
 Timestamp('2016-10-31 00:00:00'),
 Timestamp('2016-11-30 00:00:00'),
 Timestamp('2016-12-30 00:00:00'),
 Timestamp('2017-01-31 00:00:00'),
 Timestamp('2017-02-28 00:00:00'),
 Timestamp('2017-03-31 00:00:00'),
 Timestamp('2017-04-28 00:00:00'),
 Timestamp('2017-05-31 00:00:00'),
 Timestamp('2017-06-30 00:00:00'),
 Timestamp('2017-07-31 00:00:00'),
 Timestamp('2017-08-31 00:00:00'),
 Timestamp('2017-09-29 00:00:00'),
 Timestamp('2017-10-31 00:00:00'),
 Timestamp('2017-11-30 00:00:00'),
 Timestamp('2017-12-29 00:00:00'),
 Timestamp('2018-01-31 00:00:00'),
 Timestamp('2018-02-28 00:00:00'),
 Timestamp('2018-03-29 00:00:00'),
 Timestamp('2018-04-30 00:00:00'),
 Timestamp('2018-05-31 00:00:00'),
 Timestamp('2018-06-29 00:00:00'),
 Timestamp('2018-07-31 00:00:00'),
 Timestamp('2018-08-31 00:00:00'),
 Timestamp('2018-09-28 00:00:00'),
 Timestamp('2018-10-31 00:00:00'),
 Timestamp('2018-11-30 00:00:00'),
 Timestamp('2018-12-31 00:00:00'),
 Timestamp('2019-01-31 00:00:00'),
 Timestamp('2019-02-28 00:00:00'),
 Timestamp('2019-03-29 00:00:00'),
 Timestamp('2019-04-30 00:00:00'),
 Timestamp('2019-05-31 00:00:00'),
 Timestamp('2019-06-28 00:00:00'),
 Timestamp('2019-07-31 00:00:00'),
 Timestamp('2019-08-30 00:00:00'),
 Timestamp('2019-09-30 00:00:00'),
 Timestamp('2019-10-31 00:00:00'),
 Timestamp('2019-11-29 00:00:00'),
 Timestamp('2019-12-31 00:00:00'),
 Timestamp('2020-01-31 00:00:00'),
 Timestamp('2020-02-28 00:00:00'),
 Timestamp('2020-03-31 00:00:00'),
 Timestamp('2020-04-30 00:00:00'),
 Timestamp('2020-05-29 00:00:00'),
 Timestamp('2020-06-30 00:00:00'),
 Timestamp('2020-07-31 00:00:00'),
 Timestamp('2020-08-31 00:00:00'),
 Timestamp('2020-09-30 00:00:00'),
 Timestamp('2020-10-30 00:00:00'),
 Timestamp('2020-11-30 00:00:00'),
 Timestamp('2020-12-31 00:00:00'),
 Timestamp('2021-01-29 00:00:00'),
 Timestamp('2021-02-26 00:00:00'),
 Timestamp('2021-03-31 00:00:00'),
 Timestamp('2021-04-30 00:00:00'),
 Timestamp('2021-05-28 00:00:00'),
 Timestamp('2021-06-30 00:00:00'),
 Timestamp('2021-07-30 00:00:00'),
 Timestamp('2021-08-31 00:00:00'),
 Timestamp('2021-09-30 00:00:00'),
 Timestamp('2021-10-29 00:00:00'),
 Timestamp('2021-11-30 00:00:00'),
 Timestamp('2021-12-31 00:00:00'),
 Timestamp('2022-01-31 00:00:00'),
 Timestamp('2022-02-28 00:00:00'),
 Timestamp('2022-03-31 00:00:00'),
 Timestamp('2022-04-29 00:00:00'),
 Timestamp('2022-05-31 00:00:00'),
 Timestamp('2022-06-30 00:00:00'),
 Timestamp('2022-07-29 00:00:00'),
 Timestamp('2022-08-31 00:00:00'),
 Timestamp('2022-09-30 00:00:00'),
 Timestamp('2022-10-31 00:00:00'),
 Timestamp('2022-11-30 00:00:00'),
 Timestamp('2022-12-30 00:00:00'),
 Timestamp('2023-01-31 00:00:00'),
 Timestamp('2023-02-28 00:00:00'),
 Timestamp('2023-03-31 00:00:00'),
 Timestamp('2023-04-28 00:00:00'),
 Timestamp('2023-05-31 00:00:00'),
 Timestamp('2023-06-30 00:00:00'),
 Timestamp('2023-07-31 00:00:00'),
 Timestamp('2023-08-31 00:00:00'),
 Timestamp('2023-09-29 00:00:00'),
 Timestamp('2023-10-31 00:00:00'),
 Timestamp('2023-11-30 00:00:00'),
 Timestamp('2023-12-29 00:00:00'),
 Timestamp('2024-01-31 00:00:00'),
 Timestamp('2024-02-29 00:00:00'),
 Timestamp('2024-03-28 00:00:00'),
 Timestamp('2024-04-30 00:00:00'),
 Timestamp('2024-05-31 00:00:00'),
 Timestamp('2024-06-28 00:00:00'),
 Timestamp('2024-07-31 00:00:00'),
 Timestamp('2024-08-30 00:00:00'),
 Timestamp('2024-09-30 00:00:00'),
 Timestamp('2024-10-31 00:00:00'),
 Timestamp('2024-11-29 00:00:00'),
 Timestamp('2024-12-31 00:00:00'),
 Timestamp('2025-01-31 00:00:00'),
 Timestamp('2025-02-28 00:00:00'),
 Timestamp('2025-03-31 00:00:00'),
 Timestamp('2025-04-30 00:00:00'),
 Timestamp('2025-05-30 00:00:00'),
 Timestamp('2025-06-30 00:00:00'),
 Timestamp('2025-07-31 00:00:00'),
 Timestamp('2025-08-29 00:00:00'),
 Timestamp('2025-09-30 00:00:00'),
 Timestamp('2025-10-31 00:00:00')]

## 3. リターン&ファクター用テーブル作成

### 3-1. リターンのテーブルを作成

In [ ]:
df_price = roic_utils.load_FG_PRICE(db_path=financials_db_path)
df_return = roic_utils.calculate_Return(
    df_price=df_price,
    date_column="date",
    symbol_column="P_SYMBOL",
    price_column="FG_PRICE",
)
print("--- return data ---")
display(df_return.head(3))
print("-" * 20)

# ------------------------------------------------------------------------------------
# データチェック
# 銘柄によってはdateが1カ月ずつ連続でデータがあるとは限らない
# FG_PRICEがない場合にpct_changeを素直に実行するとリターンの期間が他の銘柄とずれる
# そのため、全dateの長さと銘柄ごとのdateの長さを比較する
# ------------------------------------------------------------------------------------

df_check = df_return.reset_index()
symbol_date_counts = df_check.groupby("P_SYMBOL")["date"].nunique()
all_date_len = len(df_check["date"].unique())
not_enough_len_symbols = symbol_date_counts[symbol_date_counts != all_date_len].index
if len(not_enough_len_symbols) > 0:
    print("問題あり")
    display(not_enough_len_symbols)
else:  # 問題なければデータベースに保存
    print("問題なし")
    df_return.reset_index(inplace=True)
    display(df_return.head(5))
    for col in [
        s
        for s in df_return.columns
        if s.startswith("Return") or s.startswith("Forward_Return")
    ]:
        df_slice = (
            df_return[["date", "P_SYMBOL", col]]
            .rename(columns={col: "value"})
            .assign(variable=col)
        )
        df_slice["value"] = df_slice["value"].astype(float)
        df_slice["date"] = pd.to_datetime(df_slice["date"])
        db_utils.delete_table_from_database(db_path=financials_db_path, table_name=col)
        factset_utils.store_to_database(
            df=df_slice, db_path=financials_db_path, table_name=col
        )

--- return data ---

,,FG_PRICE,Return_1M,Forward_Return_1M,Return_1M_annlzd,Forward_Return_1M_annlzd,Return_3M,Forward_Return_3M,Return_3M_annlzd,Forward_Return_3M_annlzd,Return_6M,...,Return_12M_annlzd,Forward_Return_12M_annlzd,Return_3Y,Forward_Return_3Y,Return_3Y_annlzd,Forward_Return_3Y_annlzd,Return_5Y,Forward_Return_5Y,Return_5Y_annlzd,Forward_Return_5Y_annlzd
P_SYMBOL,date,,,,,,,,,,,,,,,,,,,,,
0HSW-GB,2005-08-31,3.23,NaN,0.13,NaN,1.53,NaN,0.34,NaN,1.37,NaN,...,NaN,0.55,NaN,0.85,NaN,0.28,NaN,0.85,NaN,0.17
0II3.XX1-GB,2005-08-31,4.17,NaN,0.01,NaN,0.18,NaN,0.06,NaN,0.24,NaN,...,NaN,-0.12,NaN,0.12,NaN,0.04,NaN,0.12,NaN,0.02
0MDJ-GB,2005-08-31,6.09,NaN,0.05,NaN,0.55,NaN,0.02,NaN,0.06,NaN,...,NaN,0.02,NaN,0.04,NaN,0.01,NaN,0.42,NaN,0.08

--------------------
問題なし

,P_SYMBOL,date,FG_PRICE,Return_1M,Forward_Return_1M,Return_1M_annlzd,Forward_Return_1M_annlzd,Return_3M,Forward_Return_3M,Return_3M_annlzd,...,Return_12M_annlzd,Forward_Return_12M_annlzd,Return_3Y,Forward_Return_3Y,Return_3Y_annlzd,Forward_Return_3Y_annlzd,Return_5Y,Forward_Return_5Y,Return_5Y_annlzd,Forward_Return_5Y_annlzd
0,0HSW-GB,2005-08-31,3.23,NaN,0.13,NaN,1.53,NaN,0.34,NaN,...,NaN,0.55,NaN,0.85,NaN,0.28,NaN,0.85,NaN,0.17
1,0II3.XX1-GB,2005-08-31,4.17,NaN,0.01,NaN,0.18,NaN,0.06,NaN,...,NaN,-0.12,NaN,0.12,NaN,0.04,NaN,0.12,NaN,0.02
2,0MDJ-GB,2005-08-31,6.09,NaN,0.05,NaN,0.55,NaN,0.02,NaN,...,NaN,0.02,NaN,0.04,NaN,0.01,NaN,0.42,NaN,0.08
3,0N1N-GB,2005-08-31,5.66,NaN,0.04,NaN,0.47,NaN,0.02,NaN,...,NaN,0.05,NaN,0.40,NaN,0.13,NaN,0.37,NaN,0.07
4,0N3I-GB,2005-08-31,2.81,NaN,0.03,NaN,0.34,NaN,0.03,NaN,...,NaN,0.01,NaN,-0.47,NaN,-0.16,NaN,0.15,NaN,0.03

テーブル 'Return_1M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_1M: データの書き込みが完了しました。
テーブル 'Forward_Return_1M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_1M: データの書き込みが完了しました。
テーブル 'Return_1M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_1M_annlzd: データの書き込みが完了しました。
テーブル 'Forward_Return_1M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_1M_annlzd: データの書き込みが完了しました。
テーブル 'Return_3M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_3M: データの書き込みが完了しました。
テーブル 'Forward_Return_3M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_3M: データの書き込みが完了しました。
テーブル 'Return_3M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_3M_annlzd: データの書き込みが完了しました。
テーブル 'Forward_Return_3M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_3M_annlzd: データの書き込みが完了しました。
テーブル 'Return_6M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_6M: データの書き込みが完了しました。
テーブル 'Forward_Return_6M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_6M: データの書き込みが完了しました。
テーブル 'Return_6M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_6M_annlzd: データの書き込みが完了しました。
テーブル 'Forward_Return_6M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_6M_annlzd: データの書き込みが完了しました。
テーブル 'Return_12M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_12M: データの書き込みが完了しました。
テーブル 'Forward_Return_12M' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_12M: データの書き込みが完了しました。
テーブル 'Return_12M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_12M_annlzd: データの書き込みが完了しました。
テーブル 'Forward_Return_12M_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_12M_annlzd: データの書き込みが完了しました。
テーブル 'Return_3Y' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_3Y: データの書き込みが完了しました。
テーブル 'Forward_Return_3Y' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_3Y: データの書き込みが完了しました。
テーブル 'Return_3Y_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_3Y_annlzd: データの書き込みが完了しました。
テーブル 'Forward_Return_3Y_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_3Y_annlzd: データの書き込みが完了しました。
テーブル 'Return_5Y' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_5Y: データの書き込みが完了しました。
テーブル 'Forward_Return_5Y' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_5Y: データの書き込みが完了しました。
テーブル 'Return_5Y_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Return_5Y_annlzd: データの書き込みが完了しました。
テーブル 'Forward_Return_5Y_annlzd' は存在しません。新しいテーブルとして、すべての 794853 行を追加します。
  -> Forward_Return_5Y_annlzd: データの書き込みが完了しました。

### 3-2. インデックスの価格とリターンデータを取得 via Blpapi

⚠️ 注意 ⚠️ Bloomberg Terminal を起動している必要あり。

In [ ]:
# データベース確認

with sqlite3.connect(bloomberg_index_db_path) as conn:
    df = pd.read_sql("SELECT * FROM PX_LAST", con=conn, parse_dates=["Date"])
display(df)
print(
    f"Date: {df['Date'].min().strftime('%Y-%m-%d')} 〜 {df['Date'].max().strftime('%Y-%m-%d')} ({len(df['Date'].unique()):,}日)"
)
print(f"Ticker: {df['Ticker'].nunique():,}銘柄\n\t{df['Ticker'].unique().tolist()}")

            Date       Ticker    value variable
0     2000-01-03   MXKO Index  1356.99  PX_LAST
1     2000-01-04   MXKO Index  1312.02  PX_LAST
2     2000-01-05   MXKO Index  1300.44  PX_LAST
3     2000-01-06   MXKO Index  1290.97  PX_LAST
4     2000-01-07   MXKO Index  1326.68  PX_LAST
...          ...          ...      ...      ...
20269 2025-11-26   MXKO Index  4544.91  PX_LAST
20270 2025-11-25   MXWD Index   991.06  PX_LAST
20271 2025-11-26   MXWD Index  1000.21  PX_LAST
20272 2025-11-25  MXWDJ Index  1517.41  PX_LAST
20273 2025-11-26  MXWDJ Index  1530.70  PX_LAST

[20274 rows x 4 columns]

Date: 2000-01-03 〜 2025-11-26 (6,758日)
Ticker: 3銘柄
	['MXKO Index', 'MXWD Index', 'MXWDJ Index']

In [ ]:
# yamlで設定した銘柄リストの読み込み（Bloomberg Ticker）
BLOOMBERG_TICKER_YAML = BLOOMBERG_ROOT_DIR / "ticker-description.yaml"
EQUITY_TYPES = {"equity_index", "equity_sector_index", "equity_industry_index"}

with open(BLOOMBERG_TICKER_YAML, "r", encoding="utf-8") as f:
    ticker_descriptions = yaml.safe_load(f)

tickers_to_download = [
    ticker["bloomberg_ticker"]
    for ticker in ticker_descriptions
    if ticker.get("type") in EQUITY_TYPES
]

# -----------------------------------------------------
# Bloombergから価格データをダウンロードしてデータベースを更新
# -----------------------------------------------------


blp = bloomberg_utils.BlpapiCustom()
# 新規ティッカーがある場合

# df = blp.get_historical_data(
#     securities=tickers_to_download,
#     fields=["PX_LAST"],
#     start_date="20000101",
#     end_date=datetime.datetime.today().strftime("%Y%m%d"),
# )
# df = pd.melt(
#     df.reset_index(), id_vars=["Date"], var_name="Ticker", value_name="value"
# ).assign(variable="PX_LAST")
# display(df)
# blp.store_to_database(
#     df=df,
#     db_path=bloomberg_index_db_path,
#     table_name="PX_LAST",
#     primary_keys=["Date", "Ticker", "variable"],
#     verbose=True,
# )

# 　既存データの更新

rows_updated = blp.update_historical_data(
    db_path=bloomberg_index_db_path,
    table_name="PX_LAST",
    tickers=tickers_to_download,
    id_type="ticker",
    field="PX_LAST",
    default_start_date=datetime.datetime(2000, 1, 1),
    verbose=True,
)
print(f"\n{'=' * 60}")
print(f"処理完了: {rows_updated:,}行を処理しました")
print(f"{'=' * 60}")

============================================================
📊 増分更新モード
   最新データ日付: 2025-12-01
   取得期間: 2025-12-02 ~ 2025-12-02
   対象銘柄: 70銘柄
============================================================
Bloombergセッションを開始しています...
セッション開始成功。
✅ サービスオープン完了。リクエスト作成中...
📡 リクエストを送信します [DAILY]
   期間: 2025-12-02 - 2025-12-02
❌ MXWDJ0HC Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:51672]
❌ MXWDJ0IN Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:51672]
❌ MXWDJ0IT Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:51672]
❌ MXWDJ0MT Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:51672]
❌ MXWDJ0RE Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:51672]
❌ MXWDJ0UT Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:51672]
❌ MXWDJ0CS Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:53351]
❌ MXWDJ0CD Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:53351]
❌ MXWDJ0ST Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:53351]
❌ MXWDJ0EN Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:53351]
❌ MXWDJ0FN Index (TICKER) でエラー: Unknown/Invalid securityInvalid Security [nid:53351]

✅ データ取得完了。接続を終了しました。
取得されたデータがありません。
⚠️ 新規データがありません。

============================================================
処理完了: 0行を処理しました
============================================================

In [ ]:
# 既存のFG_PRICEのテーブルからリターン計算すべき日付を取得
df_index_price_filtered = (
    db_utils.get_rows_by_unique_values(
        source_db_path=financials_db_path,
        target_db_path=bloomberg_index_db_path,
        source_table="FG_PRICE",
        target_table="PX_LAST",
        source_column="date",
        target_column="Date",
    )
    .query(f"Ticker == '{BLOOMBERG_UNIVERSE_TICKER}'")
    .reset_index(drop=True)
    .assign(Date=lambda x: pd.to_datetime(x["Date"]))
)


# インデックスについて同様にリターンを計算してデータベースに保存
df_index_return = roic_utils.calculate_Return(
    df_price=df_index_price_filtered,
    date_column="Date",
    symbol_column="Ticker",
    price_column="value",
)
print("--- return data ---")
display(df_index_return.head(3))
print("-" * 20)

# ------------------------------------------------------------------------------------
# データチェック
# 銘柄によってはdateが1カ月ずつ連続でデータがあるとは限らない
# 価格データがない場合にpct_changeを素直に実行するとリターンの期間が他の銘柄とずれる
# そのため、全dateの長さと銘柄ごとのdateの長さを比較する
# ------------------------------------------------------------------------------------

df_check = df_index_return.reset_index()
symbol_date_counts = df_check.groupby("Ticker")["Date"].nunique()
all_date_len = len(df_check["Date"].unique())
not_enough_len_symbols = symbol_date_counts[symbol_date_counts != all_date_len].index
if len(not_enough_len_symbols) > 0:
    print("問題あり")
    display(not_enough_len_symbols)
else:  # 問題なければデータベースに保存
    print("問題なし")
    df_index_return.reset_index(inplace=True)
    display(df_index_return.head(5))
    for col in [
        s
        for s in df_index_return.columns
        if s.startswith("Return") or s.startswith("Forward_Return")
    ]:
        df_slice = (
            df_index_return[["Date", "Ticker", col]]
            .rename(columns={col: "value"})
            .assign(variable=col)
        )
        df_slice["value"] = df_slice["value"].astype(float)
        df_slice["Date"] = pd.to_datetime(df_slice["Date"])
        db_utils.delete_table_from_database(
            db_path=bloomberg_index_db_path, table_name=col
        )
        blp.store_to_database(
            df=df_slice,
            db_path=bloomberg_index_db_path,
            table_name=col,
            primary_keys=["Date", "Ticker", "variable"],
        )

--- return data ---

                         value variable  Return_1M  Forward_Return_1M  \
Ticker     Date
MXKO Index 2005-08-31  1171.92  PX_LAST        NaN           0.016597
           2005-09-30  1191.37  PX_LAST   0.016597          -0.026373
           2005-10-31  1159.95  PX_LAST  -0.026373           0.030096

                       Return_1M_annlzd  Forward_Return_1M_annlzd  Return_3M  \
Ticker     Date
MXKO Index 2005-08-31               NaN                  0.199160        NaN
           2005-09-30          0.199160                 -0.316476        NaN
           2005-10-31         -0.316476                  0.361153        NaN

                       Forward_Return_3M  Return_3M_annlzd  \
Ticker     Date
MXKO Index 2005-08-31           0.019575               NaN
           2005-09-30           0.016527               NaN
           2005-10-31           0.089219               NaN

                       Forward_Return_3M_annlzd  ...  Return_12M_annlzd  \
Ticker     Date                                  ...
MXKO Index 2005-08-31                  0.078299  ...                NaN
           2005-09-30                  0.066109  ...                NaN
           2005-10-31                  0.356877  ...                NaN

                       Forward_Return_12M_annlzd  Return_3Y  \
Ticker     Date
MXKO Index 2005-08-31                   0.124522        NaN
           2005-09-30                   0.122363        NaN
           2005-10-31                   0.197043        NaN

                       Forward_Return_3Y  Return_3Y_annlzd  \
Ticker     Date
MXKO Index 2005-08-31           0.134258               NaN
           2005-09-30          -0.019943               NaN
           2005-10-31          -0.189267               NaN

                       Forward_Return_3Y_annlzd  Return_5Y  Forward_Return_5Y  \
Ticker     Date
MXKO Index 2005-08-31                  0.044753        NaN          -0.090194
           2005-09-30                 -0.006648        NaN          -0.017988
           2005-10-31                 -0.063089        NaN           0.047174

                       Return_5Y_annlzd  Forward_Return_5Y_annlzd
Ticker     Date
MXKO Index 2005-08-31               NaN                 -0.018039
           2005-09-30               NaN                 -0.003598
           2005-10-31               NaN                  0.009435

[3 rows x 26 columns]

--------------------
問題なし

,Ticker,Date,value,variable,Return_1M,Forward_Return_1M,Return_1M_annlzd,Forward_Return_1M_annlzd,Return_3M,Forward_Return_3M,...,Return_12M_annlzd,Forward_Return_12M_annlzd,Return_3Y,Forward_Return_3Y,Return_3Y_annlzd,Forward_Return_3Y_annlzd,Return_5Y,Forward_Return_5Y,Return_5Y_annlzd,Forward_Return_5Y_annlzd
0,MXKO Index,2005-08-31,1171.92,PX_LAST,NaN,0.016597,NaN,0.199160,NaN,0.019575,...,NaN,0.124522,NaN,0.134258,NaN,0.044753,NaN,-0.090194,NaN,-0.018039
1,MXKO Index,2005-09-30,1191.37,PX_LAST,0.016597,-0.026373,0.199160,-0.316476,NaN,0.016527,...,NaN,0.122363,NaN,-0.019943,NaN,-0.006648,NaN,-0.017988,NaN,-0.003598
2,MXKO Index,2005-10-31,1159.95,PX_LAST,-0.026373,0.030096,-0.316476,0.361153,NaN,0.089219,...,NaN,0.197043,NaN,-0.189267,NaN,-0.063089,NaN,0.047174,NaN,0.009435
3,MXKO Index,2005-11-30,1194.86,PX_LAST,0.030096,0.013558,0.361153,0.162697,0.019575,0.055178,...,NaN,0.190616,NaN,-0.270919,NaN,-0.090306,NaN,-0.012060,NaN,-0.002412
4,MXKO Index,2005-12-30,1211.06,PX_LAST,0.013558,0.043251,0.162697,0.519016,0.016527,0.061326,...,NaN,0.196943,NaN,-0.263166,NaN,-0.087722,NaN,0.045068,NaN,0.009014

✅ 保存完了。テーブル 'Return_1M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_1M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_1M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_1M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_3M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_3M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_3M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_3M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_6M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_6M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_6M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_6M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_12M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_12M' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_12M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_12M_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_3Y' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_3Y' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_3Y_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_3Y_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_5Y' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_5Y' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Return_5Y_annlzd' に 243 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'Forward_Return_5Y_annlzd' に 243 行を処理しました (IGNORE)。

### 3-3. Active Return 計算

テーブル作成し、データベースに保存

In [ ]:
return_cols = [
    # "Return_1M",
    # "Return_1M_annlzd",
    # "Forward_Return_1M",
    # "Forward_Return_1M_annlzd",
    # "Return_3M",
    # "Return_3M_annlzd",
    # "Forward_Return_3M",
    # "Forward_Return_3M_annlzd",
    # "Return_6M",
    # "Return_6M_annlzd",
    # "Forward_Return_6M",
    # "Forward_Return_6M_annlzd",
    "Return_12M",
    "Return_12M_annlzd",
    "Forward_Return_12M",
    "Forward_Return_12M_annlzd",
    # "Return_3Y",
    # "Return_3Y_annlzd",
    # "Forward_Return_3Y",
    # "Forward_Return_3Y_annlzd",
    # "Return_5Y",
    # "Return_5Y_annlzd",
    # "Forward_Return_5Y",
    # "Forward_Return_5Y_annlzd",
]

# ------------------------------------
# インデックスのリターン
# ------------------------------------
union_queries_index = []
for table in return_cols:
    union_queries_index.append(
        f"SELECT Date, Ticker, value, variable FROM '{table}' WHERE Ticker = '{BLOOMBERG_UNIVERSE_TICKER}'"
    )
union_query_index = " UNION ALL ".join(union_queries_index)

# データ取得
with sqlite3.connect(bloomberg_index_db_path) as conn:
    df_return_index = pd.read_sql(
        union_query_index, con=conn, parse_dates=["Date"]
    ).rename(columns={"Date": "date", "Ticker": "symbol"})

df_return_index = df_return_index.drop_duplicates(ignore_index=True)
print(f"✅ インデックスデータ: {len(df_return_index):,}件")


# ------------------------------------
# 個別銘柄のリターン
# ------------------------------------
union_queries_security = []
for table in return_cols:
    union_queries_security.append(
        f"SELECT date, P_SYMBOL, value, variable FROM '{table}'"
    )

union_query_security = " UNION ALL ".join(union_queries_security)

# データ取得
with sqlite3.connect(financials_db_path) as conn:
    df_return_security = pd.read_sql(
        union_query_security, con=conn, parse_dates=["date"]
    ).rename(columns={"P_SYMBOL": "symbol"})

df_return_security = df_return_security.drop_duplicates(ignore_index=True)

print(f"✅ 個別銘柄データ: {len(df_return_security):,}件")

# ------------------------------------
# concatenate returns
# ------------------------------------
df_returns = pd.concat([df_return_index, df_return_security], ignore_index=True)
display(df_returns.tail(3))

# ------------------------------------
# アクティブリターン計算
# ------------------------------------
df_active_returns = performance_metrics_utils.calculate_active_returns_parallel(
    df_returns=df_returns,
    return_cols=return_cols,
    benchmark_ticker=BLOOMBERG_UNIVERSE_TICKER,
    max_workers=10,
    verbose=False,
)
display(df_active_returns.tail(3))

# ------------------------------------
# Active return: データベース保存
# ------------------------------------
# 推奨方法：直列書き込み版
results = factset_utils.store_active_returns_batch_serial_write(
    df_active_returns=df_active_returns,
    return_cols=return_cols,
    db_path=financials_db_path,
    benchmark_ticker=BLOOMBERG_UNIVERSE_TICKER,
    batch_size=1000000,
    verbose=True,
)

✅ インデックスデータ: 972件
✅ 個別銘柄データ: 3,179,412件

              date   symbol  value                   variable
3180381 2025-10-31    ZS-US    NaN  Forward_Return_12M_annlzd
3180382 2025-10-31   ZTS-US    NaN  Forward_Return_12M_annlzd
3180383 2025-10-31  ZURN-CH    NaN  Forward_Return_12M_annlzd

              date   symbol  value                          variable
3179409 2025-08-29  ZURN-CH    NaN  Forward_Active_Return_12M_annlzd
3179410 2025-09-30  ZURN-CH    NaN  Forward_Active_Return_12M_annlzd
3179411 2025-10-31  ZURN-CH    NaN  Forward_Active_Return_12M_annlzd

============================================================
⚡ アクティブリターン最適化バッチ保存（直列書き込み版）
   処理列数: 4列
   データ行数: 3,179,412行
   バッチサイズ: 10,000行
============================================================
⏳ データ前処理中...
✅ 前処理完了 (1.42秒)
   処理対象: 4テーブル
============================================================

💾 保存中:  25%|██▌       | 1/4 [03:17<09:51, 197.17s/it]

✅ Active_Return_12M: 794,853件保存

💾 保存中:  50%|█████     | 2/4 [08:07<08:23, 251.75s/it]

✅ Active_Return_12M_annlzd: 794,853件保存

💾 保存中:  75%|███████▌  | 3/4 [13:53<04:55, 295.12s/it]

✅ Forward_Active_Return_12M: 794,853件保存

💾 保存中: 100%|██████████| 4/4 [22:35<00:00, 338.82s/it]

✅ Forward_Active_Return_12M_annlzd: 794,853件保存
============================================================
📊 バッチ保存完了統計
   成功: 4/4テーブル
   失敗: 0テーブル
   総保存件数: 3,179,412件
   前処理時間: 1.42秒
   保存時間: 1355.29秒
   合計時間: 1356.71秒
   スループット: 2,343件/秒
   成功率: 100.0%
============================================================

In [ ]:
table_names = sorted(db_utils.get_table_names(db_path=financials_db_path))
display(table_names)

['Active_Return_1M',
 'Active_Return_1M_annlzd',
 'Active_Return_3M',
 'Active_Return_3M_annlzd',
 'Active_Return_3Y',
 'Active_Return_3Y_annlzd',
 'Active_Return_5Y',
 'Active_Return_5Y_annlzd',
 'Active_Return_6M',
 'Active_Return_6M_annlzd',
 'FF_ASSETS',
 'FF_ASSETS_CAGR_3Y',
 'FF_ASSETS_CAGR_3Y_PctRank',
 'FF_ASSETS_CAGR_3Y_Rank',
 'FF_ASSETS_CAGR_3Y_ZScore',
 'FF_ASSETS_CAGR_5Y',
 'FF_ASSETS_CAGR_5Y_PctRank',
 'FF_ASSETS_CAGR_5Y_Rank',
 'FF_ASSETS_CAGR_5Y_ZScore',
 'FF_ASSETS_QoQ',
 'FF_ASSETS_QoQ_PctRank',
 'FF_ASSETS_QoQ_Rank',
 'FF_ASSETS_QoQ_ZScore',
 'FF_ASSETS_YoY',
 'FF_ASSETS_YoY_PctRank',
 'FF_ASSETS_YoY_Rank',
 'FF_ASSETS_YoY_ZScore',
 'FF_BPS',
 'FF_BPS_TANG',
 'FF_CAPEX',
 'FF_CASH_ST',
 'FF_COGS',
 'FF_COM_EQ',
 'FF_COM_EQ_CAGR_3Y',
 'FF_COM_EQ_CAGR_3Y_PctRank',
 'FF_COM_EQ_CAGR_3Y_Rank',
 'FF_COM_EQ_CAGR_3Y_ZScore',
 'FF_COM_EQ_CAGR_5Y',
 'FF_COM_EQ_CAGR_5Y_PctRank',
 'FF_COM_EQ_CAGR_5Y_Rank',
 'FF_COM_EQ_CAGR_5Y_ZScore',
 'FF_COM_EQ_QoQ',
 'FF_COM_EQ_QoQ_PctRank',
 'FF_COM_EQ_QoQ_Rank',
 'FF_COM_EQ_QoQ_ZScore',
 'FF_COM_EQ_YoY',
 'FF_COM_EQ_YoY_PctRank',
 'FF_COM_EQ_YoY_Rank',
 'FF_COM_EQ_YoY_ZScore',
 'FF_CURR_RATIO',
 'FF_DEBT',
 'FF_DEBT_CAGR_3Y',
 'FF_DEBT_CAGR_3Y_PctRank',
 'FF_DEBT_CAGR_3Y_Rank',
 'FF_DEBT_CAGR_3Y_ZScore',
 'FF_DEBT_CAGR_5Y',
 'FF_DEBT_CAGR_5Y_PctRank',
 'FF_DEBT_CAGR_5Y_Rank',
 'FF_DEBT_CAGR_5Y_ZScore',
 'FF_DEBT_ENTRPR_VAL',
 'FF_DEBT_EQ',
 'FF_DEBT_LT',
 'FF_DEBT_LT_CAGR_3Y',
 'FF_DEBT_LT_CAGR_3Y_PctRank',
 'FF_DEBT_LT_CAGR_3Y_Rank',
 'FF_DEBT_LT_CAGR_3Y_ZScore',
 'FF_DEBT_LT_CAGR_5Y',
 'FF_DEBT_LT_CAGR_5Y_PctRank',
 'FF_DEBT_LT_CAGR_5Y_Rank',
 'FF_DEBT_LT_CAGR_5Y_ZScore',
 'FF_DEBT_LT_QoQ',
 'FF_DEBT_LT_QoQ_PctRank',
 'FF_DEBT_LT_QoQ_Rank',
 'FF_DEBT_LT_QoQ_ZScore',
 'FF_DEBT_LT_YoY',
 'FF_DEBT_LT_YoY_PctRank',
 'FF_DEBT_LT_YoY_Rank',
 'FF_DEBT_LT_YoY_ZScore',
 'FF_DEBT_QoQ',
 'FF_DEBT_QoQ_PctRank',
 'FF_DEBT_QoQ_Rank',
 'FF_DEBT_QoQ_ZScore',
 'FF_DEBT_ST',
 'FF_DEBT_ST_CAGR_3Y',
 'FF_DEBT_ST_CAGR_3Y_PctRank',
 'FF_DEBT_ST_CAGR_3Y_Rank',
 'FF_DEBT_ST_CAGR_3Y_ZScore',
 'FF_DEBT_ST_CAGR_5Y',
 'FF_DEBT_ST_CAGR_5Y_PctRank',
 'FF_DEBT_ST_CAGR_5Y_Rank',
 'FF_DEBT_ST_CAGR_5Y_ZScore',
 'FF_DEBT_ST_QoQ',
 'FF_DEBT_ST_QoQ_PctRank',
 'FF_DEBT_ST_QoQ_Rank',
 'FF_DEBT_ST_QoQ_ZScore',
 'FF_DEBT_ST_YoY',
 'FF_DEBT_ST_YoY_PctRank',
 'FF_DEBT_ST_YoY_Rank',
 'FF_DEBT_ST_YoY_ZScore',
 'FF_DEBT_YoY',
 'FF_DEBT_YoY_PctRank',
 'FF_DEBT_YoY_Rank',
 'FF_DEBT_YoY_ZScore',
 'FF_DEP_AMORT_EXP',
 'FF_DIV_YLD',
 'FF_DPS',
 'FF_EBITDA_OPER',
 'FF_EBITDA_OPER_CAGR_3Y',
 'FF_EBITDA_OPER_CAGR_3Y_PctRank',
 'FF_EBITDA_OPER_CAGR_3Y_Rank',
 'FF_EBITDA_OPER_CAGR_3Y_ZScore',
 'FF_EBITDA_OPER_CAGR_5Y',
 'FF_EBITDA_OPER_CAGR_5Y_PctRank',
 'FF_EBITDA_OPER_CAGR_5Y_Rank',
 'FF_EBITDA_OPER_CAGR_5Y_ZScore',
 'FF_EBITDA_OPER_MGN',
 'FF_EBITDA_OPER_QoQ',
 'FF_EBITDA_OPER_QoQ_PctRank',
 'FF_EBITDA_OPER_QoQ_Rank',
 'FF_EBITDA_OPER_QoQ_ZScore',
 'FF_EBITDA_OPER_YoY',
 'FF_EBITDA_OPER_YoY_PctRank',
 'FF_EBITDA_OPER_YoY_Rank',
 'FF_EBITDA_OPER_YoY_ZScore',
 'FF_EBIT_OPER',
 'FF_EBIT_OPER_CAGR_3Y',
 'FF_EBIT_OPER_CAGR_3Y_PctRank',
 'FF_EBIT_OPER_CAGR_3Y_Rank',
 'FF_EBIT_OPER_CAGR_3Y_ZScore',
 'FF_EBIT_OPER_CAGR_5Y',
 'FF_EBIT_OPER_CAGR_5Y_PctRank',
 'FF_EBIT_OPER_CAGR_5Y_Rank',
 'FF_EBIT_OPER_CAGR_5Y_ZScore',
 'FF_EBIT_OPER_MGN',
 'FF_EBIT_OPER_QoQ',
 'FF_EBIT_OPER_QoQ_PctRank',
 'FF_EBIT_OPER_QoQ_Rank',
 'FF_EBIT_OPER_QoQ_ZScore',
 'FF_EBIT_OPER_YoY',
 'FF_EBIT_OPER_YoY_PctRank',
 'FF_EBIT_OPER_YoY_Rank',
 'FF_EBIT_OPER_YoY_ZScore',
 'FF_ENTRPR_VAL_EBITDA_OPER',
 'FF_ENTRPR_VAL_EBIT_OPER',
 'FF_ENTRPR_VAL_SALES',
 'FF_EPS',
 'FF_EPS_CAGR_3Y',
 'FF_EPS_CAGR_3Y_PctRank',
 'FF_EPS_CAGR_3Y_Rank',
 'FF_EPS_CAGR_3Y_ZScore',
 'FF_EPS_CAGR_5Y',
 'FF_EPS_CAGR_5Y_PctRank',
 'FF_EPS_CAGR_5Y_Rank',
 'FF_EPS_CAGR_5Y_ZScore',
 'FF_EPS_DIL',
 'FF_EPS_QoQ',
 'FF_EPS_QoQ_PctRank',
 'FF_EPS_QoQ_Rank',
 'FF_EPS_QoQ_ZScore',
 'FF_EPS_YoY',
 'FF_EPS_YoY_PctRank',
 'FF_EPS_YoY_Rank',
 'FF_EPS_YoY_ZScore',
 'FF_FREE_CF',
 'FF_FREE_PS_CF',
 'FF_GROSS_INC',
 'FF_GROSS_MGN',
 'FF_INC_TAX',
 'FF_INT_EXP_NET',
 'FF_LIABS',
 'FF_LIABS_SHLDRS_EQ',
 'FF_MIN_INT_ACCUM',
 'FF_NET_DEBT',
 'FF_NET_INC',
 'FF_NET_MGN',
 'FF_OPER_CF',
 'FF_OPER_CF_CAGR_3Y',
 'FF_OPER_CF_CAGR_3Y_PctRank',
 'FF_OPER_CF_CAGR_3Y_Rank',
 'FF_OPER_CF_CAGR_3Y_ZScore',
 'FF_OPER_CF_CAGR_5Y',
 'FF_OPER_CF_CAGR_5Y_PctRank',
 'FF_OPER_CF_CAGR_5Y_Rank',
 'FF_OPER_CF_CAGR_5Y_ZScore',
 'FF_OPER_CF_QoQ',
 'FF_OPER_CF_QoQ_PctRank',
 'FF_OPER_CF_QoQ_Rank',
 'FF_OPER_CF_QoQ_ZScore',
 'FF_OPER_CF_YoY',
 'FF_OPER_CF_YoY_PctRank',
 'FF_OPER_CF_YoY_Rank',
 'FF_OPER_CF_YoY_ZScore',
 'FF_OPER_INC',
 'FF_OPER_MGN',
 'FF_OPER_PS_NET_CF',
 'FF_PAY_OUT_RATIO',
 'FF_PBK',
 'FF_PE',
 'FF_PFD_STK',
 'FF_PPE_NET',
 'FF_PSALES',
 'FF_PTX_INC',
 'FF_PTX_MGN',
 'FF_QUICK_RATIO',
 'FF_ROA',
 'FF_ROE',
 'FF_ROIC',
 'FF_ROTC',
 'FF_SALES',
 'FF_SALES_CAGR_3Y',
 'FF_SALES_CAGR_3Y_PctRank',
 'FF_SALES_CAGR_3Y_Rank',
 'FF_SALES_CAGR_3Y_ZScore',
 'FF_SALES_CAGR_5Y',
 'FF_SALES_CAGR_5Y_PctRank',
 'FF_SALES_CAGR_5Y_Rank',
 'FF_SALES_CAGR_5Y_ZScore',
 'FF_SALES_PS',
 'FF_SALES_QoQ',
 'FF_SALES_QoQ_PctRank',
 'FF_SALES_QoQ_Rank',
 'FF_SALES_QoQ_ZScore',
 'FF_SALES_YoY',
 'FF_SALES_YoY_PctRank',
 'FF_SALES_YoY_Rank',
 'FF_SALES_YoY_ZScore',
 'FF_SGA',
 'FF_SHLDRS_EQ',
 'FF_STK_OPT_EXP',
 'FF_STK_PURCH_CF',
 'FF_TAX_RATE',
 'FF_WKCAP',
 'FG_PRICE',
 'Forward_Active_Return_1M',
 'Forward_Active_Return_1M_annlzd',
 'Forward_Active_Return_3M',
 'Forward_Active_Return_3M_annlzd',
 'Forward_Active_Return_3Y',
 'Forward_Active_Return_3Y_annlzd',
 'Forward_Active_Return_5Y',
 'Forward_Active_Return_5Y_annlzd',
 'Forward_Active_Return_6M',
 'Forward_Active_Return_6M_annlzd',
 'Forward_Return_12M',
 'Forward_Return_12M_annlzd',
 'Forward_Return_1M',
 'Forward_Return_1M_annlzd',
 'Forward_Return_3M',
 'Forward_Return_3M_annlzd',
 'Forward_Return_3Y',
 'Forward_Return_3Y_annlzd',
 'Forward_Return_5Y',
 'Forward_Return_5Y_annlzd',
 'Forward_Return_6M',
 'Forward_Return_6M_annlzd',
 'Return_12M',
 'Return_12M_annlzd',
 'Return_1M',
 'Return_1M_annlzd',
 'Return_3M',
 'Return_3M_annlzd',
 'Return_3Y',
 'Return_3Y_annlzd',
 'Return_5Y',
 'Return_5Y_annlzd',
 'Return_6M',
 'Return_6M_annlzd']

### 🧪PE 取得テスト from Bloomberg（⚠️ データ取得は難しそう）

-   Forward PE(BEST_PE_RATIO), Trailing PE(PE_RATIO), と Forward EPS(BEST_EPS), Trailing EPS(TRAIL_12M_EPS_BEF_XO_ITEM)を取得

-   (- Forward PE と Trailing PE の差分のカラムを追加
-   PEG ratio = BEST_EPS / BEST_PE_RATIO のカラムを追加
    )

In [ ]:
fields = ["BEST_PE_RATIO", "BEST_EPS", "PE_RATIO", "TRAIL_12M_EPS_BEF_XO_ITEM"]
# --------------------------------------------------------
# sedolとdateのリストを取得
# --------------------------------------------------------
with sqlite3.connect(factset_index_db_path) as conn:
    sedol_list = pd.read_sql(f"SELECT DISTINCT `SEDOL` FROM {UNIVERSE_CODE}", con=conn)[
        "SEDOL"
    ].tolist()
    sedol_list = [s + " Equity" for s in sedol_list]
    date_list = pd.read_sql(
        f"SELECT DISTINCT `date` FROM {UNIVERSE_CODE} ORDER BY `date`",
        con=conn,
        parse_dates=["date"],
    )["date"].tolist()
print("SEDOLと日付のリスト取得完了")

blp = bloomberg_utils.BlpapiCustom()
for field in fields:
    df = (
        blp.get_historical_data_with_overrides(
            securities=sedol_list,
            id_type="sedol",
            fields=[field],
            start_date=min(date_list).strftime("%Y%m%d"),
            end_date=max(date_list).strftime("%Y%m%d"),
            periodicity="MONTHLY",
            # overrides={"BEST_FPERIOD_OVERRIDE": "1FQ"},   # デフォルトで1FQ
            verbose=True,
        )
        .sort_values(["Date", "Identifier"], ignore_index=True)
        .drop(columns=["ID_Type"])
        .assign(Date=lambda x: pd.to_datetime(x["Date"]))
    )

    df = (
        pd.melt(
            df,
            id_vars=["Date", "Identifier"],
            value_vars=[field],
            var_name="variable",
        )
        .rename(columns={"Identifier": "SEDOL"})
        .assign(SEDOL=lambda x: x["SEDOL"].str.replace(" Equity", ""))
    )

    # blp.store_to_database(
    #     df=df,
    #     db_path=bloomberg_valuation_db_path,
    #     table_name=field,
    #     primary_keys=["Date", "SEDOL", "variable"],
    # )

SEDOLと日付のリスト取得完了
Bloombergセッションを開始しています...
セッション開始成功。
✅ サービスオープン完了。リクエスト作成中...
📡 リクエストを送信します[SEDOL] [MONTHLY]
   期間: 2000-01-31 - 2025-10-31

✅ データ取得完了。接続を終了しました。

📊 取得データ:
   行数: 21行
   日付範囲: 2023-11-30 00:00:00 ~ 2025-07-31 00:00:00
   ユニーク日数: 21日
   識別子数: 1
   識別子タイプ: SEDOL
   周期: MONTHLY
Bloombergセッションを開始しています...
セッション開始成功。
✅ サービスオープン完了。リクエスト作成中...
📡 リクエストを送信します[SEDOL] [MONTHLY]
   期間: 2000-01-31 - 2025-10-31

✅ データ取得完了。接続を終了しました。

📊 取得データ:
   行数: 13行
   日付範囲: 2023-11-30 00:00:00 ~ 2025-09-30 00:00:00
   ユニーク日数: 13日
   識別子数: 1
   識別子タイプ: SEDOL
   周期: MONTHLY
Bloombergセッションを開始しています...
セッション開始成功。
✅ サービスオープン完了。リクエスト作成中...
📡 リクエストを送信します[SEDOL] [MONTHLY]
   期間: 2000-01-31 - 2025-10-31

✅ データ取得完了。接続を終了しました。

📊 取得データ:
   行数: 305行
   日付範囲: 2000-01-31 00:00:00 ~ 2025-10-31 00:00:00
   ユニーク日数: 305日
   識別子数: 1
   識別子タイプ: SEDOL
   周期: MONTHLY
Bloombergセッションを開始しています...
セッション開始成功。
✅ サービスオープン完了。リクエスト作成中...
📡 リクエストを送信します[SEDOL] [MONTHLY]
   期間: 2000-01-31 - 2025-10-31

✅ データ取得完了。接続を終了しました。

📊 取得データ:
   行数: 51行
   日付範囲: 2000-06-30 00:00:00 ~ 2025-06-30 00:00:00
   ユニーク日数: 51日
   識別子数: 1
   識別子タイプ: SEDOL
   周期: MONTHLY

✅ データベースチェック

In [ ]:
with sqlite3.connect(bloomberg_valuation_db_path) as conn:
    df = pd.read_sql("SELECT * FROM BEST_PE_RATIO", con=conn, parse_dates=["Date"])
    display(df["Date"].sort_values().unique())
    display(df.sort_values("Date", ignore_index=True).drop_duplicates())

<DatetimeArray>
['2000-01-31 00:00:00', '2000-02-29 00:00:00', '2000-03-31 00:00:00',
 '2000-04-28 00:00:00', '2000-05-31 00:00:00', '2000-06-30 00:00:00',
 '2000-07-31 00:00:00', '2000-08-31 00:00:00', '2000-09-29 00:00:00',
 '2000-10-31 00:00:00',
 ...
 '2025-04-30 00:00:00', '2025-05-29 00:00:00', '2025-05-30 00:00:00',
 '2025-06-30 00:00:00', '2025-07-31 00:00:00', '2025-08-29 00:00:00',
 '2025-08-31 00:00:00', '2025-09-30 00:00:00', '2025-10-30 00:00:00',
 '2025-10-31 00:00:00']
Length: 334, dtype: datetime64[ns]

            Date    SEDOL       variable   value
0     2000-01-31  2206301  BEST_PE_RATIO  11.744
1     2000-01-31  2213981  BEST_PE_RATIO  10.710
2     2000-02-29  2206301  BEST_PE_RATIO  13.396
3     2000-02-29  2213981  BEST_PE_RATIO  10.454
4     2000-03-31  2206301  BEST_PE_RATIO  14.650
...          ...      ...            ...     ...
61076 2025-10-31  2852533  BEST_PE_RATIO  26.723
61077 2025-10-31  2849472  BEST_PE_RATIO  13.087
61078 2025-10-31  2842255  BEST_PE_RATIO  33.487
61079 2025-10-31  2838555  BEST_PE_RATIO  22.003
61080 2025-10-31  BZCNN35  BEST_PE_RATIO  10.628

[61081 rows x 4 columns]

✅ 欠損割合チェック

In [ ]:
df_weight = factset_utils.load_index_constituents(
    factset_index_db_path=factset_index_db_path, UNIVERSE_CODE=UNIVERSE_CODE
)

# bloomberg per
with sqlite3.connect(bloomberg_valuation_db_path) as conn:
    df_forward_pe = pd.read_sql(
        "SELECT * FROM BEST_PE_RATIO", parse_dates=["Date"], con=conn
    ).rename(columns={"value": "BEST_PE_RATIO", "Date": "date"})
    df_actual_pe = pd.read_sql(
        "SELECT * FROM PE_RATIO", parse_dates=["Date"], con=conn
    ).rename(columns={"value": "PE_RATIO", "Date": "date"})
    df_actual_pe.drop(columns=["variable"], inplace=True)
    df_pe = pd.merge(
        df_forward_pe, df_actual_pe, on=["date", "SEDOL"], how="outer"
    ).assign(date=lambda x: x["date"] + pd.offsets.MonthEnd(0))

df_merged = pd.merge(df_weight, df_pe, on=["date", "SEDOL"], how="outer").dropna(
    subset=["Weight (%)", "BEST_PE_RATIO", "PE_RATIO"], how="any", ignore_index=True
)

display(df_merged.tail(5))

,date,P_SYMBOL,SEDOL,FG_COMPANY_NAME,GICS Sector,GICS Industry Group,Weight (%),variable,BEST_PE_RATIO,PE_RATIO
39444,2025-10-31,SBAC-US,BZ6TS23,SBAコミュニケーションズ Class A,Real Estate,Equity Real Estate Investment Trusts (REITs),0.026502,BEST_PE_RATIO,22.317,20.7390
39445,2025-10-31,CHTR-US,BZ6VT82,チャーター・コミュニケーションズ Class A,Communication Services,Media & Entertainment,0.026749,BEST_PE_RATIO,5.755,5.8559
39446,2025-10-31,WTC-AU,BZ8GX83,ワイズテック・グローバル,Information Technology,Software & Services,0.011702,BEST_PE_RATIO,57.203,74.8462
39447,2025-10-31,VST-US,BZ8VJQ8,ビストラ,Utilities,Utilities,0.082303,BEST_PE_RATIO,21.327,39.5135
39448,2025-10-31,BCP-PT,BZCNN35,Banco Comercial Portugues S.A.,Financials,Banks,0.009457,BEST_PE_RATIO,10.628,11.8584

In [ ]:
# 欠損
g = pd.DataFrame(df_merged.groupby(["date"])["Weight (%)"].agg("sum")).reset_index()
display(g.query("date>='2023-01-01'"))

          date  Weight (%)
271 2023-01-31   54.865295
272 2023-02-28   58.768044
273 2023-03-31   61.187943
274 2023-04-30   61.089016
275 2023-05-31   62.986537
276 2023-06-30   63.706548
277 2023-07-31   64.796422
278 2023-08-31   66.780949
279 2023-09-30   67.820945
280 2023-10-31   67.305035
281 2023-11-30   67.735941
282 2023-12-31   69.182751
283 2024-01-31   76.230482
284 2024-02-29   79.022724
285 2024-03-31   79.888396
286 2024-04-30   80.695088
287 2024-05-31   81.138407
288 2024-06-30   81.622318
289 2024-07-31   82.905909
290 2024-08-31   83.942789
291 2024-09-30   84.446615
292 2024-10-31   85.302935
293 2024-11-30   85.953190
294 2024-12-31   86.995836
295 2025-01-31   87.027220
296 2025-02-28   87.120064
297 2025-03-31   87.345935
298 2025-04-30   86.656906
299 2025-05-31   86.810185
300 2025-06-30   87.621669
301 2025-07-31   87.797267
302 2025-08-31   87.401314
303 2025-09-30   87.669021
304 2025-10-31   87.884191

#### Bloomberg valuation データについてメモ

-   直近 1,2 年分程度しか forward+actual pe は取れない

## 4. Factor 計算

### 4-1. Growth Factor（Factset）

まず、QoQ, YoY, 3Yr CAGR, 5Yr CAGR の値を計算し、データベースに保存する。

In [ ]:
data_list = [
    "FF_SALES",
    "FF_EBITDA_OPER",
    "FF_EBIT_OPER",
    "FF_EPS",
    "FF_OPER_CF",
    "FF_ASSETS",
    "FF_COM_EQ",
    "FF_DEBT",
    "FF_DEBT_LT",
    "FF_DEBT_ST",
]

with sqlite3.connect(financials_db_path) as conn:
    for data in tqdm(data_list):
        df = pd.read_sql(
            f"SELECT * FROM `{data}`", con=conn, parse_dates=["date"]
        ).sort_values("date", ignore_index=True)
        for growth in ["QoQ", "YoY", "CAGR_3Y", "CAGR_5Y"]:
            df_growth = df.copy()
            new_variable = f"{data}_{growth}"
            # db_utils.delete_table_from_database(
            #     db_path=financials_db_path, table_name=new_variable
            # )

            df_growth = roic_utils.calculate_growth(
                df=df_growth, data_name=data, growth_type=growth
            )

            factset_utils.store_to_database(
                df=df_growth,
                db_path=financials_db_path,
                table_name=new_variable,
                verbose=False,
            )

100%|██████████| 10/10 [03:21<00:00, 20.18s/it]

次に、ファクターのランクを計算し、データベースに保存する。

In [ ]:
# 構成銘柄情報
query = f"""
    SELECT
        `date`, `P_SYMBOL`, `FG_COMPANY_NAME`, `Asset ID`, `GICS Sector`, `Weight (%)`
    FROM
        {UNIVERSE_CODE}
"""
with sqlite3.connect(factset_index_db_path) as conn:
    df_weight = pd.read_sql(query, parse_dates=["date"], con=conn)

# ファクター値
factor_list = [
    "FF_SALES",
    "FF_EBITDA_OPER",
    "FF_EBIT_OPER",
    "FF_EPS",
    "FF_OPER_CF",
    "FF_ASSETS",
    "FF_COM_EQ",
    "FF_DEBT",
    "FF_DEBT_LT",
    "FF_DEBT_ST",
]
period_list = ["QoQ", "YoY", "CAGR_3Y", "CAGR_5Y"]
total_iterations = len(factor_list) * len(period_list)
print(f"処理総数: {total_iterations} 回")

with sqlite3.connect(financials_db_path) as conn:
    # total引数を追加
    for factor, periods in tqdm(
        itertools.product(factor_list, period_list),
        total=total_iterations,  # <--- ここで合計回数を指定
        desc="ファクター処理進捗",  # <--- プログレスバーに説明を追加するとわかりやすい
    ):
        factor_growth = f"{factor}_{periods}"
        # データベースから呼び出し
        df = (
            pd.read_sql(
                f"SELECT `date`, `P_SYMBOL`, `value` FROM `{factor_growth}`",
                con=conn,
                parse_dates=["date"],
            )
            .assign(
                date=lambda row: pd.to_datetime(row["date"])
                + pd.tseries.offsets.MonthEnd(0)
            )
            .sort_values("date", ignore_index=True)
            .rename(columns={"value": factor_growth})
        )

        # merge: 構成銘柄情報とファクター
        df = (
            pd.merge(df_weight, df, on=["date", "P_SYMBOL"], how="outer")
            .drop_duplicates(subset=["date", "P_SYMBOL"])
            .dropna(
                subset=["Weight (%)", factor_growth],
                how="any",
                axis=0,
                ignore_index=True,
            )
        )

        # ------------------------------------
        # ランク計算（セクターニュートラル）
        # ------------------------------------
        df_rank = roic_utils.add_factor_rank_cols(df=df, factor_name=factor_growth)
        df_rank = (
            df_rank[["date", "P_SYMBOL", f"{factor_growth}_Rank"]]
            .rename(columns={f"{factor_growth}_Rank": "value"})
            .assign(variable=f"{factor_growth}_Rank")
        )
        # ------------------------------------
        # パーセントランク計算（セクターニュートラル）
        # ------------------------------------
        df_pct_rank = roic_utils.add_factor_pct_rank_cols(
            df=df, factor_name=factor_growth
        )
        df_pct_rank = (
            df_pct_rank[["date", "P_SYMBOL", f"{factor_growth}_PctRank"]]
            .rename(columns={f"{factor_growth}_PctRank": "value"})
            .assign(variable=f"{factor_growth}_PctRank")
        )

        # ------------------------------------
        # Zスコア計算（セクターニュートラル）
        # ------------------------------------
        df_zscore = roic_utils.add_factor_zscore_cols(df=df, factor_name=factor_growth)
        df_zscore = (
            df_zscore[["date", "P_SYMBOL", f"{factor_growth}_ZScore"]]
            .rename(columns={f"{factor_growth}_ZScore": "value"})
            .assign(variable=f"{factor_growth}_ZScore")
        )

        # ------------------------------------
        # store to database
        # ------------------------------------
        db_utils.delete_table_from_database(
            db_path=financials_db_path, table_name=f"{factor_growth}_Rank"
        )
        factset_utils.store_to_database(
            df=df_rank,
            db_path=financials_db_path,
            table_name=f"{factor_growth}_Rank",
            verbose=False,
        )

        db_utils.delete_table_from_database(
            db_path=financials_db_path, table_name=f"{factor_growth}_PctRank"
        )
        factset_utils.store_to_database(
            df=df_pct_rank,
            db_path=financials_db_path,
            table_name=f"{factor_growth}_PctRank",
            verbose=False,
        )

        db_utils.delete_table_from_database(
            db_path=financials_db_path, table_name=f"{factor_growth}_ZScore"
        )
        factset_utils.store_to_database(
            df=df_zscore,
            db_path=financials_db_path,
            table_name=f"{factor_growth}_ZScore",
            verbose=False,
        )

処理総数: 40 回

ファクター処理進捗: 100%|██████████| 40/40 [08:38<00:00, 12.97s/it]

In [ ]:
table_names = db_utils.get_table_names(financials_db_path)
display([s for s in table_names if ("QoQ" in s) or ("YoY" in s) or ("CAGR" in s)])

with sqlite3.connect(financials_db_path) as conn:
    df = pd.read_sql(
        "SELECT * FROM FF_SALES_QoQ_PctRank ORDER BY 'date'",
        con=conn,
        parse_dates=["date"],
    )
    display(df)

['FF_SALES_QoQ',
 'FF_SALES_YoY',
 'FF_SALES_CAGR_3Y',
 'FF_SALES_CAGR_5Y',
 'FF_EBITDA_OPER_QoQ',
 'FF_EBITDA_OPER_YoY',
 'FF_EBITDA_OPER_CAGR_3Y',
 'FF_EBITDA_OPER_CAGR_5Y',
 'FF_EBIT_OPER_QoQ',
 'FF_EBIT_OPER_YoY',
 'FF_EBIT_OPER_CAGR_3Y',
 'FF_EBIT_OPER_CAGR_5Y',
 'FF_EPS_QoQ',
 'FF_EPS_YoY',
 'FF_EPS_CAGR_3Y',
 'FF_EPS_CAGR_5Y',
 'FF_OPER_CF_QoQ',
 'FF_OPER_CF_YoY',
 'FF_OPER_CF_CAGR_3Y',
 'FF_OPER_CF_CAGR_5Y',
 'FF_ASSETS_QoQ',
 'FF_ASSETS_YoY',
 'FF_ASSETS_CAGR_3Y',
 'FF_ASSETS_CAGR_5Y',
 'FF_COM_EQ_QoQ',
 'FF_COM_EQ_YoY',
 'FF_COM_EQ_CAGR_3Y',
 'FF_COM_EQ_CAGR_5Y',
 'FF_DEBT_QoQ',
 'FF_DEBT_YoY',
 'FF_DEBT_CAGR_3Y',
 'FF_DEBT_CAGR_5Y',
 'FF_DEBT_LT_QoQ',
 'FF_DEBT_LT_YoY',
 'FF_DEBT_LT_CAGR_3Y',
 'FF_DEBT_LT_CAGR_5Y',
 'FF_DEBT_ST_QoQ',
 'FF_DEBT_ST_YoY',
 'FF_DEBT_ST_CAGR_3Y',
 'FF_DEBT_ST_CAGR_5Y',
 'FF_SALES_QoQ_Rank',
 'FF_SALES_QoQ_PctRank',
 'FF_SALES_QoQ_ZScore',
 'FF_SALES_YoY_Rank',
 'FF_SALES_YoY_PctRank',
 'FF_SALES_YoY_ZScore',
 'FF_SALES_CAGR_3Y_Rank',
 'FF_SALES_CAGR_3Y_PctRank',
 'FF_SALES_CAGR_3Y_ZScore',
 'FF_SALES_CAGR_5Y_Rank',
 'FF_SALES_CAGR_5Y_PctRank',
 'FF_SALES_CAGR_5Y_ZScore',
 'FF_EBITDA_OPER_QoQ_Rank',
 'FF_EBITDA_OPER_QoQ_PctRank',
 'FF_EBITDA_OPER_QoQ_ZScore',
 'FF_EBITDA_OPER_YoY_Rank',
 'FF_EBITDA_OPER_YoY_PctRank',
 'FF_EBITDA_OPER_YoY_ZScore',
 'FF_EBITDA_OPER_CAGR_3Y_Rank',
 'FF_EBITDA_OPER_CAGR_3Y_PctRank',
 'FF_EBITDA_OPER_CAGR_3Y_ZScore',
 'FF_EBITDA_OPER_CAGR_5Y_Rank',
 'FF_EBITDA_OPER_CAGR_5Y_PctRank',
 'FF_EBITDA_OPER_CAGR_5Y_ZScore',
 'FF_EBIT_OPER_QoQ_Rank',
 'FF_EBIT_OPER_QoQ_PctRank',
 'FF_EBIT_OPER_QoQ_ZScore',
 'FF_EBIT_OPER_YoY_Rank',
 'FF_EBIT_OPER_YoY_PctRank',
 'FF_EBIT_OPER_YoY_ZScore',
 'FF_EBIT_OPER_CAGR_3Y_Rank',
 'FF_EBIT_OPER_CAGR_3Y_PctRank',
 'FF_EBIT_OPER_CAGR_3Y_ZScore',
 'FF_EBIT_OPER_CAGR_5Y_Rank',
 'FF_EBIT_OPER_CAGR_5Y_PctRank',
 'FF_EBIT_OPER_CAGR_5Y_ZScore',
 'FF_EPS_QoQ_Rank',
 'FF_EPS_QoQ_PctRank',
 'FF_EPS_QoQ_ZScore',
 'FF_EPS_YoY_Rank',
 'FF_EPS_YoY_PctRank',
 'FF_EPS_YoY_ZScore',
 'FF_EPS_CAGR_3Y_Rank',
 'FF_EPS_CAGR_3Y_PctRank',
 'FF_EPS_CAGR_3Y_ZScore',
 'FF_EPS_CAGR_5Y_Rank',
 'FF_EPS_CAGR_5Y_PctRank',
 'FF_EPS_CAGR_5Y_ZScore',
 'FF_OPER_CF_QoQ_Rank',
 'FF_OPER_CF_QoQ_PctRank',
 'FF_OPER_CF_QoQ_ZScore',
 'FF_OPER_CF_YoY_Rank',
 'FF_OPER_CF_YoY_PctRank',
 'FF_OPER_CF_YoY_ZScore',
 'FF_OPER_CF_CAGR_3Y_Rank',
 'FF_OPER_CF_CAGR_3Y_PctRank',
 'FF_OPER_CF_CAGR_3Y_ZScore',
 'FF_OPER_CF_CAGR_5Y_Rank',
 'FF_OPER_CF_CAGR_5Y_PctRank',
 'FF_OPER_CF_CAGR_5Y_ZScore',
 'FF_ASSETS_QoQ_Rank',
 'FF_ASSETS_QoQ_PctRank',
 'FF_ASSETS_QoQ_ZScore',
 'FF_ASSETS_YoY_Rank',
 'FF_ASSETS_YoY_PctRank',
 'FF_ASSETS_YoY_ZScore',
 'FF_ASSETS_CAGR_3Y_Rank',
 'FF_ASSETS_CAGR_3Y_PctRank',
 'FF_ASSETS_CAGR_3Y_ZScore',
 'FF_ASSETS_CAGR_5Y_Rank',
 'FF_ASSETS_CAGR_5Y_PctRank',
 'FF_ASSETS_CAGR_5Y_ZScore',
 'FF_COM_EQ_QoQ_Rank',
 'FF_COM_EQ_QoQ_PctRank',
 'FF_COM_EQ_QoQ_ZScore',
 'FF_COM_EQ_YoY_Rank',
 'FF_COM_EQ_YoY_PctRank',
 'FF_COM_EQ_YoY_ZScore',
 'FF_COM_EQ_CAGR_3Y_Rank',
 'FF_COM_EQ_CAGR_3Y_PctRank',
 'FF_COM_EQ_CAGR_3Y_ZScore',
 'FF_COM_EQ_CAGR_5Y_Rank',
 'FF_COM_EQ_CAGR_5Y_PctRank',
 'FF_COM_EQ_CAGR_5Y_ZScore',
 'FF_DEBT_QoQ_Rank',
 'FF_DEBT_QoQ_PctRank',
 'FF_DEBT_QoQ_ZScore',
 'FF_DEBT_YoY_Rank',
 'FF_DEBT_YoY_PctRank',
 'FF_DEBT_YoY_ZScore',
 'FF_DEBT_CAGR_3Y_Rank',
 'FF_DEBT_CAGR_3Y_PctRank',
 'FF_DEBT_CAGR_3Y_ZScore',
 'FF_DEBT_CAGR_5Y_Rank',
 'FF_DEBT_CAGR_5Y_PctRank',
 'FF_DEBT_CAGR_5Y_ZScore',
 'FF_DEBT_LT_QoQ_Rank',
 'FF_DEBT_LT_QoQ_PctRank',
 'FF_DEBT_LT_QoQ_ZScore',
 'FF_DEBT_LT_YoY_Rank',
 'FF_DEBT_LT_YoY_PctRank',
 'FF_DEBT_LT_YoY_ZScore',
 'FF_DEBT_LT_CAGR_3Y_Rank',
 'FF_DEBT_LT_CAGR_3Y_PctRank',
 'FF_DEBT_LT_CAGR_3Y_ZScore',
 'FF_DEBT_LT_CAGR_5Y_Rank',
 'FF_DEBT_LT_CAGR_5Y_PctRank',
 'FF_DEBT_LT_CAGR_5Y_ZScore',
 'FF_DEBT_ST_QoQ_Rank',
 'FF_DEBT_ST_QoQ_PctRank',
 'FF_DEBT_ST_QoQ_ZScore',
 'FF_DEBT_ST_YoY_Rank',
 'FF_DEBT_ST_YoY_PctRank',
 'FF_DEBT_ST_YoY_ZScore',
 'FF_DEBT_ST_CAGR_3Y_Rank',
 'FF_DEBT_ST_CAGR_3Y_PctRank',
 'FF_DEBT_ST_CAGR_3Y_ZScore',
 'FF_DEBT_ST_CAGR_5Y_Rank',
 'FF_DEBT_ST_CAGR_5Y_PctRank',
 'FF_DEBT_ST_CAGR_5Y_ZScore']

             date     P_SYMBOL              variable     value
0      2005-11-30      0HSW-GB  FF_SALES_QoQ_PctRank  0.702899
1      2005-11-30  0II3.XX1-GB  FF_SALES_QoQ_PctRank  0.980769
2      2005-11-30      0MDJ-GB  FF_SALES_QoQ_PctRank  0.489474
3      2005-11-30      0N1N-GB  FF_SALES_QoQ_PctRank  0.488372
4      2005-11-30      0N3I-GB  FF_SALES_QoQ_PctRank  0.334884
...           ...          ...                   ...       ...
316073 2025-10-31      ZBRA-US  FF_SALES_QoQ_PctRank  0.539823
316074 2025-10-31        ZM-US  FF_SALES_QoQ_PctRank  0.283186
316075 2025-10-31        ZS-US  FF_SALES_QoQ_PctRank  0.283186
316076 2025-10-31       ZTS-US  FF_SALES_QoQ_PctRank  0.064815
316077 2025-10-31      ZURN-CH  FF_SALES_QoQ_PctRank  0.369668

[316078 rows x 4 columns]

### 4-2. Valuation（Bloomberg） -> データ不足のためスキップ

`BEST_EPS`と`TRAIL_12M_EPS_BEF_XO_ITEM`の QoQ, YoY, 3Yr CAGR, 5Yr CAGR の値を計算し、データベースに保存する。

In [ ]:
data_list = ["BEST_PE_RATIO", "BEST_EPS", "PE_RATIO", "TRAIL_12M_EPS_BEF_XO_ITEM"]

blp = bloomberg_utils.BlpapiCustom()

with sqlite3.connect(bloomberg_valuation_db_path) as conn:
    for data in tqdm(data_list):
        df = (
            pd.read_sql(f"SELECT * FROM `{data}`", con=conn, parse_dates=["Date"])
            .sort_values("Date", ignore_index=True)
            .rename(columns={"Date": "date", "SEDOL": "P_SYMBOL"})
        )  # calculate_growth関数を使うために一時的にリネーム

        for growth in ["QoQ", "YoY", "CAGR_3Y", "CAGR_5Y"]:
            df_growth = df.copy()
            new_variable = f"{data}_{growth}"

            df_growth = roic_utils.calculate_growth(
                df=df_growth, data_name=data, growth_type=growth
            ).rename(
                columns={"date": "Date", "P_SYMBOL": "SEDOL"}
            )  # 元のカラム名に戻す

            db_utils.delete_table_from_database(
                db_path=bloomberg_valuation_db_path, table_name=new_variable
            )

            blp.store_to_database(
                df=df_growth,
                db_path=bloomberg_valuation_db_path,
                table_name=new_variable,
                primary_keys=["date", "SEDOL", "variable"],
            )

  0%|          | 0/4 [00:00<?, ?it/s]

✅ 保存完了。テーブル 'BEST_PE_RATIO_QoQ' に 55043 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'BEST_PE_RATIO_YoY' に 38534 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'BEST_PE_RATIO_CAGR_3Y' に 10608 行を処理しました (IGNORE)。

 25%|██▌       | 1/4 [00:13<00:39, 13.07s/it]

✅ 保存完了。テーブル 'BEST_PE_RATIO_CAGR_5Y' に 889 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'BEST_EPS_QoQ' に 61342 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'BEST_EPS_YoY' に 41722 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'BEST_EPS_CAGR_3Y' に 7895 行を処理しました (IGNORE)。

 50%|█████     | 2/4 [00:25<00:25, 12.51s/it]

✅ 保存完了。テーブル 'BEST_EPS_CAGR_5Y' に 122 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'PE_RATIO_QoQ' に 512335 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'PE_RATIO_YoY' に 485879 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'PE_RATIO_CAGR_3Y' に 419875 行を処理しました (IGNORE)。

 75%|███████▌  | 3/4 [02:43<01:09, 69.83s/it]

✅ 保存完了。テーブル 'PE_RATIO_CAGR_5Y' に 359299 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'TRAIL_12M_EPS_BEF_XO_ITEM_QoQ' に 161910 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'TRAIL_12M_EPS_BEF_XO_ITEM_YoY' に 136498 行を処理しました (IGNORE)。
✅ 保存完了。テーブル 'TRAIL_12M_EPS_BEF_XO_ITEM_CAGR_3Y' に 61627 行を処理しました (IGNORE)。

100%|██████████| 4/4 [03:25<00:00, 51.43s/it]

✅ 保存完了。テーブル 'TRAIL_12M_EPS_BEF_XO_ITEM_CAGR_5Y' に 32107 行を処理しました (IGNORE)。

In [ ]:
with sqlite3.connect(bloomberg_valuation_db_path) as conn:
    df = pd.read_sql("SELECT * FROM BEST_EPS", con=conn, parse_dates=["Date"])
    display(df)

            Date    SEDOL  variable  value
0     2000-01-31  2206301  BEST_EPS  0.820
1     2000-01-31  2213981  BEST_EPS  3.653
2     2000-01-31  2226536  BEST_EPS  0.033
3     2000-01-31  2350651  BEST_EPS  0.230
4     2000-01-31  2552275  BEST_EPS  0.220
...          ...      ...       ...    ...
68844 2025-10-31  BZ8GX83  BEST_EPS  0.343
68845 2025-10-31  BZ8VJQ8  BEST_EPS  2.270
68846 2025-10-31  BZBW6G7  BEST_EPS  0.196
68847 2025-10-31  BZBYG74  BEST_EPS  0.216
68848 2025-10-31  BZCNN35  BEST_EPS  0.013

[68849 rows x 4 columns]

In [ ]:
tables = db_utils.get_table_names(bloomberg_valuation_db_path)
display(tables)

['BEST_PE_RATIO',
 'BEST_EPS',
 'PE_RATIO',
 'TRAIL_12M_EPS_BEF_XO_ITEM',
 'BEST_PE_RATIO_QoQ',
 'BEST_PE_RATIO_YoY',
 'BEST_PE_RATIO_CAGR_3Y',
 'BEST_PE_RATIO_CAGR_5Y',
 'BEST_EPS_QoQ',
 'BEST_EPS_YoY',
 'BEST_EPS_CAGR_3Y',
 'BEST_EPS_CAGR_5Y',
 'PE_RATIO_QoQ',
 'PE_RATIO_YoY',
 'PE_RATIO_CAGR_3Y',
 'PE_RATIO_CAGR_5Y',
 'TRAIL_12M_EPS_BEF_XO_ITEM_QoQ',
 'TRAIL_12M_EPS_BEF_XO_ITEM_YoY',
 'TRAIL_12M_EPS_BEF_XO_ITEM_CAGR_3Y',
 'TRAIL_12M_EPS_BEF_XO_ITEM_CAGR_5Y']

In [ ]:
# 構成銘柄情報
query = f"""
    SELECT
        `date`, `P_SYMBOL`, `SEDOL`, `FG_COMPANY_NAME`, `Asset ID`, `GICS Sector`, `Weight (%)`
    FROM
        {UNIVERSE_CODE}
"""
with sqlite3.connect(factset_index_db_path) as conn:
    df_weight = pd.read_sql(query, parse_dates=["date"], con=conn)

# ファクター値
factor_list = ["BEST_EPS", "BEST_PE_RATIO"]

with sqlite3.connect(bloomberg_valuation_db_path) as conn:
    # total引数を追加
    for factor in tqdm(factor_list):
        # データベースから呼び出し
        df = (
            pd.read_sql(
                f"SELECT `Date`, `SEDOL`, `value` FROM `{factor}`",
                con=conn,
                parse_dates=["Date"],
            )
            .rename(columns={"Date": "date"})
            .assign(
                date=lambda row: pd.to_datetime(row["date"])
                + pd.tseries.offsets.MonthEnd(0)
            )
            .sort_values("date", ignore_index=True)
            .rename(columns={"value": factor})
        )

        # merge: 構成銘柄情報とファクター
        df = (
            pd.merge(df_weight, df, on=["date", "SEDOL"], how="outer")
            .drop_duplicates(subset=["date", "SEDOL"])
            .dropna(
                subset=["Weight (%)", factor],
                how="any",
                axis=0,
                ignore_index=True,
            )
        )

        g = df.groupby(["date"])["Weight (%)"].agg("sum").to_frame()
        display(g.tail(50))

  0%|          | 0/2 [00:00<?, ?it/s]

            Weight (%)
date
2021-09-30   21.202650
2021-10-31   36.429975
2021-11-30   38.705860
2021-12-31   23.446075
2022-01-31   42.453669
2022-02-28   35.490503
2022-03-31   31.115912
2022-04-30   43.708097
2022-05-31   40.849117
2022-06-30   25.092301
2022-07-31   48.763444
2022-08-31   37.630622
2022-09-30   36.071283
2022-10-31   53.407023
2022-11-30   44.043642
2022-12-31   38.348913
2023-01-31   60.639221
2023-02-28   74.639694
2023-03-31   63.849721
2023-04-30   76.448073
2023-05-31   75.517848
2023-06-30   71.000327
2023-07-31   79.668488
2023-08-31   83.372258
2023-09-30   77.350296
2023-10-31   82.605357
2023-11-30   75.987850
2023-12-31   77.128525
2024-01-31   86.200387
2024-02-29   81.425421
2024-03-31   83.140934
2024-04-30   87.210565
2024-05-31   83.310237
2024-06-30   80.545456
2024-07-31   89.910518
2024-08-31   82.971829
2024-09-30   83.301786
2024-10-31   89.657653
2024-11-30   88.690741
2024-12-31   88.290082
2025-01-31   91.533461
2025-02-28   92.128903
2025-03-31   91.886731
2025-04-30   92.704280
2025-05-31   92.777884
2025-06-30   91.306329
2025-07-31   94.298718
2025-08-31   93.031003
2025-09-30   91.652510
2025-10-31   94.429603

 50%|█████     | 1/2 [00:01<00:01,  1.11s/it]

            Weight (%)
date
2021-09-30   24.751970
2021-10-31   30.705197
2021-11-30   39.116527
2021-12-31   40.400506
2022-01-31   42.623696
2022-02-28   45.424370
2022-03-31   47.750144
2022-04-30   49.021961
2022-05-31   50.595893
2022-06-30   51.328746
2022-07-31   51.394036
2022-08-31   48.816558
2022-09-30   48.900375
2022-10-31   54.160773
2022-11-30   53.775663
2022-12-31   54.098009
2023-01-31   56.923076
2023-02-28   60.815557
2023-03-31   62.765718
2023-04-30   62.972507
2023-05-31   65.135749
2023-06-30   65.897366
2023-07-31   67.303867
2023-08-31   69.313631
2023-09-30   70.287343
2023-10-31   69.853959
2023-11-30   70.485882
2023-12-31   71.121314
2024-01-31   79.669498
2024-02-29   82.364948
2024-03-31   83.317941
2024-04-30   84.405608
2024-05-31   84.900267
2024-06-30   85.237712
2024-07-31   86.776286
2024-08-31   88.467949
2024-09-30   88.562207
2024-10-31   89.687323
2024-11-30   90.417061
2024-12-31   90.851687
2025-01-31   91.124456
2025-02-28   91.095483
2025-03-31   91.058470
2025-04-30   90.691804
2025-05-31   90.895812
2025-06-30   91.259799
2025-07-31   91.547881
2025-08-31   91.329361
2025-09-30   91.579747
2025-10-31   92.149094

100%|██████████| 2/2 [00:02<00:00,  1.07s/it]

In [ ]:
# 構成銘柄情報
query = f"""
    SELECT
        `date`, `P_SYMBOL`, `SEDOL`, `FG_COMPANY_NAME`, `Asset ID`, `GICS Sector`, `Weight (%)`
    FROM
        {UNIVERSE_CODE}
"""
with sqlite3.connect(factset_index_db_path) as conn:
    df_weight = pd.read_sql(query, parse_dates=["date"], con=conn)

# ファクター値
factor_list = ["BEST_EPS", "BEST_PE_RATIO"]
period_list = ["QoQ", "YoY", "CAGR_3Y", "CAGR_5Y"]
total_iterations = len(factor_list) * len(period_list)
print(f"処理総数: {total_iterations} 回")

with sqlite3.connect(bloomberg_valuation_db_path) as conn:
    # total引数を追加
    for factor, periods in tqdm(
        itertools.product(factor_list, period_list),
        total=total_iterations,
        desc="ファクター処理進捗",
    ):
        factor_growth = f"{factor}_{periods}"
        # データベースから呼び出し
        df = (
            pd.read_sql(
                f"SELECT `Date`, `SEDOL`, `value` FROM `{factor_growth}`",
                con=conn,
                parse_dates=["Date"],
            )
            .rename(columns={"Date": "date"})
            .assign(
                date=lambda row: pd.to_datetime(row["date"])
                + pd.tseries.offsets.MonthEnd(0)
            )
            .sort_values("date", ignore_index=True)
            .rename(columns={"value": factor_growth})
        )

        # merge: 構成銘柄情報とファクター
        df = (
            pd.merge(df_weight, df, on=["date", "SEDOL"], how="outer")
            .drop_duplicates(subset=["date", "SEDOL"])
            .dropna(
                subset=["Weight (%)", factor_growth],
                how="any",
                axis=0,
                ignore_index=True,
            )
        )
        display(df)

処理総数: 8 回

ファクター処理進捗:   0%|          | 0/8 [00:00<?, ?it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_EPS_QoQ]
Index: []

ファクター処理進捗:  12%|█▎        | 1/8 [00:01<00:08,  1.16s/it]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_EPS_YoY]
Index: []

ファクター処理進捗:  25%|██▌       | 2/8 [00:02<00:05,  1.01it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_EPS_CAGR_3Y]
Index: []

ファクター処理進捗:  38%|███▊      | 3/8 [00:02<00:03,  1.39it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_EPS_CAGR_5Y]
Index: []

ファクター処理進捗:  50%|█████     | 4/8 [00:02<00:02,  1.83it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_PE_RATIO_QoQ]
Index: []

ファクター処理進捗:  62%|██████▎   | 5/8 [00:03<00:02,  1.37it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_PE_RATIO_YoY]
Index: []

ファクター処理進捗:  75%|███████▌  | 6/8 [00:04<00:01,  1.28it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_PE_RATIO_CAGR_3Y]
Index: []

ファクター処理進捗:  88%|████████▊ | 7/8 [00:05<00:00,  1.49it/s]

Empty DataFrame
Columns: [date, P_SYMBOL, FG_COMPANY_NAME, Asset ID, GICS Sector, Weight (%), BEST_PE_RATIO_CAGR_5Y]
Index: []

ファクター処理進捗: 100%|██████████| 8/8 [00:05<00:00,  1.49it/s]

### 4-3. ROIC Label Factor（Factset）

-   ROIC(ROE) + Security Code
    -   セクター中立
    -   金融セクターのみ ROIC の代わりに ROE を使用（ただしデータフレームのカラム名は ROIC で表記）

In [ ]:
# ----------------------------------------
# 1. get ROIC and ROE data
# 2. get security info(Index constituents)
# ----------------------------------------
df_roic_and_roe = factset_utils.load_financial_data(
    financials_db_path=financials_db_path, factor_list=["FF_ROIC", "FF_ROE"]
)
security_info = factset_utils.load_index_constituents(
    factset_index_db_path=factset_index_db_path, UNIVERSE_CODE=UNIVERSE_CODE
)

# ----------------------------------------
# merge
# ----------------------------------------
df_roic_merged = (
    factset_utils.merge_idx_constituensts_and_financials(
        df_weight=security_info, df_factor=df_roic_and_roe
    )
    .assign(
        ROIC=lambda x: np.where(
            x["GICS Sector"] == "Financials", x["FF_ROE"], x["FF_ROIC"]
        )
    )
    .dropna(subset=["Weight (%)", "ROIC"], how="any", ignore_index=True)
    .drop(columns=["FF_ROIC", "FF_ROE"])
)

# ----------------------------------------
# sector中立でROICをランキング
# ----------------------------------------
year_period = 3  # year_periodまでさかのぼってROICの移行を見る

df_roic_merged = roic_utils.add_factor_rank_cols(
    df_roic_merged, factor_name="ROIC"
).rename(columns={"P_SYMBOL": "Symbol"})
df_roic_merged = roic_utils.add_shifted_factor_cols_month(
    df_roic_merged,
    factor_name="ROIC_Rank",
    shift_month=list(range(1, int(year_period * 12) + 1)),
    shift_direction="Past",
).rename(columns={"Symbol": "P_SYMBOL"})


# ----------------------------------------
# ROICラベルを付与
# ----------------------------------------
roic_label_name = f"ROIC_label_Past{year_period}Y"
df_roic_merged[roic_label_name] = df_roic_merged.apply(
    lambda row: roic_utils.test_assign_roic_label(
        row=row,
        freq="annual",
        shift_direction="Past",
        year_period=year_period,
        judge_by_slope=False,
    ),
    axis=1,
)

df = df_roic_merged.copy()
df = (
    df[["date", "P_SYMBOL", roic_label_name]]
    .rename(columns={roic_label_name: "value"})
    .dropna(subset=["value"], ignore_index=True)
    .assign(variable=roic_label_name, date=lambda row: pd.to_datetime(row["date"]))
)
display(df.tail(10))

# ----------------------------------------
# データベース保存
# ----------------------------------------
factset_utils.store_to_database(
    df=df, db_path=financials_db_path, table_name=roic_label_name
)

             date P_SYMBOL         value           variable
220535 2025-10-31   XYZ-US   drop to low  ROIC_label_Past3Y
220536 2025-10-31   YAR-NO  move to high  ROIC_label_Past3Y
220537 2025-10-31   YUM-US   remain high  ROIC_label_Past3Y
220538 2025-10-31     Z-US    remain low  ROIC_label_Past3Y
220539 2025-10-31   Z74-SG        others  ROIC_label_Past3Y
220540 2025-10-31   ZAL-DE    remain low  ROIC_label_Past3Y
220541 2025-10-31   ZBH-US        others  ROIC_label_Past3Y
220542 2025-10-31  ZBRA-US        others  ROIC_label_Past3Y
220543 2025-10-31   ZTS-US   remain high  ROIC_label_Past3Y
220544 2025-10-31  ZURN-CH   remain high  ROIC_label_Past3Y

既存の 0 行との重複をチェックしました。220526 行を新たに追加します。
  -> ROIC_label_Past3Y: データの書き込みが完了しました。

In [ ]:
# --- get ROIC and ROE data ---
with sqlite3.connect(financials_db_path) as conn:
    df_roic = (
        (pd.read_sql(sql="SELECT * FROM FF_ROIC", con=conn))
        .assign(date=lambda row: pd.to_datetime(row["date"]))
        .drop(columns=["variable"])
        .rename(columns={"P_SYMBOL": "Symbol", "value": "FF_ROIC"})
    )
    df_roe = (
        (pd.read_sql("SELECT * FROM FF_ROE", con=conn))
        .assign(date=lambda row: pd.to_datetime(row["date"]))
        .drop(columns=["variable"])
        .rename(columns={"P_SYMBOL": "Symbol", "value": "FF_ROE"})
    )
    df_roic = pd.merge(df_roic, df_roe, on=["date", "Symbol"], how="left").assign(
        date=lambda row: pd.to_datetime(row["date"]) + pd.tseries.offsets.MonthEnd(0)
    )
    del df_roe

# --- get security info data ---
with sqlite3.connect(factset_index_db_path) as conn:
    query = f"""
        SELECT
            `date`, `P_SYMBOL`, `FG_COMPANY_NAME`, `GICS Sector`, `GICS Industry`, `Weight (%)`, `Mkt Value`
        FROM
            {UNIVERSE_CODE}
    """
    security_info = (
        pd.read_sql(query, con=conn)
        .rename(columns={"P_SYMBOL": "Symbol"})
        .assign(
            date=lambda row: pd.to_datetime(row["date"]),
        )
    )


# --- merge ---

df_roic_merged = (
    pd.merge(df_roic, security_info, on=["date", "Symbol"], how="left")
    .assign(
        ROIC=lambda x: np.where(
            x["GICS Sector"] == "Financials", x["FF_ROE"], x["FF_ROIC"]
        )
    )
    .dropna(subset=["Weight (%)", "ROIC"], how="any")
    .drop(columns=["FF_ROIC", "FF_ROE"])
)

# sector中立でROICをランキング
df_roic_merged = roic_utils.add_factor_rank_cols(df_roic_merged, factor_name="ROIC")
df_roic_merged = roic_utils.add_shifted_factor_cols_month(
    df_roic_merged,
    factor_name="ROIC_Rank",
    shift_month=list(range(1, 61)),
    shift_direction="Past",
)

# ROICラベルを付与
year_period = 5
roic_label_name = f"ROIC_label_Past{year_period}Y"
df_roic_merged[roic_label_name] = df_roic_merged.apply(
    lambda row: roic_utils.test_assign_roic_label(
        row=row,
        freq="annual",
        shift_direction="Past",
        year_period=year_period,
        judge_by_slope=False,
    ),
    axis=1,
)

df = df_roic_merged.copy()
df = (
    df[["date", "Symbol", roic_label_name]]
    .rename(columns={roic_label_name: "value", "Symbol": "P_SYMBOL"})
    .dropna(subset=["value"], ignore_index=True)
    .assign(variable=roic_label_name, date=lambda row: pd.to_datetime(row["date"]))
)
display(df)


# データベース保存
factset_utils.store_to_database(
    df=df, db_path=financials_db_path, table_name=roic_label_name
)

             date P_SYMBOL         value           variable
0      2009-04-30   MRK-US   remain high  ROIC_label_Past5Y
1      2009-04-30   MRK-US   remain high  ROIC_label_Past5Y
2      2009-05-31   MRK-US   remain high  ROIC_label_Past5Y
3      2009-05-31   MRK-US   remain high  ROIC_label_Past5Y
4      2009-06-30   MRK-US        others  ROIC_label_Past5Y
...           ...      ...           ...                ...
176451 2025-10-31   ZAL-DE  move to high  ROIC_label_Past5Y
176452 2025-10-31   ZBH-US        others  ROIC_label_Past5Y
176453 2025-10-31  ZBRA-US  move to high  ROIC_label_Past5Y
176454 2025-10-31   ZTS-US   remain high  ROIC_label_Past5Y
176455 2025-10-31  ZURN-CH        others  ROIC_label_Past5Y

[176456 rows x 4 columns]

既存の 0 行との重複をチェックしました。176449 行を新たに追加します。
  -> ROIC_label_Past5Y: データの書き込みが完了しました。

In [ ]:
df = df_roic_merged.copy()

# --- label count ---
roic_count = pd.pivot(
    pd.DataFrame(
        df.groupby(["date", "GICS Sector", "ROIC_label_Past5Y"])["Symbol"].count()
    ).reset_index(),
    index=["date", "GICS Sector"],
    columns="ROIC_label_Past5Y",
).reset_index()
display(roic_count.loc[roic_count["GICS Sector"] == "Information Technology"])

roic_count = pd.pivot(
    pd.DataFrame(
        df.groupby(["date", "GICS Sector", "ROIC_Rank"])["Symbol"].count()
    ).reset_index(),
    index=["date", "GICS Sector"],
    columns="ROIC_Rank",
).reset_index()
display(roic_count.loc[roic_count["GICS Sector"] == "Information Technology"])

# --- weight check ---
weight_total_count = (
    df.groupby(["date"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()

weight_sector_count = (
    df.groupby(["date", "GICS Sector"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
display(weight_total_count)
display(weight_sector_count)

roic_label_count = (
    df.groupby(["date", "ROIC_label_Past5Y"])["Weight (%)"]
    .agg(["count", "sum"])
    .rename(columns={"count": "Num of Securities", "sum": "Total Weight (%)"})
).sort_index()
display(roic_label_count)

                        date             GICS Sector      Symbol               \
ROIC_label_Past5Y                                    drop to low move to high
23                2010-08-31  Information Technology         8.0         14.0
33                2010-09-30  Information Technology         6.0         13.0
43                2010-10-31  Information Technology         6.0         12.0
53                2010-11-30  Information Technology         6.0         13.0
63                2010-12-31  Information Technology         5.0         13.0
...                      ...                     ...         ...          ...
1908              2025-06-30  Information Technology        12.0         10.0
1919              2025-07-31  Information Technology        15.0         13.0
1930              2025-08-31  Information Technology        14.0         11.0
1941              2025-09-30  Information Technology        13.0         12.0
1952              2025-10-31  Information Technology        11.0         11.0


ROIC_label_Past5Y others remain high remain low
23                  16.0        11.0        4.0
33                  20.0        11.0        5.0
43                  21.0        11.0        5.0
53                  21.0        12.0        5.0
63                  20.0        13.0        6.0
...                  ...         ...        ...
1908                36.0        24.0        9.0
1919                32.0        23.0        7.0
1930                33.0        24.0        7.0
1941                28.0        25.0        8.0
1952                20.0        19.0        4.0

[183 rows x 7 columns]

                date             GICS Sector Symbol
ROIC_Rank                                     rank1 rank2 rank3 rank4 rank5
7         2005-08-31  Information Technology     25    25    24    25    25
17        2005-09-30  Information Technology     25    25    25    25    25
27        2005-10-31  Information Technology     25    25    25    25    26
37        2005-11-30  Information Technology     25    25    25    25    26
47        2005-12-31  Information Technology     25    25    25    25    25
...              ...                     ...    ...   ...   ...   ...   ...
2492      2025-06-30  Information Technology     23    22    23    22    23
2503      2025-07-31  Information Technology     23    22    22    22    23
2514      2025-08-31  Information Technology     23    22    22    22    23
2525      2025-09-30  Information Technology     22    21    22    21    22
2536      2025-10-31  Information Technology     17    16    16    16    17

[243 rows x 7 columns]

            Num of Securities  Total Weight (%)
date
2005-08-31               1296         91.341262
2005-09-30               1291         91.723118
2005-10-31               1290         91.461135
2005-11-30               1284         91.742185
2005-12-31               1318         95.426320
...                       ...               ...
2025-06-30               1127         99.065370
2025-07-31               1126         99.203499
2025-08-31               1127         99.198368
2025-09-30               1095         98.372572
2025-10-31               1030         84.463787

[243 rows x 2 columns]

                                   Num of Securities  Total Weight (%)
date       GICS Sector
2005-08-31 Communication Services                 40          4.554126
           Consumer Discretionary                231         10.119443
           Consumer Staples                       91          8.564437
           Energy                                 73         10.562697
           Financials                            280         21.092156
...                                              ...               ...
2025-10-31 Industrials                           195          9.800280
           Information Technology                 82         18.765398
           Materials                              78          3.004112
           Real Estate                            61          1.787467
           Utilities                              66          2.674488

[2540 rows x 2 columns]

                              Num of Securities  Total Weight (%)
date       ROIC_label_Past5Y
2009-04-30 remain high                        2          0.612970
2009-05-31 remain high                        2          0.621910
2009-06-30 others                             2          0.637049
2009-07-31 others                             2          0.621194
2009-08-31 others                             2          0.642319
...                                         ...               ...
2025-10-31 drop to low                      127          8.286072
           move to high                     152          9.589011
           others                           375         27.350548
           remain high                      145         30.448917
           remain low                        96          4.115467

[931 rows x 2 columns]

### 4-4. ROIC 分位移動(⚠️not completed)

-   3 年前の ROIC5 分位 -> 現在の ROIC5 分位への移動をラベリング
-   Financials セクターは ROIC の代わりに ROE 使用

In [ ]:
df_weight = factset_utils.load_index_constituents(
    factset_index_db_path=factset_index_db_path, UNIVERSE_CODE=UNIVERSE_CODE
)

df_factor = factset_utils.load_financial_data(
    financials_db_path=financials_db_path, factor_list=["FF_ROIC_Rank", "FF_ROE_Rank"]
)

df_roic_rank = (
    factset_utils.merge_idx_constituensts_and_financials(
        df_weight=df_weight, df_factor=df_factor
    )
    .assign(
        ROIC_Rank=lambda x: np.where(
            x["GICS Sector"] == "Financials", x["FF_ROE_Rank"], x["FF_ROIC_Rank"]
        )
    )
    .drop(columns=["FF_ROIC_Rank", "FF_ROE_Rank"])
    .rename(columns={"SEDOL": "Symbol"})
)
df_roic_rank = (
    roic_utils.add_shifted_factor_cols_month(
        df_roic_rank,
        factor_name="ROIC_Rank",
        shift_month=[36],
        shift_direction="Past",
    )
    .rename(columns={"Symbol": "SEDOL"})
    .dropna(subset=["ROIC_Rank", "ROIC_Rank_36MAgo"], how="any")
    .sort_values(["SEDOL", "date"], ignore_index=True)
)

display(df_roic_rank)

,date,P_SYMBOL,SEDOL,Asset ID,FG_COMPANY_NAME,GICS Sector,GICS Industry Group,Weight (%),ROIC_Rank,ROIC_Rank_36MAgo
0,2015-06-30,ADN-GB,0003128,UKIDUK1,Aberdeen Asset Management PLC,Financials,Financial Services,0.019301,rank1,rank1
1,2015-07-31,ADN-GB,0003128,UKIDUK1,Aberdeen Asset Management PLC,Financials,Financial Services,0.016965,rank1,rank1
2,2015-08-31,ADN-GB,0003128,UKIDUK1,Aberdeen Asset Management PLC,Financials,Financial Services,0.015731,rank1,rank1
3,2015-09-30,ADN-GB,0003128,UKIDUK1,Aberdeen Asset Management PLC,Financials,Financial Services,0.014948,rank1,rank1
4,2015-10-31,ADN-GB,0003128,UKIDUK1,Aberdeen Asset Management PLC,Financials,Financial Services,0.016557,rank1,rank1
...,...,...,...,...,...,...,...,...,...,...
206145,2025-06-30,DHER-DE,BZCNB42,GER2BR1,デリバリー・ヒーロー,Consumer Discretionary,Consumer Services,0.007228,rank5,rank5
206146,2025-07-31,DHER-DE,BZCNB42,GER2BR1,デリバリー・ヒーロー,Consumer Discretionary,Consumer Services,0.007958,rank5,rank5
206147,2025-08-31,DHER-DE,BZCNB42,GER2BR1,デリバリー・ヒーロー,Consumer Discretionary,Consumer Services,0.006908,rank5,rank5
206148,2025-09-30,DHER-DE,BZCNB42,GER2BR1,デリバリー・ヒーロー,Consumer Discretionary,Consumer Services,0.007233,rank5,rank5
206149,2025-10-31,DHER-DE,BZCNB42,GER2BR1,デリバリー・ヒーロー,Consumer Discretionary,Consumer Services,0.006285,rank5,rank5

In [ ]:
g = pd.DataFrame(df_roic_rank.groupby("date")["Weight (%)"].agg("sum"))
display(g)

g_count = (
    pd.DataFrame(df_roic_rank.groupby(["date", "GICS Sector"])["SEDOL"].count())
    .reset_index()
    .pivot(index=["date"], columns="GICS Sector", values="SEDOL")
)
display(g_count)

            Weight (%)
date
2008-08-31   74.801052
2008-09-30   76.101417
2008-10-31   76.204146
2008-11-30   76.204061
2008-12-31   80.869285
...                ...
2025-06-30   93.851450
2025-07-31   94.125253
2025-08-31   93.974811
2025-09-30   93.355485
2025-10-31   79.720845

[207 rows x 1 columns]

GICS Sector,Communication Services,Consumer Discretionary,Consumer Staples,Energy,Financials,Health Care,Industrials,Information Technology,Materials,Real Estate,Utilities
date,,,,,,,,,,,
2008-08-31,30.0,131.0,63.0,57.0,193.0,59.0,124.0,69.0,63.0,NaN,44.0
2008-09-30,31.0,126.0,61.0,58.0,190.0,63.0,123.0,70.0,65.0,NaN,41.0
2008-10-31,31.0,127.0,61.0,59.0,190.0,63.0,122.0,70.0,65.0,NaN,42.0
2008-11-30,31.0,117.0,60.0,59.0,183.0,62.0,119.0,68.0,65.0,NaN,42.0
2008-12-31,28.0,131.0,64.0,58.0,183.0,67.0,121.0,72.0,65.0,NaN,48.0
...,...,...,...,...,...,...,...,...,...,...,...
2025-06-30,50.0,92.0,79.0,43.0,179.0,96.0,172.0,99.0,65.0,60.0,64.0
2025-07-31,50.0,92.0,79.0,43.0,179.0,97.0,172.0,98.0,65.0,60.0,64.0
2025-08-31,49.0,91.0,77.0,43.0,179.0,95.0,172.0,97.0,64.0,60.0,64.0
2025-09-30,49.0,88.0,76.0,44.0,174.0,93.0,171.0,93.0,64.0,59.0,62.0
2025-10-31,49.0,76.0,67.0,44.0,167.0,90.0,165.0,71.0,64.0,59.0,62.0

In [ ]:
g_roic_rank_shift = (
    pd.DataFrame(
        df_roic_rank.groupby(["date", "ROIC_Rank", "ROIC_Rank_36MAgo"])["SEDOL"].count()
    )
    .reset_index()
    .rename(columns={"SEDOL": "n_SEDOL"})
)
g_sedol_count_present_rank = (
    pd.DataFrame(g_roic_rank_shift.groupby(["date", "ROIC_Rank"])["n_SEDOL"].sum())
    .reset_index()
    .rename(columns={"n_SEDOL": "n_SEDOL_ROIC_Rank"})
)

g_sedol_count_past_rank = (
    pd.DataFrame(
        g_roic_rank_shift.groupby(["date", "ROIC_Rank_36MAgo"])["n_SEDOL"].sum()
    )
    .reset_index()
    .rename(columns={"n_SEDOL": "n_SEDOL_ROIC_Rank_36MAgo"})
)

g_roic_rank_shift = pd.merge(
    g_roic_rank_shift, g_sedol_count_present_rank, on=["date", "ROIC_Rank"], how="left"
)
g_roic_rank_shift = pd.merge(
    g_roic_rank_shift,
    g_sedol_count_past_rank,
    on=["date", "ROIC_Rank_36MAgo"],
    how="left",
)

g_roic_rank_shift = g_roic_rank_shift.assign(
    n_SEDOL_ROIC_Rank_pct=lambda x: x["n_SEDOL"].div(x["n_SEDOL_ROIC_Rank"]),
    n_SEDOL_ROIC_Rank_36MAgo_pct=lambda x: x["n_SEDOL"].div(
        x["n_SEDOL_ROIC_Rank_36MAgo"]
    ),
)
pd.options.display.precision = 2
display(g_roic_rank_shift[g_roic_rank_shift["ROIC_Rank"] == "rank1"].tail(50))

,date,ROIC_Rank,ROIC_Rank_36MAgo,n_SEDOL,n_SEDOL_ROIC_Rank,n_SEDOL_ROIC_Rank_36MAgo,n_SEDOL_ROIC_Rank_pct,n_SEDOL_ROIC_Rank_36MAgo_pct
4925,2025-01-31,rank1,rank1,126,208,225,0.61,0.56
4926,2025-01-31,rank1,rank2,42,208,210,0.20,0.20
4927,2025-01-31,rank1,rank3,18,208,217,0.09,0.08
4928,2025-01-31,rank1,rank4,10,208,206,0.05,0.05
4929,2025-01-31,rank1,rank5,12,208,188,0.06,0.06
4950,2025-02-28,rank1,rank1,126,209,224,0.60,0.56
4951,2025-02-28,rank1,rank2,42,209,210,0.20,0.20
4952,2025-02-28,rank1,rank3,18,209,218,0.09,0.08
4953,2025-02-28,rank1,rank4,10,209,205,0.05,0.05
4954,2025-02-28,rank1,rank5,13,209,191,0.06,0.07
4975,2025-03-31,rank1,rank1,125,203,223,0.62,0.56
4976,2025-03-31,rank1,rank2,37,203,202,0.18,0.18
4977,2025-03-31,rank1,rank3,17,203,201,0.08,0.08
4978,2025-03-31,rank1,rank4,13,203,209,0.06,0.06
4979,2025-03-31,rank1,rank5,11,203,182,0.05,0.06
5000,2025-04-30,rank1,rank1,125,204,224,0.61,0.56
5001,2025-04-30,rank1,rank2,37,204,202,0.18,0.18
5002,2025-04-30,rank1,rank3,17,204,201,0.08,0.08
5003,2025-04-30,rank1,rank4,13,204,210,0.06,0.06
5004,2025-04-30,rank1,rank5,12,204,182,0.06,0.07
5025,2025-05-31,rank1,rank1,125,205,225,0.61,0.56
5026,2025-05-31,rank1,rank2,38,205,203,0.19,0.19
5027,2025-05-31,rank1,rank3,17,205,202,0.08,0.08
5028,2025-05-31,rank1,rank4,13,205,210,0.06,0.06
5029,2025-05-31,rank1,rank5,12,205,182,0.06,0.07
5050,2025-06-30,rank1,rank1,123,205,217,0.60,0.57
5051,2025-06-30,rank1,rank2,38,205,200,0.19,0.19
5052,2025-06-30,rank1,rank3,12,205,196,0.06,0.06
5053,2025-06-30,rank1,rank4,8,205,200,0.04,0.04
5054,2025-06-30,rank1,rank5,24,205,186,0.12,0.13
5075,2025-07-31,rank1,rank1,123,204,217,0.60,0.57
5076,2025-07-31,rank1,rank2,38,204,200,0.19,0.19
5077,2025-07-31,rank1,rank3,12,204,197,0.06,0.06
5078,2025-07-31,rank1,rank4,8,204,200,0.04,0.04
5079,2025-07-31,rank1,rank5,23,204,185,0.11,0.12
5100,2025-08-31,rank1,rank1,123,201,215,0.61,0.57
5101,2025-08-31,rank1,rank2,36,201,198,0.18,0.18
5102,2025-08-31,rank1,rank3,11,201,194,0.05,0.06
5103,2025-08-31,rank1,rank4,8,201,201,0.04,0.04
5104,2025-08-31,rank1,rank5,23,201,183,0.11,0.13
5125,2025-09-30,rank1,rank1,125,193,218,0.65,0.57
5126,2025-09-30,rank1,rank2,32,193,186,0.17,0.17
5127,2025-09-30,rank1,rank3,7,193,193,0.04,0.04
5128,2025-09-30,rank1,rank4,9,193,195,0.05,0.05
5129,2025-09-30,rank1,rank5,20,193,181,0.10,0.11
5150,2025-10-31,rank1,rank1,118,181,205,0.65,0.58
5151,2025-10-31,rank1,rank2,28,181,169,0.15,0.17
5152,2025-10-31,rank1,rank3,8,181,184,0.04,0.04
5153,2025-10-31,rank1,rank4,8,181,183,0.04,0.04
5154,2025-10-31,rank1,rank5,19,181,173,0.10,0.11

### 4-5. その他の財務項目

時点でのランク、パーセントランク、ZScore のみ計算

In [ ]:
# 構成銘柄情報
query = f"""
    SELECT
        `date`, `P_SYMBOL`, `FG_COMPANY_NAME`, `Asset ID`, `GICS Sector`, `Weight (%)`
    FROM
        {UNIVERSE_CODE}
"""
with sqlite3.connect(factset_index_db_path) as conn:
    df_weight = pd.read_sql(query, parse_dates=["date"], con=conn)

# ファクター値
factor_list = [
    "FF_ASSETS",
    "FF_BPS",
    "FF_BPS_TANG",
    "FF_CAPEX",
    "FF_CASH_ST",
    "FF_COGS",
    "FF_COM_EQ",
    "FF_CURR_RATIO",
    "FF_DEBT",
    "FF_DEBT_ENTRPR_VAL",
    "FF_DEBT_EQ",
    "FF_DEBT_LT",
    "FF_DEBT_ST",
    "FF_DEP_AMORT_EXP",
    "FF_DIV_YLD",
    "FF_DPS",
    "FF_EBITDA_OPER",
    "FF_EBITDA_OPER_MGN",
    "FF_EBIT_OPER",
    "FF_EBIT_OPER_MGN",
    "FF_ENTRPR_VAL_EBITDA_OPER",
    "FF_ENTRPR_VAL_EBIT_OPER",
    "FF_ENTRPR_VAL_SALES",
    "FF_EPS",
    "FF_EPS_DIL",
    "FF_FREE_CF",
    "FF_FREE_PS_CF",
    "FF_GROSS_INC",
    "FF_GROSS_MGN",
    "FF_INC_TAX",
    "FF_INT_EXP_NET",
    "FF_LIABS",
    "FF_LIABS_SHLDRS_EQ",
    "FF_MIN_INT_ACCUM",
    "FF_NET_DEBT",
    "FF_NET_INC",
    "FF_NET_MGN",
    "FF_OPER_CF",
    "FF_OPER_INC",
    "FF_OPER_MGN",
    "FF_OPER_PS_NET_CF",
    "FF_PAY_OUT_RATIO",
    "FF_PBK",
    "FF_PE",
    "FF_PFD_STK",
    "FF_PPE_NET",
    "FF_PSALES",
    "FF_PTX_INC",
    "FF_PTX_MGN",
    "FF_QUICK_RATIO",
    "FF_ROA",
    "FF_ROE",
    "FF_ROIC",
    "FF_ROTC",
    "FF_SALES",
    "FF_SALES_PS",
    "FF_SGA",
    "FF_SHLDRS_EQ",
    "FF_STK_OPT_EXP",
    "FF_STK_PURCH_CF",
    "FF_TAX_RATE",
    "FF_WKCAP",
]
with sqlite3.connect(financials_db_path) as conn:
    # total引数を追加
    for factor in tqdm(factor_list):
        # データベースから呼び出し
        df = (
            pd.read_sql(
                f"SELECT `date`, `P_SYMBOL`, `value` FROM `{factor}`",
                con=conn,
                parse_dates=["date"],
            )
            .assign(
                date=lambda row: pd.to_datetime(row["date"])
                + pd.tseries.offsets.MonthEnd(0)
            )
            .sort_values("date", ignore_index=True)
            .rename(columns={"value": factor})
        )

        # merge: 構成銘柄情報とファクター
        df = (
            pd.merge(df_weight, df, on=["date", "P_SYMBOL"], how="outer")
            .drop_duplicates(subset=["date", "P_SYMBOL"])
            .dropna(
                subset=["Weight (%)", factor],
                how="any",
                axis=0,
                ignore_index=True,
            )
        )

        # ------------------------------------
        # ランク計算（セクターニュートラル）
        # ------------------------------------
        df_rank = roic_utils.add_factor_rank_cols(df=df, factor_name=factor)
        df_rank = (
            df_rank[["date", "P_SYMBOL", f"{factor}_Rank"]]
            .rename(columns={f"{factor}_Rank": "value"})
            .assign(variable=f"{factor}_Rank")
        )
        # ------------------------------------
        # パーセントランク計算（セクターニュートラル）
        # ------------------------------------
        df_pct_rank = roic_utils.add_factor_pct_rank_cols(df=df, factor_name=factor)
        df_pct_rank = (
            df_pct_rank[["date", "P_SYMBOL", f"{factor}_PctRank"]]
            .rename(columns={f"{factor}_PctRank": "value"})
            .assign(variable=f"{factor}_PctRank")
        )

        # ------------------------------------
        # Zスコア計算（セクターニュートラル）
        # ------------------------------------
        df_zscore = roic_utils.add_factor_zscore_cols(df=df, factor_name=factor)
        df_zscore = (
            df_zscore[["date", "P_SYMBOL", f"{factor}_ZScore"]]
            .rename(columns={f"{factor}_ZScore": "value"})
            .assign(variable=f"{factor}_ZScore")
        )

        # ------------------------------------
        # store to database
        # ------------------------------------
        db_utils.delete_table_from_database(
            db_path=financials_db_path, table_name=f"{factor}_Rank"
        )
        factset_utils.store_to_database(
            df=df_rank,
            db_path=financials_db_path,
            table_name=f"{factor}_Rank",
            verbose=False,
        )

        db_utils.delete_table_from_database(
            db_path=financials_db_path, table_name=f"{factor}_PctRank"
        )
        factset_utils.store_to_database(
            df=df_pct_rank,
            db_path=financials_db_path,
            table_name=f"{factor}_PctRank",
            verbose=False,
        )

        db_utils.delete_table_from_database(
            db_path=financials_db_path, table_name=f"{factor}_ZScore"
        )
        factset_utils.store_to_database(
            df=df_zscore,
            db_path=financials_db_path,
            table_name=f"{factor}_ZScore",
            verbose=False,
        )

100%|██████████| 62/62 [35:49<00:00, 34.67s/it]

### ✅ データベース内容確認

In [ ]:
table_names = sorted(db_utils.get_table_names(db_path=financials_db_path))
print(f"全{len(table_names)}テーブル")
display(table_names)

with sqlite3.connect(factset_index_db_path) as conn:
    df = pd.read_sql(
        f"SELECT * FROM {UNIVERSE_CODE} LIMIT 5", parse_dates=["date"], con=conn
    )
    display(df)
    display(df.columns)

全454テーブル

['Active_Return_1M',
 'Active_Return_1M_annlzd',
 'Active_Return_3M',
 'Active_Return_3M_annlzd',
 'Active_Return_3Y',
 'Active_Return_3Y_annlzd',
 'Active_Return_5Y',
 'Active_Return_5Y_annlzd',
 'Active_Return_6M',
 'Active_Return_6M_annlzd',
 'FF_ASSETS',
 'FF_ASSETS_CAGR_3Y',
 'FF_ASSETS_CAGR_3Y_PctRank',
 'FF_ASSETS_CAGR_3Y_Rank',
 'FF_ASSETS_CAGR_3Y_ZScore',
 'FF_ASSETS_CAGR_5Y',
 'FF_ASSETS_CAGR_5Y_PctRank',
 'FF_ASSETS_CAGR_5Y_Rank',
 'FF_ASSETS_CAGR_5Y_ZScore',
 'FF_ASSETS_PctRank',
 'FF_ASSETS_QoQ',
 'FF_ASSETS_QoQ_PctRank',
 'FF_ASSETS_QoQ_Rank',
 'FF_ASSETS_QoQ_ZScore',
 'FF_ASSETS_Rank',
 'FF_ASSETS_YoY',
 'FF_ASSETS_YoY_PctRank',
 'FF_ASSETS_YoY_Rank',
 'FF_ASSETS_YoY_ZScore',
 'FF_ASSETS_ZScore',
 'FF_BPS',
 'FF_BPS_PctRank',
 'FF_BPS_Rank',
 'FF_BPS_TANG',
 'FF_BPS_TANG_PctRank',
 'FF_BPS_TANG_Rank',
 'FF_BPS_TANG_ZScore',
 'FF_BPS_ZScore',
 'FF_CAPEX',
 'FF_CAPEX_PctRank',
 'FF_CAPEX_Rank',
 'FF_CAPEX_ZScore',
 'FF_CASH_ST',
 'FF_CASH_ST_PctRank',
 'FF_CASH_ST_Rank',
 'FF_CASH_ST_ZScore',
 'FF_COGS',
 'FF_COGS_PctRank',
 'FF_COGS_Rank',
 'FF_COGS_ZScore',
 'FF_COM_EQ',
 'FF_COM_EQ_CAGR_3Y',
 'FF_COM_EQ_CAGR_3Y_PctRank',
 'FF_COM_EQ_CAGR_3Y_Rank',
 'FF_COM_EQ_CAGR_3Y_ZScore',
 'FF_COM_EQ_CAGR_5Y',
 'FF_COM_EQ_CAGR_5Y_PctRank',
 'FF_COM_EQ_CAGR_5Y_Rank',
 'FF_COM_EQ_CAGR_5Y_ZScore',
 'FF_COM_EQ_PctRank',
 'FF_COM_EQ_QoQ',
 'FF_COM_EQ_QoQ_PctRank',
 'FF_COM_EQ_QoQ_Rank',
 'FF_COM_EQ_QoQ_ZScore',
 'FF_COM_EQ_Rank',
 'FF_COM_EQ_YoY',
 'FF_COM_EQ_YoY_PctRank',
 'FF_COM_EQ_YoY_Rank',
 'FF_COM_EQ_YoY_ZScore',
 'FF_COM_EQ_ZScore',
 'FF_CURR_RATIO',
 'FF_CURR_RATIO_PctRank',
 'FF_CURR_RATIO_Rank',
 'FF_CURR_RATIO_ZScore',
 'FF_DEBT',
 'FF_DEBT_CAGR_3Y',
 'FF_DEBT_CAGR_3Y_PctRank',
 'FF_DEBT_CAGR_3Y_Rank',
 'FF_DEBT_CAGR_3Y_ZScore',
 'FF_DEBT_CAGR_5Y',
 'FF_DEBT_CAGR_5Y_PctRank',
 'FF_DEBT_CAGR_5Y_Rank',
 'FF_DEBT_CAGR_5Y_ZScore',
 'FF_DEBT_ENTRPR_VAL',
 'FF_DEBT_ENTRPR_VAL_PctRank',
 'FF_DEBT_ENTRPR_VAL_Rank',
 'FF_DEBT_ENTRPR_VAL_ZScore',
 'FF_DEBT_EQ',
 'FF_DEBT_EQ_PctRank',
 'FF_DEBT_EQ_Rank',
 'FF_DEBT_EQ_ZScore',
 'FF_DEBT_LT',
 'FF_DEBT_LT_CAGR_3Y',
 'FF_DEBT_LT_CAGR_3Y_PctRank',
 'FF_DEBT_LT_CAGR_3Y_Rank',
 'FF_DEBT_LT_CAGR_3Y_ZScore',
 'FF_DEBT_LT_CAGR_5Y',
 'FF_DEBT_LT_CAGR_5Y_PctRank',
 'FF_DEBT_LT_CAGR_5Y_Rank',
 'FF_DEBT_LT_CAGR_5Y_ZScore',
 'FF_DEBT_LT_PctRank',
 'FF_DEBT_LT_QoQ',
 'FF_DEBT_LT_QoQ_PctRank',
 'FF_DEBT_LT_QoQ_Rank',
 'FF_DEBT_LT_QoQ_ZScore',
 'FF_DEBT_LT_Rank',
 'FF_DEBT_LT_YoY',
 'FF_DEBT_LT_YoY_PctRank',
 'FF_DEBT_LT_YoY_Rank',
 'FF_DEBT_LT_YoY_ZScore',
 'FF_DEBT_LT_ZScore',
 'FF_DEBT_PctRank',
 'FF_DEBT_QoQ',
 'FF_DEBT_QoQ_PctRank',
 'FF_DEBT_QoQ_Rank',
 'FF_DEBT_QoQ_ZScore',
 'FF_DEBT_Rank',
 'FF_DEBT_ST',
 'FF_DEBT_ST_CAGR_3Y',
 'FF_DEBT_ST_CAGR_3Y_PctRank',
 'FF_DEBT_ST_CAGR_3Y_Rank',
 'FF_DEBT_ST_CAGR_3Y_ZScore',
 'FF_DEBT_ST_CAGR_5Y',
 'FF_DEBT_ST_CAGR_5Y_PctRank',
 'FF_DEBT_ST_CAGR_5Y_Rank',
 'FF_DEBT_ST_CAGR_5Y_ZScore',
 'FF_DEBT_ST_PctRank',
 'FF_DEBT_ST_QoQ',
 'FF_DEBT_ST_QoQ_PctRank',
 'FF_DEBT_ST_QoQ_Rank',
 'FF_DEBT_ST_QoQ_ZScore',
 'FF_DEBT_ST_Rank',
 'FF_DEBT_ST_YoY',
 'FF_DEBT_ST_YoY_PctRank',
 'FF_DEBT_ST_YoY_Rank',
 'FF_DEBT_ST_YoY_ZScore',
 'FF_DEBT_ST_ZScore',
 'FF_DEBT_YoY',
 'FF_DEBT_YoY_PctRank',
 'FF_DEBT_YoY_Rank',
 'FF_DEBT_YoY_ZScore',
 'FF_DEBT_ZScore',
 'FF_DEP_AMORT_EXP',
 'FF_DEP_AMORT_EXP_PctRank',
 'FF_DEP_AMORT_EXP_Rank',
 'FF_DEP_AMORT_EXP_ZScore',
 'FF_DIV_YLD',
 'FF_DIV_YLD_PctRank',
 'FF_DIV_YLD_Rank',
 'FF_DIV_YLD_ZScore',
 'FF_DPS',
 'FF_DPS_PctRank',
 'FF_DPS_Rank',
 'FF_DPS_ZScore',
 'FF_EBITDA_OPER',
 'FF_EBITDA_OPER_CAGR_3Y',
 'FF_EBITDA_OPER_CAGR_3Y_PctRank',
 'FF_EBITDA_OPER_CAGR_3Y_Rank',
 'FF_EBITDA_OPER_CAGR_3Y_ZScore',
 'FF_EBITDA_OPER_CAGR_5Y',
 'FF_EBITDA_OPER_CAGR_5Y_PctRank',
 'FF_EBITDA_OPER_CAGR_5Y_Rank',
 'FF_EBITDA_OPER_CAGR_5Y_ZScore',
 'FF_EBITDA_OPER_MGN',
 'FF_EBITDA_OPER_MGN_PctRank',
 'FF_EBITDA_OPER_MGN_Rank',
 'FF_EBITDA_OPER_MGN_ZScore',
 'FF_EBITDA_OPER_PctRank',
 'FF_EBITDA_OPER_QoQ',
 'FF_EBITDA_OPER_QoQ_PctRank',
 'FF_EBITDA_OPER_QoQ_Rank',
 'FF_EBITDA_OPER_QoQ_ZScore',
 'FF_EBITDA_OPER_Rank',
 'FF_EBITDA_OPER_YoY',
 'FF_EBITDA_OPER_YoY_PctRank',
 'FF_EBITDA_OPER_YoY_Rank',
 'FF_EBITDA_OPER_YoY_ZScore',
 'FF_EBITDA_OPER_ZScore',
 'FF_EBIT_OPER',
 'FF_EBIT_OPER_CAGR_3Y',
 'FF_EBIT_OPER_CAGR_3Y_PctRank',
 'FF_EBIT_OPER_CAGR_3Y_Rank',
 'FF_EBIT_OPER_CAGR_3Y_ZScore',
 'FF_EBIT_OPER_CAGR_5Y',
 'FF_EBIT_OPER_CAGR_5Y_PctRank',
 'FF_EBIT_OPER_CAGR_5Y_Rank',
 'FF_EBIT_OPER_CAGR_5Y_ZScore',
 'FF_EBIT_OPER_MGN',
 'FF_EBIT_OPER_MGN_PctRank',
 'FF_EBIT_OPER_MGN_Rank',
 'FF_EBIT_OPER_MGN_ZScore',
 'FF_EBIT_OPER_PctRank',
 'FF_EBIT_OPER_QoQ',
 'FF_EBIT_OPER_QoQ_PctRank',
 'FF_EBIT_OPER_QoQ_Rank',
 'FF_EBIT_OPER_QoQ_ZScore',
 'FF_EBIT_OPER_Rank',
 'FF_EBIT_OPER_YoY',
 'FF_EBIT_OPER_YoY_PctRank',
 'FF_EBIT_OPER_YoY_Rank',
 'FF_EBIT_OPER_YoY_ZScore',
 'FF_EBIT_OPER_ZScore',
 'FF_ENTRPR_VAL_EBITDA_OPER',
 'FF_ENTRPR_VAL_EBITDA_OPER_PctRank',
 'FF_ENTRPR_VAL_EBITDA_OPER_Rank',
 'FF_ENTRPR_VAL_EBITDA_OPER_ZScore',
 'FF_ENTRPR_VAL_EBIT_OPER',
 'FF_ENTRPR_VAL_EBIT_OPER_PctRank',
 'FF_ENTRPR_VAL_EBIT_OPER_Rank',
 'FF_ENTRPR_VAL_EBIT_OPER_ZScore',
 'FF_ENTRPR_VAL_SALES',
 'FF_ENTRPR_VAL_SALES_PctRank',
 'FF_ENTRPR_VAL_SALES_Rank',
 'FF_ENTRPR_VAL_SALES_ZScore',
 'FF_EPS',
 'FF_EPS_CAGR_3Y',
 'FF_EPS_CAGR_3Y_PctRank',
 'FF_EPS_CAGR_3Y_Rank',
 'FF_EPS_CAGR_3Y_ZScore',
 'FF_EPS_CAGR_5Y',
 'FF_EPS_CAGR_5Y_PctRank',
 'FF_EPS_CAGR_5Y_Rank',
 'FF_EPS_CAGR_5Y_ZScore',
 'FF_EPS_DIL',
 'FF_EPS_DIL_PctRank',
 'FF_EPS_DIL_Rank',
 'FF_EPS_DIL_ZScore',
 'FF_EPS_PctRank',
 'FF_EPS_QoQ',
 'FF_EPS_QoQ_PctRank',
 'FF_EPS_QoQ_Rank',
 'FF_EPS_QoQ_ZScore',
 'FF_EPS_Rank',
 'FF_EPS_YoY',
 'FF_EPS_YoY_PctRank',
 'FF_EPS_YoY_Rank',
 'FF_EPS_YoY_ZScore',
 'FF_EPS_ZScore',
 'FF_FREE_CF',
 'FF_FREE_CF_PctRank',
 'FF_FREE_CF_Rank',
 'FF_FREE_CF_ZScore',
 'FF_FREE_PS_CF',
 'FF_FREE_PS_CF_PctRank',
 'FF_FREE_PS_CF_Rank',
 'FF_FREE_PS_CF_ZScore',
 'FF_GROSS_INC',
 'FF_GROSS_INC_PctRank',
 'FF_GROSS_INC_Rank',
 'FF_GROSS_INC_ZScore',
 'FF_GROSS_MGN',
 'FF_GROSS_MGN_PctRank',
 'FF_GROSS_MGN_Rank',
 'FF_GROSS_MGN_ZScore',
 'FF_INC_TAX',
 'FF_INC_TAX_PctRank',
 'FF_INC_TAX_Rank',
 'FF_INC_TAX_ZScore',
 'FF_INT_EXP_NET',
 'FF_INT_EXP_NET_PctRank',
 'FF_INT_EXP_NET_Rank',
 'FF_INT_EXP_NET_ZScore',
 'FF_LIABS',
 'FF_LIABS_PctRank',
 'FF_LIABS_Rank',
 'FF_LIABS_SHLDRS_EQ',
 'FF_LIABS_SHLDRS_EQ_PctRank',
 'FF_LIABS_SHLDRS_EQ_Rank',
 'FF_LIABS_SHLDRS_EQ_ZScore',
 'FF_LIABS_ZScore',
 'FF_MIN_INT_ACCUM',
 'FF_MIN_INT_ACCUM_PctRank',
 'FF_MIN_INT_ACCUM_Rank',
 'FF_MIN_INT_ACCUM_ZScore',
 'FF_NET_DEBT',
 'FF_NET_DEBT_PctRank',
 'FF_NET_DEBT_Rank',
 'FF_NET_DEBT_ZScore',
 'FF_NET_INC',
 'FF_NET_INC_PctRank',
 'FF_NET_INC_Rank',
 'FF_NET_INC_ZScore',
 'FF_NET_MGN',
 'FF_NET_MGN_PctRank',
 'FF_NET_MGN_Rank',
 'FF_NET_MGN_ZScore',
 'FF_OPER_CF',
 'FF_OPER_CF_CAGR_3Y',
 'FF_OPER_CF_CAGR_3Y_PctRank',
 'FF_OPER_CF_CAGR_3Y_Rank',
 'FF_OPER_CF_CAGR_3Y_ZScore',
 'FF_OPER_CF_CAGR_5Y',
 'FF_OPER_CF_CAGR_5Y_PctRank',
 'FF_OPER_CF_CAGR_5Y_Rank',
 'FF_OPER_CF_CAGR_5Y_ZScore',
 'FF_OPER_CF_PctRank',
 'FF_OPER_CF_QoQ',
 'FF_OPER_CF_QoQ_PctRank',
 'FF_OPER_CF_QoQ_Rank',
 'FF_OPER_CF_QoQ_ZScore',
 'FF_OPER_CF_Rank',
 'FF_OPER_CF_YoY',
 'FF_OPER_CF_YoY_PctRank',
 'FF_OPER_CF_YoY_Rank',
 'FF_OPER_CF_YoY_ZScore',
 'FF_OPER_CF_ZScore',
 'FF_OPER_INC',
 'FF_OPER_INC_PctRank',
 'FF_OPER_INC_Rank',
 'FF_OPER_INC_ZScore',
 'FF_OPER_MGN',
 'FF_OPER_MGN_PctRank',
 'FF_OPER_MGN_Rank',
 'FF_OPER_MGN_ZScore',
 'FF_OPER_PS_NET_CF',
 'FF_OPER_PS_NET_CF_PctRank',
 'FF_OPER_PS_NET_CF_Rank',
 'FF_OPER_PS_NET_CF_ZScore',
 'FF_PAY_OUT_RATIO',
 'FF_PAY_OUT_RATIO_PctRank',
 'FF_PAY_OUT_RATIO_Rank',
 'FF_PAY_OUT_RATIO_ZScore',
 'FF_PBK',
 'FF_PBK_PctRank',
 'FF_PBK_Rank',
 'FF_PBK_ZScore',
 'FF_PE',
 'FF_PE_PctRank',
 'FF_PE_Rank',
 'FF_PE_ZScore',
 'FF_PFD_STK',
 'FF_PFD_STK_PctRank',
 'FF_PFD_STK_Rank',
 'FF_PFD_STK_ZScore',
 'FF_PPE_NET',
 'FF_PPE_NET_PctRank',
 'FF_PPE_NET_Rank',
 'FF_PPE_NET_ZScore',
 'FF_PSALES',
 'FF_PSALES_PctRank',
 'FF_PSALES_Rank',
 'FF_PSALES_ZScore',
 'FF_PTX_INC',
 'FF_PTX_INC_PctRank',
 'FF_PTX_INC_Rank',
 'FF_PTX_INC_ZScore',
 'FF_PTX_MGN',
 'FF_PTX_MGN_PctRank',
 'FF_PTX_MGN_Rank',
 'FF_PTX_MGN_ZScore',
 'FF_QUICK_RATIO',
 'FF_QUICK_RATIO_PctRank',
 'FF_QUICK_RATIO_Rank',
 'FF_QUICK_RATIO_ZScore',
 'FF_ROA',
 'FF_ROA_PctRank',
 'FF_ROA_Rank',
 'FF_ROA_ZScore',
 'FF_ROE',
 'FF_ROE_PctRank',
 'FF_ROE_Rank',
 'FF_ROE_ZScore',
 'FF_ROIC',
 'FF_ROIC_PctRank',
 'FF_ROIC_Rank',
 'FF_ROIC_ZScore',
 'FF_ROTC',
 'FF_ROTC_PctRank',
 'FF_ROTC_Rank',
 'FF_ROTC_ZScore',
 'FF_SALES',
 'FF_SALES_CAGR_3Y',
 'FF_SALES_CAGR_3Y_PctRank',
 'FF_SALES_CAGR_3Y_Rank',
 'FF_SALES_CAGR_3Y_ZScore',
 'FF_SALES_CAGR_5Y',
 'FF_SALES_CAGR_5Y_PctRank',
 'FF_SALES_CAGR_5Y_Rank',
 'FF_SALES_CAGR_5Y_ZScore',
 'FF_SALES_PS',
 'FF_SALES_PS_PctRank',
 'FF_SALES_PS_Rank',
 'FF_SALES_PS_ZScore',
 'FF_SALES_PctRank',
 'FF_SALES_QoQ',
 'FF_SALES_QoQ_PctRank',
 'FF_SALES_QoQ_Rank',
 'FF_SALES_QoQ_ZScore',
 'FF_SALES_Rank',
 'FF_SALES_YoY',
 'FF_SALES_YoY_PctRank',
 'FF_SALES_YoY_Rank',
 'FF_SALES_YoY_ZScore',
 'FF_SALES_ZScore',
 'FF_SGA',
 'FF_SGA_PctRank',
 'FF_SGA_Rank',
 'FF_SGA_ZScore',
 'FF_SHLDRS_EQ',
 'FF_SHLDRS_EQ_PctRank',
 'FF_SHLDRS_EQ_Rank',
 'FF_SHLDRS_EQ_ZScore',
 'FF_STK_OPT_EXP',
 'FF_STK_OPT_EXP_PctRank',
 'FF_STK_OPT_EXP_Rank',
 'FF_STK_OPT_EXP_ZScore',
 'FF_STK_PURCH_CF',
 'FF_STK_PURCH_CF_PctRank',
 'FF_STK_PURCH_CF_Rank',
 'FF_STK_PURCH_CF_ZScore',
 'FF_TAX_RATE',
 'FF_TAX_RATE_PctRank',
 'FF_TAX_RATE_Rank',
 'FF_TAX_RATE_ZScore',
 'FF_WKCAP',
 'FF_WKCAP_PctRank',
 'FF_WKCAP_Rank',
 'FF_WKCAP_ZScore',
 'FG_PRICE',
 'Forward_Active_Return_1M',
 'Forward_Active_Return_1M_annlzd',
 'Forward_Active_Return_3M',
 'Forward_Active_Return_3M_annlzd',
 'Forward_Active_Return_3Y',
 'Forward_Active_Return_3Y_annlzd',
 'Forward_Active_Return_5Y',
 'Forward_Active_Return_5Y_annlzd',
 'Forward_Active_Return_6M',
 'Forward_Active_Return_6M_annlzd',
 'Forward_Return_12M',
 'Forward_Return_12M_annlzd',
 'Forward_Return_1M',
 'Forward_Return_1M_annlzd',
 'Forward_Return_3M',
 'Forward_Return_3M_annlzd',
 'Forward_Return_3Y',
 'Forward_Return_3Y_annlzd',
 'Forward_Return_5Y',
 'Forward_Return_5Y_annlzd',
 'Forward_Return_6M',
 'Forward_Return_6M_annlzd',
 'ROIC_label_Past5Y',
 'Return_12M',
 'Return_12M_annlzd',
 'Return_1M',
 'Return_1M_annlzd',
 'Return_3M',
 'Return_3M_annlzd',
 'Return_3Y',
 'Return_3Y_annlzd',
 'Return_5Y',
 'Return_5Y_annlzd',
 'Return_6M',
 'Return_6M_annlzd']

,Universe,Universe_code_BPM,date,Name,Bloomberg Ticker,BloombergID,Asset ID,Asset ID Type,SEDOL,Country,...,FG_COMPANY_NAME_CUSIP,P_SYMBOL_CUSIP,ISIN,FG_COMPANY_NAME_ISIN,P_SYMBOL_ISIN,CODE_JP,FG_COMPANY_NAME_CODE_JP,P_SYMBOL_CODE_JP,P_SYMBOL,FG_COMPANY_NAME
0,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,21ST CENTURY FOX,None,None,AUSBIN2,BARRAID,662075,AUS,...,None,None,None,None,None,None,None,None,FOXLV-AU,Twenty-First Century Fox Inc. Class A CDI
1,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,21ST CENTURY FOX,None,None,AUSBIN1,BARRAID,688692,AUS,...,None,None,None,None,None,None,None,None,FOX-AU,Twenty-First Century Fox Inc. Class B CDI
2,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,3I GROUP PLC,None,None,UKIENL1,BARRAID,0888693,GBR,...,スリーアイ・グループ,TGOPF-US,GB0008886938,スリーアイ・グループ,III-GB,None,None,None,III-GB,スリーアイ・グループ
3,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,3M CO,None,None,USAJ8P1,BARRAID,2595708,USA,...,3Mカンパニー,MMM-US,US6040591058,3Mカンパニー,MMM-US,None,None,None,MMM-US,3Mカンパニー
4,MSCI KOKUSAI - Daily,MSXJPN_AD,2000-01-31,ABB LTD,None,None,SWIAAN1,BARRAID,5661190,CHE,...,ABB,None,CH0003846620,ABB,ABBN-CH,None,None,None,ABBN-CH,ABB

Index(['Universe', 'Universe_code_BPM', 'date', 'Name', 'Bloomberg Ticker',
       'BloombergID', 'Asset ID', 'Asset ID Type', 'SEDOL', 'Country',
       'GICS Sector', 'GICS Industry', 'GICS Industry Group',
       'GICS Sub-Industry', 'Holdings', 'Weight (%)', 'Mkt Value',
       'FG_COMPANY_NAME_SEDOL', 'P_SYMBOL_SEDOL', 'CUSIP',
       'FG_COMPANY_NAME_CUSIP', 'P_SYMBOL_CUSIP', 'ISIN',
       'FG_COMPANY_NAME_ISIN', 'P_SYMBOL_ISIN', 'CODE_JP',
       'FG_COMPANY_NAME_CODE_JP', 'P_SYMBOL_CODE_JP', 'P_SYMBOL',
       'FG_COMPANY_NAME'],
      dtype='object')

## 5. 欠損確認

### ✅ データベース確認

In [ ]:
table_names = sorted(db_utils.get_table_names(db_path=financials_db_path))
print(f"全{len(table_names)}テーブル")
display(table_names)

with sqlite3.connect(factset_index_db_path) as conn:
    df_weight = pd.read_sql(
        f"SELECT * FROM {UNIVERSE_CODE}", parse_dates=["date"], con=conn
    )
    display(df_weight.columns)
    display(df_weight.tail(5))

全454テーブル

['Active_Return_1M',
 'Active_Return_1M_annlzd',
 'Active_Return_3M',
 'Active_Return_3M_annlzd',
 'Active_Return_3Y',
 'Active_Return_3Y_annlzd',
 'Active_Return_5Y',
 'Active_Return_5Y_annlzd',
 'Active_Return_6M',
 'Active_Return_6M_annlzd',
 'FF_ASSETS',
 'FF_ASSETS_CAGR_3Y',
 'FF_ASSETS_CAGR_3Y_PctRank',
 'FF_ASSETS_CAGR_3Y_Rank',
 'FF_ASSETS_CAGR_3Y_ZScore',
 'FF_ASSETS_CAGR_5Y',
 'FF_ASSETS_CAGR_5Y_PctRank',
 'FF_ASSETS_CAGR_5Y_Rank',
 'FF_ASSETS_CAGR_5Y_ZScore',
 'FF_ASSETS_PctRank',
 'FF_ASSETS_QoQ',
 'FF_ASSETS_QoQ_PctRank',
 'FF_ASSETS_QoQ_Rank',
 'FF_ASSETS_QoQ_ZScore',
 'FF_ASSETS_Rank',
 'FF_ASSETS_YoY',
 'FF_ASSETS_YoY_PctRank',
 'FF_ASSETS_YoY_Rank',
 'FF_ASSETS_YoY_ZScore',
 'FF_ASSETS_ZScore',
 'FF_BPS',
 'FF_BPS_PctRank',
 'FF_BPS_Rank',
 'FF_BPS_TANG',
 'FF_BPS_TANG_PctRank',
 'FF_BPS_TANG_Rank',
 'FF_BPS_TANG_ZScore',
 'FF_BPS_ZScore',
 'FF_CAPEX',
 'FF_CAPEX_PctRank',
 'FF_CAPEX_Rank',
 'FF_CAPEX_ZScore',
 'FF_CASH_ST',
 'FF_CASH_ST_PctRank',
 'FF_CASH_ST_Rank',
 'FF_CASH_ST_ZScore',
 'FF_COGS',
 'FF_COGS_PctRank',
 'FF_COGS_Rank',
 'FF_COGS_ZScore',
 'FF_COM_EQ',
 'FF_COM_EQ_CAGR_3Y',
 'FF_COM_EQ_CAGR_3Y_PctRank',
 'FF_COM_EQ_CAGR_3Y_Rank',
 'FF_COM_EQ_CAGR_3Y_ZScore',
 'FF_COM_EQ_CAGR_5Y',
 'FF_COM_EQ_CAGR_5Y_PctRank',
 'FF_COM_EQ_CAGR_5Y_Rank',
 'FF_COM_EQ_CAGR_5Y_ZScore',
 'FF_COM_EQ_PctRank',
 'FF_COM_EQ_QoQ',
 'FF_COM_EQ_QoQ_PctRank',
 'FF_COM_EQ_QoQ_Rank',
 'FF_COM_EQ_QoQ_ZScore',
 'FF_COM_EQ_Rank',
 'FF_COM_EQ_YoY',
 'FF_COM_EQ_YoY_PctRank',
 'FF_COM_EQ_YoY_Rank',
 'FF_COM_EQ_YoY_ZScore',
 'FF_COM_EQ_ZScore',
 'FF_CURR_RATIO',
 'FF_CURR_RATIO_PctRank',
 'FF_CURR_RATIO_Rank',
 'FF_CURR_RATIO_ZScore',
 'FF_DEBT',
 'FF_DEBT_CAGR_3Y',
 'FF_DEBT_CAGR_3Y_PctRank',
 'FF_DEBT_CAGR_3Y_Rank',
 'FF_DEBT_CAGR_3Y_ZScore',
 'FF_DEBT_CAGR_5Y',
 'FF_DEBT_CAGR_5Y_PctRank',
 'FF_DEBT_CAGR_5Y_Rank',
 'FF_DEBT_CAGR_5Y_ZScore',
 'FF_DEBT_ENTRPR_VAL',
 'FF_DEBT_ENTRPR_VAL_PctRank',
 'FF_DEBT_ENTRPR_VAL_Rank',
 'FF_DEBT_ENTRPR_VAL_ZScore',
 'FF_DEBT_EQ',
 'FF_DEBT_EQ_PctRank',
 'FF_DEBT_EQ_Rank',
 'FF_DEBT_EQ_ZScore',
 'FF_DEBT_LT',
 'FF_DEBT_LT_CAGR_3Y',
 'FF_DEBT_LT_CAGR_3Y_PctRank',
 'FF_DEBT_LT_CAGR_3Y_Rank',
 'FF_DEBT_LT_CAGR_3Y_ZScore',
 'FF_DEBT_LT_CAGR_5Y',
 'FF_DEBT_LT_CAGR_5Y_PctRank',
 'FF_DEBT_LT_CAGR_5Y_Rank',
 'FF_DEBT_LT_CAGR_5Y_ZScore',
 'FF_DEBT_LT_PctRank',
 'FF_DEBT_LT_QoQ',
 'FF_DEBT_LT_QoQ_PctRank',
 'FF_DEBT_LT_QoQ_Rank',
 'FF_DEBT_LT_QoQ_ZScore',
 'FF_DEBT_LT_Rank',
 'FF_DEBT_LT_YoY',
 'FF_DEBT_LT_YoY_PctRank',
 'FF_DEBT_LT_YoY_Rank',
 'FF_DEBT_LT_YoY_ZScore',
 'FF_DEBT_LT_ZScore',
 'FF_DEBT_PctRank',
 'FF_DEBT_QoQ',
 'FF_DEBT_QoQ_PctRank',
 'FF_DEBT_QoQ_Rank',
 'FF_DEBT_QoQ_ZScore',
 'FF_DEBT_Rank',
 'FF_DEBT_ST',
 'FF_DEBT_ST_CAGR_3Y',
 'FF_DEBT_ST_CAGR_3Y_PctRank',
 'FF_DEBT_ST_CAGR_3Y_Rank',
 'FF_DEBT_ST_CAGR_3Y_ZScore',
 'FF_DEBT_ST_CAGR_5Y',
 'FF_DEBT_ST_CAGR_5Y_PctRank',
 'FF_DEBT_ST_CAGR_5Y_Rank',
 'FF_DEBT_ST_CAGR_5Y_ZScore',
 'FF_DEBT_ST_PctRank',
 'FF_DEBT_ST_QoQ',
 'FF_DEBT_ST_QoQ_PctRank',
 'FF_DEBT_ST_QoQ_Rank',
 'FF_DEBT_ST_QoQ_ZScore',
 'FF_DEBT_ST_Rank',
 'FF_DEBT_ST_YoY',
 'FF_DEBT_ST_YoY_PctRank',
 'FF_DEBT_ST_YoY_Rank',
 'FF_DEBT_ST_YoY_ZScore',
 'FF_DEBT_ST_ZScore',
 'FF_DEBT_YoY',
 'FF_DEBT_YoY_PctRank',
 'FF_DEBT_YoY_Rank',
 'FF_DEBT_YoY_ZScore',
 'FF_DEBT_ZScore',
 'FF_DEP_AMORT_EXP',
 'FF_DEP_AMORT_EXP_PctRank',
 'FF_DEP_AMORT_EXP_Rank',
 'FF_DEP_AMORT_EXP_ZScore',
 'FF_DIV_YLD',
 'FF_DIV_YLD_PctRank',
 'FF_DIV_YLD_Rank',
 'FF_DIV_YLD_ZScore',
 'FF_DPS',
 'FF_DPS_PctRank',
 'FF_DPS_Rank',
 'FF_DPS_ZScore',
 'FF_EBITDA_OPER',
 'FF_EBITDA_OPER_CAGR_3Y',
 'FF_EBITDA_OPER_CAGR_3Y_PctRank',
 'FF_EBITDA_OPER_CAGR_3Y_Rank',
 'FF_EBITDA_OPER_CAGR_3Y_ZScore',
 'FF_EBITDA_OPER_CAGR_5Y',
 'FF_EBITDA_OPER_CAGR_5Y_PctRank',
 'FF_EBITDA_OPER_CAGR_5Y_Rank',
 'FF_EBITDA_OPER_CAGR_5Y_ZScore',
 'FF_EBITDA_OPER_MGN',
 'FF_EBITDA_OPER_MGN_PctRank',
 'FF_EBITDA_OPER_MGN_Rank',
 'FF_EBITDA_OPER_MGN_ZScore',
 'FF_EBITDA_OPER_PctRank',
 'FF_EBITDA_OPER_QoQ',
 'FF_EBITDA_OPER_QoQ_PctRank',
 'FF_EBITDA_OPER_QoQ_Rank',
 'FF_EBITDA_OPER_QoQ_ZScore',
 'FF_EBITDA_OPER_Rank',
 'FF_EBITDA_OPER_YoY',
 'FF_EBITDA_OPER_YoY_PctRank',
 'FF_EBITDA_OPER_YoY_Rank',
 'FF_EBITDA_OPER_YoY_ZScore',
 'FF_EBITDA_OPER_ZScore',
 'FF_EBIT_OPER',
 'FF_EBIT_OPER_CAGR_3Y',
 'FF_EBIT_OPER_CAGR_3Y_PctRank',
 'FF_EBIT_OPER_CAGR_3Y_Rank',
 'FF_EBIT_OPER_CAGR_3Y_ZScore',
 'FF_EBIT_OPER_CAGR_5Y',
 'FF_EBIT_OPER_CAGR_5Y_PctRank',
 'FF_EBIT_OPER_CAGR_5Y_Rank',
 'FF_EBIT_OPER_CAGR_5Y_ZScore',
 'FF_EBIT_OPER_MGN',
 'FF_EBIT_OPER_MGN_PctRank',
 'FF_EBIT_OPER_MGN_Rank',
 'FF_EBIT_OPER_MGN_ZScore',
 'FF_EBIT_OPER_PctRank',
 'FF_EBIT_OPER_QoQ',
 'FF_EBIT_OPER_QoQ_PctRank',
 'FF_EBIT_OPER_QoQ_Rank',
 'FF_EBIT_OPER_QoQ_ZScore',
 'FF_EBIT_OPER_Rank',
 'FF_EBIT_OPER_YoY',
 'FF_EBIT_OPER_YoY_PctRank',
 'FF_EBIT_OPER_YoY_Rank',
 'FF_EBIT_OPER_YoY_ZScore',
 'FF_EBIT_OPER_ZScore',
 'FF_ENTRPR_VAL_EBITDA_OPER',
 'FF_ENTRPR_VAL_EBITDA_OPER_PctRank',
 'FF_ENTRPR_VAL_EBITDA_OPER_Rank',
 'FF_ENTRPR_VAL_EBITDA_OPER_ZScore',
 'FF_ENTRPR_VAL_EBIT_OPER',
 'FF_ENTRPR_VAL_EBIT_OPER_PctRank',
 'FF_ENTRPR_VAL_EBIT_OPER_Rank',
 'FF_ENTRPR_VAL_EBIT_OPER_ZScore',
 'FF_ENTRPR_VAL_SALES',
 'FF_ENTRPR_VAL_SALES_PctRank',
 'FF_ENTRPR_VAL_SALES_Rank',
 'FF_ENTRPR_VAL_SALES_ZScore',
 'FF_EPS',
 'FF_EPS_CAGR_3Y',
 'FF_EPS_CAGR_3Y_PctRank',
 'FF_EPS_CAGR_3Y_Rank',
 'FF_EPS_CAGR_3Y_ZScore',
 'FF_EPS_CAGR_5Y',
 'FF_EPS_CAGR_5Y_PctRank',
 'FF_EPS_CAGR_5Y_Rank',
 'FF_EPS_CAGR_5Y_ZScore',
 'FF_EPS_DIL',
 'FF_EPS_DIL_PctRank',
 'FF_EPS_DIL_Rank',
 'FF_EPS_DIL_ZScore',
 'FF_EPS_PctRank',
 'FF_EPS_QoQ',
 'FF_EPS_QoQ_PctRank',
 'FF_EPS_QoQ_Rank',
 'FF_EPS_QoQ_ZScore',
 'FF_EPS_Rank',
 'FF_EPS_YoY',
 'FF_EPS_YoY_PctRank',
 'FF_EPS_YoY_Rank',
 'FF_EPS_YoY_ZScore',
 'FF_EPS_ZScore',
 'FF_FREE_CF',
 'FF_FREE_CF_PctRank',
 'FF_FREE_CF_Rank',
 'FF_FREE_CF_ZScore',
 'FF_FREE_PS_CF',
 'FF_FREE_PS_CF_PctRank',
 'FF_FREE_PS_CF_Rank',
 'FF_FREE_PS_CF_ZScore',
 'FF_GROSS_INC',
 'FF_GROSS_INC_PctRank',
 'FF_GROSS_INC_Rank',
 'FF_GROSS_INC_ZScore',
 'FF_GROSS_MGN',
 'FF_GROSS_MGN_PctRank',
 'FF_GROSS_MGN_Rank',
 'FF_GROSS_MGN_ZScore',
 'FF_INC_TAX',
 'FF_INC_TAX_PctRank',
 'FF_INC_TAX_Rank',
 'FF_INC_TAX_ZScore',
 'FF_INT_EXP_NET',
 'FF_INT_EXP_NET_PctRank',
 'FF_INT_EXP_NET_Rank',
 'FF_INT_EXP_NET_ZScore',
 'FF_LIABS',
 'FF_LIABS_PctRank',
 'FF_LIABS_Rank',
 'FF_LIABS_SHLDRS_EQ',
 'FF_LIABS_SHLDRS_EQ_PctRank',
 'FF_LIABS_SHLDRS_EQ_Rank',
 'FF_LIABS_SHLDRS_EQ_ZScore',
 'FF_LIABS_ZScore',
 'FF_MIN_INT_ACCUM',
 'FF_MIN_INT_ACCUM_PctRank',
 'FF_MIN_INT_ACCUM_Rank',
 'FF_MIN_INT_ACCUM_ZScore',
 'FF_NET_DEBT',
 'FF_NET_DEBT_PctRank',
 'FF_NET_DEBT_Rank',
 'FF_NET_DEBT_ZScore',
 'FF_NET_INC',
 'FF_NET_INC_PctRank',
 'FF_NET_INC_Rank',
 'FF_NET_INC_ZScore',
 'FF_NET_MGN',
 'FF_NET_MGN_PctRank',
 'FF_NET_MGN_Rank',
 'FF_NET_MGN_ZScore',
 'FF_OPER_CF',
 'FF_OPER_CF_CAGR_3Y',
 'FF_OPER_CF_CAGR_3Y_PctRank',
 'FF_OPER_CF_CAGR_3Y_Rank',
 'FF_OPER_CF_CAGR_3Y_ZScore',
 'FF_OPER_CF_CAGR_5Y',
 'FF_OPER_CF_CAGR_5Y_PctRank',
 'FF_OPER_CF_CAGR_5Y_Rank',
 'FF_OPER_CF_CAGR_5Y_ZScore',
 'FF_OPER_CF_PctRank',
 'FF_OPER_CF_QoQ',
 'FF_OPER_CF_QoQ_PctRank',
 'FF_OPER_CF_QoQ_Rank',
 'FF_OPER_CF_QoQ_ZScore',
 'FF_OPER_CF_Rank',
 'FF_OPER_CF_YoY',
 'FF_OPER_CF_YoY_PctRank',
 'FF_OPER_CF_YoY_Rank',
 'FF_OPER_CF_YoY_ZScore',
 'FF_OPER_CF_ZScore',
 'FF_OPER_INC',
 'FF_OPER_INC_PctRank',
 'FF_OPER_INC_Rank',
 'FF_OPER_INC_ZScore',
 'FF_OPER_MGN',
 'FF_OPER_MGN_PctRank',
 'FF_OPER_MGN_Rank',
 'FF_OPER_MGN_ZScore',
 'FF_OPER_PS_NET_CF',
 'FF_OPER_PS_NET_CF_PctRank',
 'FF_OPER_PS_NET_CF_Rank',
 'FF_OPER_PS_NET_CF_ZScore',
 'FF_PAY_OUT_RATIO',
 'FF_PAY_OUT_RATIO_PctRank',
 'FF_PAY_OUT_RATIO_Rank',
 'FF_PAY_OUT_RATIO_ZScore',
 'FF_PBK',
 'FF_PBK_PctRank',
 'FF_PBK_Rank',
 'FF_PBK_ZScore',
 'FF_PE',
 'FF_PE_PctRank',
 'FF_PE_Rank',
 'FF_PE_ZScore',
 'FF_PFD_STK',
 'FF_PFD_STK_PctRank',
 'FF_PFD_STK_Rank',
 'FF_PFD_STK_ZScore',
 'FF_PPE_NET',
 'FF_PPE_NET_PctRank',
 'FF_PPE_NET_Rank',
 'FF_PPE_NET_ZScore',
 'FF_PSALES',
 'FF_PSALES_PctRank',
 'FF_PSALES_Rank',
 'FF_PSALES_ZScore',
 'FF_PTX_INC',
 'FF_PTX_INC_PctRank',
 'FF_PTX_INC_Rank',
 'FF_PTX_INC_ZScore',
 'FF_PTX_MGN',
 'FF_PTX_MGN_PctRank',
 'FF_PTX_MGN_Rank',
 'FF_PTX_MGN_ZScore',
 'FF_QUICK_RATIO',
 'FF_QUICK_RATIO_PctRank',
 'FF_QUICK_RATIO_Rank',
 'FF_QUICK_RATIO_ZScore',
 'FF_ROA',
 'FF_ROA_PctRank',
 'FF_ROA_Rank',
 'FF_ROA_ZScore',
 'FF_ROE',
 'FF_ROE_PctRank',
 'FF_ROE_Rank',
 'FF_ROE_ZScore',
 'FF_ROIC',
 'FF_ROIC_PctRank',
 'FF_ROIC_Rank',
 'FF_ROIC_ZScore',
 'FF_ROTC',
 'FF_ROTC_PctRank',
 'FF_ROTC_Rank',
 'FF_ROTC_ZScore',
 'FF_SALES',
 'FF_SALES_CAGR_3Y',
 'FF_SALES_CAGR_3Y_PctRank',
 'FF_SALES_CAGR_3Y_Rank',
 'FF_SALES_CAGR_3Y_ZScore',
 'FF_SALES_CAGR_5Y',
 'FF_SALES_CAGR_5Y_PctRank',
 'FF_SALES_CAGR_5Y_Rank',
 'FF_SALES_CAGR_5Y_ZScore',
 'FF_SALES_PS',
 'FF_SALES_PS_PctRank',
 'FF_SALES_PS_Rank',
 'FF_SALES_PS_ZScore',
 'FF_SALES_PctRank',
 'FF_SALES_QoQ',
 'FF_SALES_QoQ_PctRank',
 'FF_SALES_QoQ_Rank',
 'FF_SALES_QoQ_ZScore',
 'FF_SALES_Rank',
 'FF_SALES_YoY',
 'FF_SALES_YoY_PctRank',
 'FF_SALES_YoY_Rank',
 'FF_SALES_YoY_ZScore',
 'FF_SALES_ZScore',
 'FF_SGA',
 'FF_SGA_PctRank',
 'FF_SGA_Rank',
 'FF_SGA_ZScore',
 'FF_SHLDRS_EQ',
 'FF_SHLDRS_EQ_PctRank',
 'FF_SHLDRS_EQ_Rank',
 'FF_SHLDRS_EQ_ZScore',
 'FF_STK_OPT_EXP',
 'FF_STK_OPT_EXP_PctRank',
 'FF_STK_OPT_EXP_Rank',
 'FF_STK_OPT_EXP_ZScore',
 'FF_STK_PURCH_CF',
 'FF_STK_PURCH_CF_PctRank',
 'FF_STK_PURCH_CF_Rank',
 'FF_STK_PURCH_CF_ZScore',
 'FF_TAX_RATE',
 'FF_TAX_RATE_PctRank',
 'FF_TAX_RATE_Rank',
 'FF_TAX_RATE_ZScore',
 'FF_WKCAP',
 'FF_WKCAP_PctRank',
 'FF_WKCAP_Rank',
 'FF_WKCAP_ZScore',
 'FG_PRICE',
 'Forward_Active_Return_1M',
 'Forward_Active_Return_1M_annlzd',
 'Forward_Active_Return_3M',
 'Forward_Active_Return_3M_annlzd',
 'Forward_Active_Return_3Y',
 'Forward_Active_Return_3Y_annlzd',
 'Forward_Active_Return_5Y',
 'Forward_Active_Return_5Y_annlzd',
 'Forward_Active_Return_6M',
 'Forward_Active_Return_6M_annlzd',
 'Forward_Return_12M',
 'Forward_Return_12M_annlzd',
 'Forward_Return_1M',
 'Forward_Return_1M_annlzd',
 'Forward_Return_3M',
 'Forward_Return_3M_annlzd',
 'Forward_Return_3Y',
 'Forward_Return_3Y_annlzd',
 'Forward_Return_5Y',
 'Forward_Return_5Y_annlzd',
 'Forward_Return_6M',
 'Forward_Return_6M_annlzd',
 'ROIC_label_Past5Y',
 'Return_12M',
 'Return_12M_annlzd',
 'Return_1M',
 'Return_1M_annlzd',
 'Return_3M',
 'Return_3M_annlzd',
 'Return_3Y',
 'Return_3Y_annlzd',
 'Return_5Y',
 'Return_5Y_annlzd',
 'Return_6M',
 'Return_6M_annlzd']

Index(['Universe', 'Universe_code_BPM', 'date', 'Name', 'Bloomberg Ticker',
       'BloombergID', 'Asset ID', 'Asset ID Type', 'SEDOL', 'Country',
       'GICS Sector', 'GICS Industry', 'GICS Industry Group',
       'GICS Sub-Industry', 'Holdings', 'Weight (%)', 'Mkt Value',
       'FG_COMPANY_NAME_SEDOL', 'P_SYMBOL_SEDOL', 'CUSIP',
       'FG_COMPANY_NAME_CUSIP', 'P_SYMBOL_CUSIP', 'ISIN',
       'FG_COMPANY_NAME_ISIN', 'P_SYMBOL_ISIN', 'CODE_JP',
       'FG_COMPANY_NAME_CODE_JP', 'P_SYMBOL_CODE_JP', 'P_SYMBOL',
       'FG_COMPANY_NAME'],
      dtype='object')

,Universe,Universe_code_BPM,date,Name,Bloomberg Ticker,BloombergID,Asset ID,Asset ID Type,SEDOL,Country,...,FG_COMPANY_NAME_CUSIP,P_SYMBOL_CUSIP,ISIN,FG_COMPANY_NAME_ISIN,P_SYMBOL_ISIN,CODE_JP,FG_COMPANY_NAME_CODE_JP,P_SYMBOL_CODE_JP,P_SYMBOL,FG_COMPANY_NAME
400859,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZIMMER BIOMET HOLDINGS INC,None,None,USA4JT1,BARRAID,2783815,USA,...,ジンマー・バイオメット・ホールディングス,ZBH-US,US98956P1021,ジンマー・バイオメット・ホールディングス,ZBH-US,None,None,None,ZBH-US,ジンマー・バイオメット・ホールディングス
400860,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZOETIS INC,None,None,USBANZ1,BARRAID,B95WG16,USA,...,ゾエティス Class A,ZTS-US,US98978V1035,ゾエティス Class A,ZTS-US,None,None,None,ZTS-US,ゾエティス Class A
400861,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZOOM COMMUNICATIONS INC,None,None,USBEOV1,BARRAID,BGSP7M9,USA,...,ズーム・ビデオ・コミュニケーションズ Class A,ZM-US,US98980L1017,ズーム・ビデオ・コミュニケーションズ Class A,ZM-US,None,None,None,ZM-US,ズーム・ビデオ・コミュニケーションズ Class A
400862,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZSCALER INC,None,None,USBDYI1,BARRAID,BZ00V34,USA,...,ゼットスケイラー,ZS-US,US98980G1022,ゼットスケイラー,ZS-US,None,None,None,ZS-US,ゼットスケイラー
400863,MSCI KOKUSAI - Daily,MSXJPN_AD,2025-10-31,ZURICH INSURANCE GROUP AG,None,None,SWIAFM2,BARRAID,5983816,CHE,...,チューリッヒ・インシュアランス・グループ,ZFSVF-US,CH0011075394,チューリッヒ・インシュアランス・グループ,ZURN-CH,None,None,None,ZURN-CH,チューリッヒ・インシュアランス・グループ

In [ ]:
# 各変数を処理する関数
def process_variable(variable, financials_db_path, df_weight):
    with sqlite3.connect(financials_db_path) as conn:
        df_factor = pd.read_sql(
            f"SELECT `date`, `P_SYMBOL`, `value` FROM `{variable}`",
            con=conn,
            parse_dates=["date"],
        )

    merged_df = (
        pd.merge(df_weight, df_factor, on=["date", "P_SYMBOL"], how="outer")
        .rename(columns={"value": variable})
        .dropna(subset=["Weight (%)", variable], how="any", axis=0)
    ).fillna(np.nan)

    g = (
        pd.DataFrame(merged_df.groupby(["date"])["Weight (%)"].agg("sum"))
        .reset_index()
        .assign(variable=variable)
    )

    return g

In [ ]:
dfs_weight_sum = []
with ThreadPoolExecutor(max_workers=4) as executor:
    future_to_var = {
        executor.submit(process_variable, var, financials_db_path, df_weight): var
        for var in table_names
    }

    for future in as_completed(future_to_var):
        variable = future_to_var[future]
        try:
            result = future.result()
            if result is not None:
                dfs_weight_sum.append(result)
                print(f"✓ Completed: {variable}")
        except Exception as e:
            print(f"✗ Failed {variable}: {e}")

✓ Completed: Active_Return_3M
✓ Completed: Active_Return_1M_annlzd
✓ Completed: Active_Return_1M
✓ Completed: Active_Return_3M_annlzd
✓ Completed: Active_Return_3Y
✓ Completed: Active_Return_3Y_annlzd
✓ Completed: Active_Return_5Y
✓ Completed: Active_Return_5Y_annlzd
✓ Completed: Active_Return_6M
✓ Completed: FF_ASSETS
✓ Completed: Active_Return_6M_annlzd
✓ Completed: FF_ASSETS_CAGR_3Y
✓ Completed: FF_ASSETS_CAGR_5Y
✓ Completed: FF_ASSETS_CAGR_3Y_Rank
✓ Completed: FF_ASSETS_CAGR_3Y_PctRank
✓ Completed: FF_ASSETS_CAGR_3Y_ZScore
✓ Completed: FF_ASSETS_CAGR_5Y_PctRank
✓ Completed: FF_ASSETS_CAGR_5Y_Rank
✓ Completed: FF_ASSETS_CAGR_5Y_ZScore
✓ Completed: FF_ASSETS_PctRank
✓ Completed: FF_ASSETS_QoQ
✓ Completed: FF_ASSETS_QoQ_Rank
✓ Completed: FF_ASSETS_QoQ_PctRank
✓ Completed: FF_ASSETS_QoQ_ZScore
✓ Completed: FF_ASSETS_Rank
✓ Completed: FF_ASSETS_YoY
✓ Completed: FF_ASSETS_YoY_PctRank
✓ Completed: FF_ASSETS_YoY_Rank
✓ Completed: FF_ASSETS_YoY_ZScore
✓ Completed: FF_BPS
✓ Completed: FF_ASSETS_ZScore
✓ Completed: FF_BPS_TANG
✓ Completed: FF_BPS_PctRank
✓ Completed: FF_BPS_Rank
✓ Completed: FF_BPS_TANG_PctRank
✓ Completed: FF_BPS_TANG_Rank
✓ Completed: FF_BPS_ZScore
✓ Completed: FF_CAPEX
✓ Completed: FF_BPS_TANG_ZScore
✓ Completed: FF_CASH_ST
✓ Completed: FF_CAPEX_PctRank
✓ Completed: FF_CAPEX_Rank
✓ Completed: FF_CAPEX_ZScore
✓ Completed: FF_COGS
✓ Completed: FF_CASH_ST_PctRank
✓ Completed: FF_CASH_ST_Rank
✓ Completed: FF_CASH_ST_ZScore
✓ Completed: FF_COM_EQ
✓ Completed: FF_COGS_PctRank
✓ Completed: FF_COGS_Rank
✓ Completed: FF_COGS_ZScore
✓ Completed: FF_COM_EQ_CAGR_3Y
✓ Completed: FF_COM_EQ_CAGR_3Y_Rank
✓ Completed: FF_COM_EQ_CAGR_5Y
✓ Completed: FF_COM_EQ_CAGR_3Y_PctRank
✓ Completed: FF_COM_EQ_CAGR_3Y_ZScore
✓ Completed: FF_COM_EQ_CAGR_5Y_Rank
✓ Completed: FF_COM_EQ_CAGR_5Y_PctRank
✓ Completed: FF_COM_EQ_CAGR_5Y_ZScore
✓ Completed: FF_COM_EQ_PctRank
✓ Completed: FF_COM_EQ_QoQ
✓ Completed: FF_COM_EQ_QoQ_Rank
✓ Completed: FF_COM_EQ_QoQ_PctRank
✓ Completed: FF_COM_EQ_QoQ_ZScore
✓ Completed: FF_COM_EQ_Rank
✓ Completed: FF_COM_EQ_YoY
✓ Completed: FF_COM_EQ_YoY_PctRank
✓ Completed: FF_COM_EQ_YoY_Rank
✓ Completed: FF_CURR_RATIO
✓ Completed: FF_COM_EQ_YoY_ZScore
✓ Completed: FF_COM_EQ_ZScore
✓ Completed: FF_DEBT
✓ Completed: FF_CURR_RATIO_PctRank
✓ Completed: FF_CURR_RATIO_Rank
✓ Completed: FF_DEBT_CAGR_3Y
✓ Completed: FF_CURR_RATIO_ZScore
✓ Completed: FF_DEBT_CAGR_5Y
✓ Completed: FF_DEBT_CAGR_3Y_PctRank
✓ Completed: FF_DEBT_CAGR_3Y_Rank
✓ Completed: FF_DEBT_CAGR_3Y_ZScore
✓ Completed: FF_DEBT_CAGR_5Y_PctRank
✓ Completed: FF_DEBT_CAGR_5Y_Rank
✓ Completed: FF_DEBT_CAGR_5Y_ZScore
✓ Completed: FF_DEBT_ENTRPR_VAL
✓ Completed: FF_DEBT_EQ
✓ Completed: FF_DEBT_ENTRPR_VAL_PctRank
✓ Completed: FF_DEBT_ENTRPR_VAL_Rank
✓ Completed: FF_DEBT_ENTRPR_VAL_ZScore
✓ Completed: FF_DEBT_EQ_PctRank
✓ Completed: FF_DEBT_LT
✓ Completed: FF_DEBT_EQ_Rank
✓ Completed: FF_DEBT_LT_CAGR_3Y
✓ Completed: FF_DEBT_EQ_ZScore
✓ Completed: FF_DEBT_LT_CAGR_5Y
✓ Completed: FF_DEBT_LT_CAGR_3Y_PctRank
✓ Completed: FF_DEBT_LT_CAGR_3Y_Rank
✓ Completed: FF_DEBT_LT_CAGR_3Y_ZScore
✓ Completed: FF_DEBT_LT_CAGR_5Y_PctRank
✓ Completed: FF_DEBT_LT_CAGR_5Y_Rank
✓ Completed: FF_DEBT_LT_CAGR_5Y_ZScore
✓ Completed: FF_DEBT_LT_QoQ
✓ Completed: FF_DEBT_LT_PctRank
✓ Completed: FF_DEBT_LT_QoQ_PctRank
✓ Completed: FF_DEBT_LT_QoQ_Rank
✓ Completed: FF_DEBT_LT_Rank
✓ Completed: FF_DEBT_LT_YoY
✓ Completed: FF_DEBT_LT_QoQ_ZScore
✓ Completed: FF_DEBT_LT_YoY_PctRank
✓ Completed: FF_DEBT_LT_YoY_Rank
✓ Completed: FF_DEBT_LT_YoY_ZScore
✓ Completed: FF_DEBT_LT_ZScore
✓ Completed: FF_DEBT_QoQ
✓ Completed: FF_DEBT_PctRank
✓ Completed: FF_DEBT_QoQ_Rank
✓ Completed: FF_DEBT_QoQ_PctRank
✓ Completed: FF_DEBT_ST
✓ Completed: FF_DEBT_Rank
✓ Completed: FF_DEBT_ST_CAGR_3Y
✓ Completed: FF_DEBT_QoQ_ZScore
✓ Completed: FF_DEBT_ST_CAGR_5Y
✓ Completed: FF_DEBT_ST_CAGR_3Y_Rank
✓ Completed: FF_DEBT_ST_CAGR_3Y_PctRank
✓ Completed: FF_DEBT_ST_CAGR_3Y_ZScore
✓ Completed: FF_DEBT_ST_CAGR_5Y_PctRank
✓ Completed: FF_DEBT_ST_CAGR_5Y_Rank
✓ Completed: FF_DEBT_ST_CAGR_5Y_ZScore
✓ Completed: FF_DEBT_ST_QoQ
✓ Completed: FF_DEBT_ST_PctRank
✓ Completed: FF_DEBT_ST_QoQ_Rank
✓ Completed: FF_DEBT_ST_QoQ_PctRank
✓ Completed: FF_DEBT_ST_QoQ_ZScore
✓ Completed: FF_DEBT_ST_Rank
✓ Completed: FF_DEBT_ST_YoY
✓ Completed: FF_DEBT_ST_YoY_PctRank
✓ Completed: FF_DEBT_ST_YoY_Rank
✓ Completed: FF_DEBT_ST_YoY_ZScore
✓ Completed: FF_DEBT_ST_ZScore
✓ Completed: FF_DEBT_YoY
✓ Completed: FF_DEBT_YoY_PctRank
✓ Completed: FF_DEBT_YoY_Rank
✓ Completed: FF_DEBT_YoY_ZScore
✓ Completed: FF_DEBT_ZScore
✓ Completed: FF_DEP_AMORT_EXP
✓ Completed: FF_DIV_YLD
✓ Completed: FF_DEP_AMORT_EXP_PctRank
✓ Completed: FF_DEP_AMORT_EXP_Rank
✓ Completed: FF_DEP_AMORT_EXP_ZScore
✓ Completed: FF_DPS
✓ Completed: FF_DIV_YLD_PctRank
✓ Completed: FF_DIV_YLD_Rank
✓ Completed: FF_DIV_YLD_ZScore
✓ Completed: FF_EBITDA_OPER
✓ Completed: FF_DPS_PctRank
✓ Completed: FF_DPS_Rank
✓ Completed: FF_DPS_ZScore
✓ Completed: FF_EBITDA_OPER_CAGR_3Y
✓ Completed: FF_EBITDA_OPER_CAGR_3Y_Rank
✓ Completed: FF_EBITDA_OPER_CAGR_3Y_PctRank
✓ Completed: FF_EBITDA_OPER_CAGR_3Y_ZScore
✓ Completed: FF_EBITDA_OPER_CAGR_5Y
✓ Completed: FF_EBITDA_OPER_MGN
✓ Completed: FF_EBITDA_OPER_CAGR_5Y_PctRank
✓ Completed: FF_EBITDA_OPER_CAGR_5Y_Rank
✓ Completed: FF_EBITDA_OPER_CAGR_5Y_ZScore
✓ Completed: FF_EBITDA_OPER_MGN_Rank
✓ Completed: FF_EBITDA_OPER_MGN_PctRank
✓ Completed: FF_EBITDA_OPER_MGN_ZScore
✓ Completed: FF_EBITDA_OPER_PctRank
✓ Completed: FF_EBITDA_OPER_QoQ
✓ Completed: FF_EBITDA_OPER_QoQ_Rank
✓ Completed: FF_EBITDA_OPER_QoQ_PctRank
✓ Completed: FF_EBITDA_OPER_QoQ_ZScore
✓ Completed: FF_EBITDA_OPER_Rank
✓ Completed: FF_EBITDA_OPER_YoY
✓ Completed: FF_EBITDA_OPER_YoY_Rank
✓ Completed: FF_EBITDA_OPER_YoY_PctRank
✓ Completed: FF_EBIT_OPER_CAGR_3Y
✓ Completed: FF_EBITDA_OPER_YoY_ZScore
✓ Completed: FF_EBIT_OPER
✓ Completed: FF_EBITDA_OPER_ZScore
✓ Completed: FF_EBIT_OPER_CAGR_5Y
✓ Completed: FF_EBIT_OPER_CAGR_3Y_Rank
✓ Completed: FF_EBIT_OPER_CAGR_3Y_ZScore
✓ Completed: FF_EBIT_OPER_CAGR_3Y_PctRank
✓ Completed: FF_EBIT_OPER_CAGR_5Y_PctRank
✓ Completed: FF_EBIT_OPER_MGN
✓ Completed: FF_EBIT_OPER_CAGR_5Y_Rank
✓ Completed: FF_EBIT_OPER_CAGR_5Y_ZScore
✓ Completed: FF_EBIT_OPER_MGN_Rank
✓ Completed: FF_EBIT_OPER_MGN_PctRank
✓ Completed: FF_EBIT_OPER_MGN_ZScore
✓ Completed: FF_EBIT_OPER_PctRank
✓ Completed: FF_EBIT_OPER_QoQ
✓ Completed: FF_EBIT_OPER_QoQ_PctRank
✓ Completed: FF_EBIT_OPER_QoQ_Rank
✓ Completed: FF_EBIT_OPER_QoQ_ZScore
✓ Completed: FF_EBIT_OPER_Rank
✓ Completed: FF_EBIT_OPER_YoY
✓ Completed: FF_EBIT_OPER_YoY_PctRank
✓ Completed: FF_EBIT_OPER_YoY_Rank
✓ Completed: FF_EBIT_OPER_YoY_ZScore
✓ Completed: FF_EBIT_OPER_ZScore
✓ Completed: FF_ENTRPR_VAL_EBITDA_OPER
✓ Completed: FF_ENTRPR_VAL_EBITDA_OPER_PctRank
✓ Completed: FF_ENTRPR_VAL_EBIT_OPER
✓ Completed: FF_ENTRPR_VAL_EBITDA_OPER_Rank
✓ Completed: FF_ENTRPR_VAL_EBITDA_OPER_ZScore
✓ Completed: FF_ENTRPR_VAL_EBIT_OPER_PctRank
✓ Completed: FF_ENTRPR_VAL_SALES
✓ Completed: FF_ENTRPR_VAL_EBIT_OPER_Rank
✓ Completed: FF_ENTRPR_VAL_EBIT_OPER_ZScore
✓ Completed: FF_EPS
✓ Completed: FF_ENTRPR_VAL_SALES_Rank
✓ Completed: FF_ENTRPR_VAL_SALES_PctRank
✓ Completed: FF_EPS_CAGR_3Y
✓ Completed: FF_ENTRPR_VAL_SALES_ZScore
✓ Completed: FF_EPS_CAGR_5Y
✓ Completed: FF_EPS_CAGR_3Y_Rank
✓ Completed: FF_EPS_CAGR_3Y_PctRank
✓ Completed: FF_EPS_CAGR_3Y_ZScore
✓ Completed: FF_EPS_CAGR_5Y_PctRank
✓ Completed: FF_EPS_CAGR_5Y_Rank
✓ Completed: FF_EPS_DIL
✓ Completed: FF_EPS_CAGR_5Y_ZScore
✓ Completed: FF_EPS_DIL_PctRank
✓ Completed: FF_EPS_DIL_Rank
✓ Completed: FF_EPS_DIL_ZScore
✓ Completed: FF_EPS_PctRank
✓ Completed: FF_EPS_QoQ
✓ Completed: FF_EPS_QoQ_PctRank
✓ Completed: FF_EPS_QoQ_Rank
✓ Completed: FF_EPS_QoQ_ZScore
✓ Completed: FF_EPS_Rank
✓ Completed: FF_EPS_YoY
✓ Completed: FF_EPS_YoY_Rank
✓ Completed: FF_EPS_YoY_PctRank
✓ Completed: FF_EPS_YoY_ZScore
✓ Completed: FF_FREE_CF
✓ Completed: FF_EPS_ZScore
✓ Completed: FF_FREE_CF_PctRank
✓ Completed: FF_FREE_PS_CF
✓ Completed: FF_FREE_CF_Rank
✓ Completed: FF_FREE_CF_ZScore
✓ Completed: FF_GROSS_INC
✓ Completed: FF_FREE_PS_CF_PctRank
✓ Completed: FF_FREE_PS_CF_Rank
✓ Completed: FF_FREE_PS_CF_ZScore
✓ Completed: FF_GROSS_MGN
✓ Completed: FF_GROSS_INC_Rank
✓ Completed: FF_GROSS_INC_PctRank
✓ Completed: FF_GROSS_INC_ZScore
✓ Completed: FF_INC_TAX
✓ Completed: FF_GROSS_MGN_Rank
✓ Completed: FF_GROSS_MGN_PctRank
✓ Completed: FF_GROSS_MGN_ZScore
✓ Completed: FF_INT_EXP_NET
✓ Completed: FF_INC_TAX_PctRank
✓ Completed: FF_INC_TAX_Rank
✓ Completed: FF_INC_TAX_ZScore
✓ Completed: FF_LIABS
✓ Completed: FF_INT_EXP_NET_PctRank
✓ Completed: FF_INT_EXP_NET_Rank
✓ Completed: FF_INT_EXP_NET_ZScore
✓ Completed: FF_LIABS_SHLDRS_EQ
✓ Completed: FF_LIABS_PctRank
✓ Completed: FF_LIABS_Rank
✓ Completed: FF_LIABS_SHLDRS_EQ_PctRank
✓ Completed: FF_LIABS_SHLDRS_EQ_Rank
✓ Completed: FF_MIN_INT_ACCUM
✓ Completed: FF_LIABS_ZScore
✓ Completed: FF_LIABS_SHLDRS_EQ_ZScore
✓ Completed: FF_NET_DEBT
✓ Completed: FF_MIN_INT_ACCUM_PctRank
✓ Completed: FF_MIN_INT_ACCUM_Rank
✓ Completed: FF_MIN_INT_ACCUM_ZScore
✓ Completed: FF_NET_INC
✓ Completed: FF_NET_DEBT_PctRank
✓ Completed: FF_NET_DEBT_Rank
✓ Completed: FF_NET_DEBT_ZScore
✓ Completed: FF_NET_MGN
✓ Completed: FF_NET_INC_Rank
✓ Completed: FF_NET_INC_PctRank
✓ Completed: FF_NET_INC_ZScore
✓ Completed: FF_OPER_CF
✓ Completed: FF_NET_MGN_PctRank
✓ Completed: FF_NET_MGN_Rank
✓ Completed: FF_NET_MGN_ZScore
✓ Completed: FF_OPER_CF_CAGR_3Y
✓ Completed: FF_OPER_CF_CAGR_5Y
✓ Completed: FF_OPER_CF_CAGR_3Y_PctRank
✓ Completed: FF_OPER_CF_CAGR_3Y_Rank
✓ Completed: FF_OPER_CF_CAGR_3Y_ZScore
✓ Completed: FF_OPER_CF_CAGR_5Y_PctRank
✓ Completed: FF_OPER_CF_CAGR_5Y_Rank
✓ Completed: FF_OPER_CF_CAGR_5Y_ZScore
✓ Completed: FF_OPER_CF_PctRank
✓ Completed: FF_OPER_CF_QoQ
✓ Completed: FF_OPER_CF_QoQ_Rank
✓ Completed: FF_OPER_CF_QoQ_PctRank
✓ Completed: FF_OPER_CF_Rank
✓ Completed: FF_OPER_CF_QoQ_ZScore
✓ Completed: FF_OPER_CF_YoY
✓ Completed: FF_OPER_CF_YoY_PctRank
✓ Completed: FF_OPER_CF_YoY_Rank
✓ Completed: FF_OPER_CF_ZScore
✓ Completed: FF_OPER_INC
✓ Completed: FF_OPER_CF_YoY_ZScore
✓ Completed: FF_OPER_MGN
✓ Completed: FF_OPER_INC_PctRank
✓ Completed: FF_OPER_INC_Rank
✓ Completed: FF_OPER_INC_ZScore
✓ Completed: FF_OPER_PS_NET_CF
✓ Completed: FF_OPER_MGN_PctRank
✓ Completed: FF_OPER_MGN_Rank
✓ Completed: FF_OPER_MGN_ZScore
✓ Completed: FF_PAY_OUT_RATIO
✓ Completed: FF_OPER_PS_NET_CF_Rank
✓ Completed: FF_OPER_PS_NET_CF_PctRank
✓ Completed: FF_OPER_PS_NET_CF_ZScore
✓ Completed: FF_PBK
✓ Completed: FF_PAY_OUT_RATIO_PctRank
✓ Completed: FF_PAY_OUT_RATIO_Rank
✓ Completed: FF_PAY_OUT_RATIO_ZScore
✓ Completed: FF_PE
✓ Completed: FF_PBK_PctRank
✓ Completed: FF_PBK_Rank
✓ Completed: FF_PBK_ZScore
✓ Completed: FF_PFD_STK
✓ Completed: FF_PE_PctRank
✓ Completed: FF_PE_Rank
✓ Completed: FF_PE_ZScore
✓ Completed: FF_PPE_NET
✓ Completed: FF_PFD_STK_Rank
✓ Completed: FF_PFD_STK_PctRank
✓ Completed: FF_PFD_STK_ZScore
✓ Completed: FF_PSALES
✓ Completed: FF_PPE_NET_PctRank
✓ Completed: FF_PPE_NET_Rank
✓ Completed: FF_PPE_NET_ZScore
✓ Completed: FF_PTX_INC
✓ Completed: FF_PSALES_PctRank
✓ Completed: FF_PSALES_Rank
✓ Completed: FF_PSALES_ZScore
✓ Completed: FF_PTX_MGN
✓ Completed: FF_PTX_INC_Rank
✓ Completed: FF_PTX_INC_PctRank
✓ Completed: FF_PTX_INC_ZScore
✓ Completed: FF_QUICK_RATIO
✓ Completed: FF_PTX_MGN_PctRank
✓ Completed: FF_PTX_MGN_Rank
✓ Completed: FF_PTX_MGN_ZScore
✓ Completed: FF_ROA
✓ Completed: FF_QUICK_RATIO_PctRank
✓ Completed: FF_QUICK_RATIO_Rank
✓ Completed: FF_QUICK_RATIO_ZScore
✓ Completed: FF_ROE
✓ Completed: FF_ROA_PctRank
✓ Completed: FF_ROA_Rank
✓ Completed: FF_ROA_ZScore
✓ Completed: FF_ROIC
✓ Completed: FF_ROE_PctRank
✓ Completed: FF_ROE_Rank
✓ Completed: FF_ROE_ZScore
✓ Completed: FF_ROTC
✓ Completed: FF_ROIC_PctRank
✓ Completed: FF_ROIC_Rank
✓ Completed: FF_ROIC_ZScore
✓ Completed: FF_SALES
✓ Completed: FF_ROTC_PctRank
✓ Completed: FF_ROTC_Rank
✓ Completed: FF_ROTC_ZScore
✓ Completed: FF_SALES_CAGR_3Y
✓ Completed: FF_SALES_CAGR_5Y
✓ Completed: FF_SALES_CAGR_3Y_Rank
✓ Completed: FF_SALES_CAGR_3Y_PctRank
✓ Completed: FF_SALES_CAGR_3Y_ZScore
✓ Completed: FF_SALES_PS
✓ Completed: FF_SALES_CAGR_5Y_PctRank
✓ Completed: FF_SALES_CAGR_5Y_Rank
✓ Completed: FF_SALES_CAGR_5Y_ZScore
✓ Completed: FF_SALES_PS_Rank
✓ Completed: FF_SALES_PS_PctRank
✓ Completed: FF_SALES_PS_ZScore
✓ Completed: FF_SALES_PctRank
✓ Completed: FF_SALES_QoQ
✓ Completed: FF_SALES_QoQ_Rank
✓ Completed: FF_SALES_QoQ_PctRank
✓ Completed: FF_SALES_QoQ_ZScore
✓ Completed: FF_SALES_Rank
✓ Completed: FF_SALES_YoY
✓ Completed: FF_SALES_YoY_PctRank
✓ Completed: FF_SALES_YoY_Rank
✓ Completed: FF_SGA
✓ Completed: FF_SALES_YoY_ZScore
✓ Completed: FF_SALES_ZScore
✓ Completed: FF_SGA_PctRank
✓ Completed: FF_SHLDRS_EQ
✓ Completed: FF_SGA_Rank
✓ Completed: FF_SGA_ZScore
✓ Completed: FF_SHLDRS_EQ_PctRank
✓ Completed: FF_STK_OPT_EXP
✓ Completed: FF_SHLDRS_EQ_Rank
✓ Completed: FF_SHLDRS_EQ_ZScore
✓ Completed: FF_STK_OPT_EXP_PctRank
✓ Completed: FF_STK_OPT_EXP_Rank
✓ Completed: FF_STK_OPT_EXP_ZScore
✓ Completed: FF_STK_PURCH_CF
✓ Completed: FF_TAX_RATE
✓ Completed: FF_STK_PURCH_CF_PctRank
✓ Completed: FF_STK_PURCH_CF_Rank
✓ Completed: FF_STK_PURCH_CF_ZScore
✓ Completed: FF_WKCAP
✓ Completed: FF_TAX_RATE_Rank
✓ Completed: FF_TAX_RATE_PctRank
✓ Completed: FF_TAX_RATE_ZScore
✓ Completed: FG_PRICE
✓ Completed: FF_WKCAP_Rank
✓ Completed: FF_WKCAP_PctRank
✓ Completed: FF_WKCAP_ZScore
✓ Completed: Forward_Active_Return_1M
✓ Completed: Forward_Active_Return_3M
✓ Completed: Forward_Active_Return_1M_annlzd
✓ Completed: Forward_Active_Return_3M_annlzd
✓ Completed: Forward_Active_Return_3Y
✓ Completed: Forward_Active_Return_3Y_annlzd
✓ Completed: Forward_Active_Return_5Y
✓ Completed: Forward_Active_Return_5Y_annlzd
✓ Completed: Forward_Active_Return_6M
✓ Completed: Forward_Active_Return_6M_annlzd
✓ Completed: Forward_Return_12M
✓ Completed: Forward_Return_1M
✓ Completed: Forward_Return_12M_annlzd
✓ Completed: Forward_Return_1M_annlzd
✓ Completed: Forward_Return_3M
✓ Completed: Forward_Return_3Y
✓ Completed: Forward_Return_3M_annlzd
✓ Completed: Forward_Return_3Y_annlzd
✓ Completed: Forward_Return_5Y
✓ Completed: Forward_Return_6M
✓ Completed: ROIC_label_Past5Y
✓ Completed: Forward_Return_5Y_annlzd
✓ Completed: Forward_Return_6M_annlzd
✓ Completed: Return_1M
✓ Completed: Return_12M
✓ Completed: Return_12M_annlzd
✓ Completed: Return_1M_annlzd
✓ Completed: Return_3M
✓ Completed: Return_3Y
✓ Completed: Return_3M_annlzd
✓ Completed: Return_3Y_annlzd
✓ Completed: Return_5Y
✓ Completed: Return_6M
✓ Completed: Return_5Y_annlzd
✓ Completed: Return_6M_annlzd

In [ ]:
df_weight_sum = pd.concat(dfs_weight_sum).sort_values(
    ["date", "Weight (%)"], ignore_index=True
)
df_weight_sum = (
    pd.pivot(df_weight_sum, index=["date"], columns="variable", values="Weight (%)")
    .reset_index()
    .filter(regex="date|_Rank|_PctRank|_ZScore")
)
display(df_weight_sum)

output_path = BLOOMBERG_DATA_DIR / f"{UNIVERSE_CODE}_not_missing_weight.xlsx"
df_weight_sum.to_excel(output_path, index=False)

variable,date,FF_ASSETS_CAGR_3Y_PctRank,FF_ASSETS_CAGR_3Y_Rank,FF_ASSETS_CAGR_3Y_ZScore,FF_ASSETS_CAGR_5Y_PctRank,FF_ASSETS_CAGR_5Y_Rank,FF_ASSETS_CAGR_5Y_ZScore,FF_ASSETS_PctRank,FF_ASSETS_QoQ_PctRank,FF_ASSETS_QoQ_Rank,...,FF_STK_OPT_EXP_ZScore,FF_STK_PURCH_CF_PctRank,FF_STK_PURCH_CF_Rank,FF_STK_PURCH_CF_ZScore,FF_TAX_RATE_PctRank,FF_TAX_RATE_Rank,FF_TAX_RATE_ZScore,FF_WKCAP_PctRank,FF_WKCAP_Rank,FF_WKCAP_ZScore
0,2005-08-31,NaN,NaN,NaN,NaN,NaN,NaN,97.532947,NaN,NaN,...,15.983133,61.725108,61.725108,59.932037,93.525348,93.525348,93.525348,89.346444,89.346444,89.346444
1,2005-09-30,NaN,NaN,NaN,NaN,NaN,NaN,96.534935,NaN,NaN,...,15.871030,62.047600,62.047600,51.564443,93.419152,93.419152,93.419152,89.205829,89.205829,89.205829
2,2005-10-31,NaN,NaN,NaN,NaN,NaN,NaN,96.471981,NaN,NaN,...,16.097034,61.961402,61.961402,52.128179,93.798649,93.798649,93.798649,89.420052,89.420052,89.420052
3,2005-11-30,NaN,NaN,NaN,NaN,NaN,NaN,96.472460,97.503718,97.503718,...,16.909461,62.512187,62.512187,52.846167,93.905481,93.905481,93.905481,89.080571,89.080571,89.080571
4,2005-12-31,NaN,NaN,NaN,NaN,NaN,NaN,97.655170,97.996633,97.996633,...,20.332567,62.126714,62.126714,60.209553,91.484261,91.484261,91.484261,93.541597,93.541597,93.541597
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
238,2025-06-30,99.000611,99.000611,99.000611,97.892807,97.892807,97.892807,99.504106,99.999989,99.999989,...,77.992514,97.671326,97.671326,93.137308,97.224061,97.224061,97.224061,99.363345,99.363345,99.363345
239,2025-07-31,99.073587,99.073587,99.073587,97.926685,97.926685,97.926685,99.627776,100.000012,100.000012,...,78.723921,97.738047,97.738047,93.201061,97.311733,97.311733,97.311733,99.490787,99.490787,99.490787
240,2025-08-31,99.090801,99.090801,99.090801,97.910641,97.910641,97.910641,99.625314,100.000009,100.000009,...,78.425465,97.698057,97.698057,93.258100,97.260548,97.260548,97.260548,99.488512,99.488512,99.488512
241,2025-09-30,98.275030,98.275030,98.275030,97.371288,97.371288,97.371288,98.765681,99.999991,99.999991,...,77.311625,96.750014,96.750014,92.399361,97.000819,97.000819,97.000819,98.463638,98.463638,98.463638
242,2025-10-31,84.364438,84.364438,84.364438,83.495933,83.495933,83.495933,84.841295,99.958187,99.958187,...,64.899854,82.994720,82.994720,78.703790,83.502311,83.502311,83.502311,84.549601,84.549601,84.549601

In [ ]:
# 欠損確認（Weight (%)）
dfs_weight_sum = []
with sqlite3.connect(financials_db_path) as conn:
    for variable in table_names:
        df_factor = pd.read_sql(
            f"SELECT `date`, `P_SYMBOL`, `value` FROM `{variable}`",
            con=conn,
            parse_dates=["date"],
        )
        merged_df = (
            pd.merge(df_weight, df_factor, on=["date", "P_SYMBOL"], how="outer")
            .rename(columns={"value": variable})
            .dropna(subset=["Weight (%)", variable], how="any", axis=0)
        ).fillna(np.nan)

        g = (
            pd.DataFrame(merged_df.groupby(["date"])["Weight (%)"].agg("sum"))
            .reset_index()
            .assign(variable=variable)
        )

        dfs_weight_sum.append(g)

df_weight_sum = pd.concat(dfs_weight_sum, ignore_index=True)
df_weight_sum = pd.pivot(
    df_weight_sum, index=["date"], columns="variable", values="Weight (%)"
).reset_index()
display(df_weight_sum)

KeyboardInterrupt:

## Growth factor

#### performance

In [ ]:
# 構成銘柄情報
conn = sqlite3.connect(factset_index_db_path)
query = f"""
    SELECT
        `date`, `Universe`, `Universe_code_BPM`, `P_SYMBOL`, `Name`, `FG_COMPANY_NAME`, `Asset ID`, `Asset ID Type`, `Country`,
        `GICS Sector`, `GICS Industry`, `GICS Industry Group`, `GICS Sub-Industry`, `Holdings`, `Weight (%)`, `Mkt Value`
    FROM
        {UNIVERSE_CODE}
"""
df_weight = pd.read_sql(query, con=conn)

# ROIC label and Return
conn = sqlite3.connect(financials_db_path)
union_queries = (
    ["SELECT * FROM ROIC_label_Past5Y"]
    + ["SELECT * FROM FF_SALES_QoQ_Rank"]
    + ["SELECT * FROM FF_SALES_YoY_Rank"]
    + ["SELECT * FROM FF_SALES_CAGR_3Y_Rank"]
    + ["SELECT * FROM FF_EBITDA_OPER_QoQ_Rank"]
    + ["SELECT * FROM FF_EBITDA_OPER_YoY_Rank"]
    + ["SELECT * FROM FF_EBITDA_OPER_CAGR_3Y_Rank"]
    + [
        f"SELECT * FROM '{table}'"
        for table in db_utils.get_table_names(db_path=financials_db_path)
        if "annlzd" in table
    ]
)
query = " UNION ALL ".join(union_queries)
data = pd.pivot(
    pd.read_sql(query, con=conn),
    index=["date", "P_SYMBOL"],
    columns="variable",
    values="value",
).reset_index()

df = (
    pd.merge(df_weight, data, on=["date", "P_SYMBOL"], how="outer")
    .dropna(subset=["Weight (%)"])
    .fillna(np.nan)
)

display(df)


df_slice = df.loc[(df["date"] >= "2015-01-01")]
return_cols = [
    "Return_1M_annlzd",
    "Return_3M_annlzd",
    "Return_6M_annlzd",
    "Return_12M_annlzd",
    "Return_3Y_annlzd",
    "Return_5Y_annlzd",
    "Forward_Return_1M_annlzd",
    "Forward_Return_3M_annlzd",
    "Forward_Return_6M_annlzd",
    "Forward_Return_12M_annlzd",
    "Forward_Return_3Y_annlzd",
    "Forward_Return_5Y_annlzd",
]

pd.options.display.precision = 2
for factor in [
    "ROIC_label_Past5Y",
    "FF_SALES_QoQ_Rank",
    "FF_SALES_YoY_Rank",
    "FF_SALES_CAGR_3Y_Rank",
    "FF_EBITDA_OPER_QoQ_Rank",
    "FF_EBITDA_OPER_YoY_Rank",
    "FF_EBITDA_OPER_CAGR_3Y_Rank",
]:
    print(factor)
    g_mean = df_slice.groupby([factor])[return_cols].apply(roic_utils.clipped_mean, 1.0)
    g_std = df_slice.groupby([factor])[return_cols].apply(roic_utils.clipped_std, 1.0)

    g_eff = g_mean.div(g_std)

    display(g_eff)

### Check constituents

In [ ]:
g = df.groupby(["date"])["Weight (%)"].agg(["count", "sum"])
display(g.tail(10))
display(
    df.loc[
        (df["FG_COMPANY_NAME"].str.contains("NVIDIA"))
        & (df["GICS Sector"] == "Information Technology")
    ]
)

            count        sum
date
2024-07-31    918  92.119993
2024-09-30    909  91.925236
2024-10-31    909  91.803620
2024-12-31    902  91.681202
2025-01-31    904  91.444891
2025-02-28    918  92.131118
2025-03-31    897  92.223468
2025-04-30    901  91.909803
2025-06-30    797  88.918013
2025-07-31    759  76.355171

,date,Symbol,FG_COMPANY_NAME,GICS Sector,GICS Industry,Weight (%),Mkt Value,ROIC_label_Past5Y,Return_Ann_1M,Return_Ann_1Y,Return_Ann_3M,Return_Ann_3Y,Return_Ann_5Y,Return_Ann_6M
79401,2012-08-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.038312,6.708320e+11,others,0.426596,0.052682,0.484340,0.117571,-0.112797,-0.153605
80629,2012-10-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.032390,5.920480e+11,others,-1.295350,-0.211806,-0.491308,0.019635,-0.109140,-0.164256
81855,2012-11-30,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.032106,6.113730e+11,others,-0.005013,-0.266789,-0.635177,-0.025716,-0.094363,-0.075419
83100,2012-12-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.032503,6.582890e+11,others,0.287262,-0.122665,-0.337700,-0.056395,-0.116272,-0.239550
84361,2013-01-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,0.030846,6.930990e+11,others,0.000000,-0.186256,0.094083,-0.067902,-0.126635,-0.198613
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
211945,2025-01-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.301899,4.560820e+14,remain high,-1.343121,1.079883,-0.401872,0.605904,0.701776,0.051460
213137,2025-02-28,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.510090,4.617730e+14,remain high,0.475184,0.982432,-0.405560,0.573094,0.695583,0.090891
214305,2025-03-31,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.121013,3.969130e+14,remain high,-1.704360,0.566167,-0.857432,0.551579,0.635205,-0.227553
215464,2025-04-30,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,4.121320,3.804850e+14,remain high,0.059641,0.319749,-0.389845,0.401324,0.694163,-0.395859
216528,2025-06-30,NVDA-US,NVIDIAコーポレーション,Information Technology,Semiconductors & Semiconductor Equipment,5.411878,5.568290e+14,remain high,1.875534,0.365393,1.507553,0.621477,0.726074,0.325060

## Performance

### ROIC label Performance

In [ ]:
avg_return = (
    pd.DataFrame(
        df.groupby(["date", "ROIC_label_Past5Y"]).apply(
            lambda row: roic_utils.clipped_mean(row["Return_Ann_5Y"], percentile=5)
        )
    )
    .reset_index()
    .rename(columns={0: "avg"})
)
std = pd.DataFrame(
    df.groupby(["date", "ROIC_label_Past5Y"])
    .apply(lambda row: roic_utils.clipped_std(row["Return_Ann_5Y"], percentile=5))
    .reset_index()
    .rename(columns={0: "std"})
)
df_performance = pd.merge(
    avg_return, std, on=["date", "ROIC_label_Past5Y"], how="left"
).assign(efficiency=lambda row: row["avg"].div(row["std"]))
df_performance = pd.pivot(
    df_performance, index="date", columns="ROIC_label_Past5Y"
).sort_index()
display(df_performance)

KeyError: 'Return_Ann_5Y'